<div class="top-line">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="top-line__content">
                    <div class="logo">
                        <a href="/">
                            <img src="assets/img/atb_logo.svg" alt="logo">
                        </a>
                    </div>
                    <div class="top-line__toolbar">
                        <div class="toolbar-top d-none d-lg-flex">
                            <div>
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="#">О Компании</a>
                                        </li>
                                        <li>
                                            <a href="#">Новости</a>
                                        </li>
                                        <li>
                                            <a href="#">Вакансии</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div>
                                <nav>
                                    <ul>
                                        
                                        <li>
                                            <a href="#">
                                                Заказать звонок
                                                <span class="icon icon-incoming">
                                                    <svg><use xlink:href="#incomming"></use></svg>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Оставить заявку
                                                <span class="icon icon-uploads">
                                                    <svg><use xlink:href="#uploads"></use></svg>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="toolbar-bottom d-none d-lg-flex">
                            <div>
                                <nav>
                                    <ul>
                                        <li>
                                            <a class="active" href="#">Программы лизинга</a>
                                        </li>
                                        <li>
                                            <a href="#">Факторинг</a>
                                        </li>
                                        <li>
                                            <a href="#">Спецпредложения</a>
                                        </li>
                                        <li>
                                            <a href="#">Наши партнеры</a>
                                        </li>
                                        <li>
                                            <a href="#">Документы</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div>
                                <nav>
                                    <ul>
                                        <li>
                                            <a data-search-target="#serach-popup" href="#">
                                                <span class="icon icon-search">
                                                    <svg><use xlink:href="#search"></use></svg>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <a data-search-button class="search-button d-flex d-lg-none" href="#">
                            <span class="icon icon-search">
                                <svg><use xlink:href="#search"></use></svg>
                            </span>
                        </a>
                        <button class="burger d-flex d-lg-none">
                            <span></span><span></span><span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>