
.header{
    &:not(.animate-img) {
        h1{
            transition-delay: .5s;
        }
    }
    h1{
        transition: transform 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), clip-path .8s ease-out, opacity 1s ease-in-out;
        transform-origin: center;
        transform: scale(.5) translateY(30%);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    p{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: transform 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), clip-path .8s ease-out;
        transition-delay: 1.3s;
        transform: translateY(100%);
    }
    .description{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: transform 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), clip-path .8s ease-out;
        transition-delay: 1.5s;
        transform: translateY(100%);
    }
    .arrow-down{
        transform-origin: 50% 0;
        transform: scale(.1) translateY(-200%);
        opacity: 0;
        transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition-delay: 2.5s;
    }
    .header-img{
        @media (min-width: 992px) {
            transform: translateY(50%);
            opacity: 0;
            transition: all 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition-delay: 2.5s;
        }
    }
    &.animate{
        h1{
            transform: scale(1) translateY(0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        .description,
        P{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            transform: translateY(0);
        }
        .arrow-down{
            transform: scale(1) translateY(0);
            opacity: 1;
        }
        .header-img{
            transform: translateY(0);
            opacity: 1;
        }
        
    }
    &.animate-img{
        h1, p, .description, .arrow-down{
            transform: scale(1.5) translateY(150%);
            transition-delay: 0 !important;
            opacity: 0;
        }
    }
}
[data-gsap-img]{
    @media (min-width: 992px) {
        min-height: 100vh;
    }
}
[data-gsap-header] {
    //min-height: 300vh;
}
[data-gsap-tesis] {
    position: relative;
    z-index: 2;
}

.section-tesis{
    min-height: 100vh;
    [data-gsap-tesis-1] {
        transition: all .1s ease;
        transition-delay:1s;
        span{
            clip-path: polygon(0 92%, 100% 70%, 100% 100%, 0% 100%);
            transition: all .7s ease-in-out;
            transition-delay: 1.3s;
            opacity: 0;
        }
        b{
            clip-path: polygon(0 92%, 100% 70%, 100% 100%, 0% 100%);
            transform: rotate(4deg) translateY(50%);
            opacity: 0;
            &:nth-child(2){
                transition: all .8s ease-in-out;
                transition-delay: .9s;
            }
            &:nth-child(4){
                transition: all .7s ease-in-out;
                transition-delay: 1.3s;
            }
        }
    }
    [data-gsap-tesis-2] {
        &::before{
            width: 0;
            transition: all 1s cubic-bezier(0.4, 0.01, 0.09, 1.01);
            transition-delay: 1.1s;
        }
        .block-content{
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            transform: translateY(50%) scale(.8);
            transition: all 1s cubic-bezier(0.4, 0.01, 0.09, 1.01);
            transition-delay: 1.1s;
            transform-origin: center bottom;
        }
    }
    [data-gsap-tesis-3] {
        .block__line-top{
            transition-delay: 1.3s;
            &::before{
                width: 0;
                transition: all .8s cubic-bezier(0.4, 0.01, 0.09, 1.01);
                transition-delay: 1.3s;
                transform-origin: right top;
            }
            .block-content{
                transition: clip-path .8s cubic-bezier(0.4, 0.01, 0.09, 1.01), transform 1s cubic-bezier(0.4, 0.01, 0.09, 1.01);
                transition-delay: 1.5s;
                clip-path: polygon(0 100%, 0 100%, 0 0, 0 0);
                transform: translateX(50%);
                opacity: 0;
            }
        }
        .block-column__left{
            transition: all 2s cubic-bezier(0.4, 0.01, 0.09, 1.01);
            transition-delay: 1.3s;
            //transform: translateY(100%);
            opacity: 0;
        }
    }
    &.animate-visible{
        [data-gsap-tesis-1] {
            &.animate{
                span{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                    //transform: rotate(0) translateY(0);
                    opacity: 1;
                }
                b{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                    transform: rotate(0) translateY(0);
                    opacity: 1;
                }
                
            }
        }
        [data-gsap-tesis-2] {
            &.animate{
                &::before{
                    width: calc(100% - 50px);
                }
                .block-content{
                    transform: translateY(0) scale(1);
                    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
                }
            }
        }
        [data-gsap-tesis-3] {
            &.animate{
                .block__line-top{
                    &::before{
                        width: 100%;
                    }
                    .block-content{
                        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
                .block-column__left{
                    transform: translateY(0);
                    opacity: 1;
                }
                
            }
        }
    }
} 

.section-unclear{
    [data-gsap-unclear-1] {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        transition: all 1s ease;
        transition-delay: 1s;
        transform-origin: left bottom;
        span{
            display: inline-block;
            transform: translateY(20%) rotate(10deg);
            transform-origin: left bottom;
            transition: all 1s ease;
            transition-delay: 1s;
        }
    }
    [data-gsap-unclear-2],
    [data-gsap-unclear-11],
    [data-gsap-unclear-19] {
        span{
            display: block;
            opacity: 0;
            transition: opacity .25s ease-in-out, transform .7s ease-in-out;
            &:nth-child(1){
                transition-delay: 1s;
                transform: translateY(50%);
            }
            &:nth-child(2){
                transition-delay: 1.1s;
                transform: translateY(65%);
            }
            &:nth-child(3){
                transition-delay: 1.2s;
                transform: translateY(75%);
            }
            &:nth-child(4){
                transition-delay: 1.3s;
                transform: translateY(100%);
            }
            &:nth-child(5){
                transition-delay: 1.3s;
                transform: translateY(100%);
            }
        }
    }
    [data-gsap-unclear-3]{
        display: block;
        transition: opacity .25s ease-in-out, transform .7s ease-in-out;
        transition-delay: 1.1s;
        transform: translateY(100%);
        opacity: 0;
    }
    [data-gsap-unclear-4]{
        p{
            transition: opacity .25s ease-in-out, transform .7s ease-in-out;
            opacity: 0;
            &:nth-child(2){
                transform: translateY(80%);
                transition-delay: 1.1s;
            }
            &:nth-child(3){
                transform: translateY(100%);
                transition-delay: 1.2s;
            }
        }
    }
    [data-gsap-unclear-5],
    [data-gsap-unclear-6],
    [data-gsap-unclear-7],
    [data-gsap-unclear-8],
    [data-gsap-unclear-10],
    [data-gsap-unclear-12],
    [data-gsap-unclear-13],
    [data-gsap-unclear-14],
    [data-gsap-unclear-15],
    [data-gsap-unclear-16],
    [data-gsap-unclear-17],
    [data-gsap-unclear-18],
    [data-gsap-unclear-21],
    [data-gsap-unclear-22],
    [data-gsap-unclear-23],
    [data-gsap-unclear-24],
    [data-gsap-unclear-25],
    [data-gsap-exhibition]{
        transition: opacity 1s ease-in-out;
        //transition-delay: .5s;
        display: block;
        //transform: translateX(-10%) skewX(-10deg) rotateY(90deg);
        opacity: 0;
    }
    [data-gsap-unclear-5]{
        overflow: hidden;
        img{
            transform: scale(1.2);
            transform-origin: top center;
        }
    }
    [data-gsap-unclear-8]{
        transition: all .7s ease-in-out !important;
        transition-delay: .7s !important;
    }
    [data-gsap-unclear-9]{
        h2{
            transition: all .7s ease-in-out;
            transition-delay: .7s;
            opacity: 0;
            transform: translateY(50%);
            &::before{
                transition: all .7s ease-in-out;
                transition-delay: .9s;
                opacity: 0;
                transform: translateY(150%);
            }
        }
        .block-content{
            transition: all .7s ease-in-out;
            transition-delay: 1.1s;
            opacity: 0;
            transform: translateY(50%);
        }
    }
    [data-gsap-unclear-20]{
        &::before{
            transition: all .5s ease;
            transition-delay: 1s;
            width: 0 !important;
            display: block;
        }
        .block-content{
            transition: all .7s ease;
            transition-delay: 1.2s;
            transform: translateX(-100%);
            opacity: 0;
        }
    }
    &.animate {
        [data-gsap-unclear-1] {
            &.animate{
                clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
                span{
                    transform: translateY(0) rotate(0);
                }
            }
        }
        [data-gsap-unclear-2],
        [data-gsap-unclear-11],
        [data-gsap-unclear-19]{
            &.animate{
                span{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        [data-gsap-unclear-3]{
            &.animate{
                transform: translateY(0);
                opacity: 1;
            }
        }
        [data-gsap-unclear-4]{
            &.animate{
                p{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            
        }
        [data-gsap-unclear-5],
        [data-gsap-unclear-6],
        [data-gsap-unclear-7],
        [data-gsap-unclear-8],
        [data-gsap-unclear-10],
        [data-gsap-unclear-12],
        [data-gsap-unclear-13],
        [data-gsap-unclear-14],
        [data-gsap-unclear-15],
        [data-gsap-unclear-16],
        [data-gsap-unclear-17],
        [data-gsap-unclear-18],
        [data-gsap-unclear-21],
        [data-gsap-unclear-22],
        [data-gsap-unclear-23],
        [data-gsap-unclear-24],
        [data-gsap-unclear-25],
        [data-gsap-exhibition]{
            &.animate{
                //transform: translateX(0) skewX(0) rotateY(0);
                opacity: 1;
            }
        }
        [data-gsap-unclear-9]{
            &.animate{
                h2{
                    opacity: 1;
                    transform: translateY(0);
                    &::before{
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                .block-content{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        [data-gsap-unclear-20]{
            &.animate{
                &::before{
                    width: 100% !important;
                }
                .block-content{
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            
        }
    }
}

[data-gsap-exhibition]{
    transition: all .5s ease-in-out;
    transition-delay: .5s;
    display: block;
    transform: translateY(50%);
    opacity: 0;
    &.animate{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes historyClipPath {
    0%{
        clip-path: polygon(0 84%, 100% 98%, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@keyframes historyBefore {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes historySpan {
    0%{
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}

[data-gsap-history-1],
[data-gsap-history-2],
[data-gsap-history-3],
[data-gsap-history-4]{
    &::before{
        transition: all .5s ease-in-out;
        opacity: 0;
    }
    a{
        overflow: hidden;
        clip-path: polygon(0 84%, 100% 98%, 100% 100%, 0 100%);
        animation-delay: 1.5s;
    }
    span{
        display: block;
        transition: all .5s ease-in-out;
        transform-origin: left top;
        
    }
    &.animate{
        &::before{
            animation: .5s ease-in-out both historyBefore;
        }
        a{
            animation: .5s ease-in-out both historyClipPath;
        }
        span{
            animation: .5s ease-in-out both historySpan;
        }
    }
}

[data-burger-nav]{
    .nav-mobile{
        opacity: 0;
        transition: all .5s ease-in-out;
        ul{
            li{
                &::before{
                    opacity: 0;
                }
                a{
                    overflow: hidden;
                    clip-path: polygon(0 84%, 100% 98%, 100% 100%, 0 100%);
                    animation-delay: 1.5s;
                    display: block;
                    span{
                        transform-origin: left top;
                        display: block;
                    }
                }
            }
        }
    }
    .mobile-nav__bottom{
        opacity: 0;
        transition: all .5s ease-in-out;
        
    }
    &.active{
        .nav-mobile{
            opacity: 1;
            ul{
                
                li{
                    &::before{
                        animation: .5s ease-in-out both historyBefore;
                    }
                    a{
                        animation: .5s ease-in-out both historyClipPath;
                        span{
                            animation: .5s ease-in-out both historySpan;
                        }
                    }
                    &:nth-child(1){
                        &::before{
                            animation-delay: .8s;
                        }
                        a{
                            animation-delay: .8s;
                            
                            span{
                                animation-delay: .8s;
                            }
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            animation-delay: .9s;
                        }
                        a{
                            animation-delay: .9s;
                            
                            span{
                                animation-delay: .9s;
                            }
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            animation-delay: 1s;
                        }
                        a{
                            animation-delay: 1s;
                            
                            span{
                                animation-delay: 1s;
                            }
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            animation-delay: 1.1s;
                        }
                        a{
                            animation-delay: 1.1s;
                            
                            span{
                                animation-delay: 1.1s;
                            }
                        }
                    }
                }
            }
        }
        .mobile-nav__bottom{
            transition-delay: 1.2s;
            opacity: 1;
        }
    }
}

[data-gsap-unclear-23-parallax],
[data-gsap-unclear-21-parallax],
[data-gsap-unclear-17-parallax],
[data-gsap-unclear-15-parallax],
[data-gsap-unclear-13-parallax],
[data-gsap-unclear-10-parallax],
[data-gsap-unclear-7-parallax],
[data-gsap-tesis-img]{
    overflow: hidden;
    transition-delay: 0s;
    transition:none;
    img{
        transform: scale(1.2);
        transition-delay: 0 !important;
        //transition: none !important;
        transform-origin: top center;
    }
}