$font-size: 16px;
$text: #1E1E1E;
$font-family: 'Inter', sans-serif;
$Forum-family: 'Forum', cursive;
$Cormorant-family: 'Cormorant', sans-serif;


$dark: #1E1E1E;
$disabled: #919191;
$accent: #FFF6EF;

