@import "./fonts";
@import "./vars";
@import "./animate";

@import "normalize.css";
@import "../../node_modules/swiper/swiper.min";


*,
*::after,
*::before{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

b, strong{
    font-weight: bold;
}


body{
    font-family: $font-family;
    font-size: $font-size;
    line-height: 1.4;
    color: $text;
    min-width: 320px;
    overflow-x: hidden;
    background-color: $accent;
    input,
    textarea,
    button{
        outline: none;
        &:focus{
            outline: none;
        }
    }
}

.site{
    overflow-x: hidden;
}
#canvas {
    height: 100vh;
    width: 100vw;
}

.top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 30px 40px;
    transition: all .25s ease;
    &.invert-color{
        filter: invert(1);
    }
    @media (max-width: 992px) {
        padding: 30px 20px;
    }
    .lang{
        margin-right: auto;
        @media (max-width: 992px) {
            display: none;
        }
    }
    .nav{
        @media (max-width: 992px) {
            z-index: 3;
        }
    }
    .logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        @media (max-width: 992px) {
            position: initial;
            transform: none;
            z-index: 3;
        }
    }
    .mobile-nav{
        display: none;
        z-index: 2;
        transition: all 1.5s cubic-bezier(0.6,-0.02, 0.07, 1);
        transform: translateX(150%);
        @media (max-width: 992px) {
            display: flex;
            align-items: flex-end;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: $accent;
            padding: 20px;
            &.active {
                transform: translateX(0);
            }
        }
        &__content{
            width: 100%;
        }
        .nav-mobile{
            margin-bottom: 100px;
            @media (max-width: 635px) {
                margin-bottom: 60px;
            }
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
                counter-reset: count;
                @media (max-width: 635px) {
                    li{
                        padding-left: 50px;
                        margin-bottom: 15px;
                        a{
                            font-size: 35px;
                            line-height: 39px;
                        }
                    }
                }
                li{
                    counter-increment: count;
                    padding-left: 100px;
                    position: relative;
                    margin-bottom: 30px;
                    &::before{
                        content: '0'  counter(count);
                        position: absolute;
                        left: 0;
                        bottom: 8px;
                        font-size: 12px;
                        line-height: 101%;
                        text-transform: uppercase;
                        font-family: $Forum-family;
                    }
                    a{
                        font-size: 50px;
                        line-height: 55px;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                        font-family: $Forum-family;
                        color: $text;
                        text-decoration: none;
                    }
                }
            }
        }
        .lang{
            display: flex;
            margin-right: auto;
        }
        &__bottom{
            display: flex;
            flex-wrap: wrap;
            .email{
                span{
                    display: inline-block;
                    margin-right: 30px;
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: uppercase;
                }
                a{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $text;
                }
            }
            .copyrite{
                width: 100%;
                text-align: right;
                padding-top: 40px;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

.lang{
    display: flex;
    align-items: center;
    &-item {
        & + .lang-item {
            margin-left: 7px;
        }
        a{
            text-decoration: none;
            color: $text;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            &:hover{
                text-decoration: underline;
            }
            &.active{
                color: $disabled;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

.logo {
    a{
        text-decoration: none;
        font-size: 20px;
        line-height: 1;
        font-family: $Cormorant-family;
        font-weight: 500;
        text-align: center;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: $text;
    }
}

.nav{
    .menu-burger{
        display: none;
    }
    @media (max-width: 1200px) {
        ul{
            margin-left: -12px;
            margin-right: -12px;
            li{
                padding-left: 12px;
                padding-right: 12px;
                a{
                    font-size: 12px;
                }
            }
        }
    }
    @media (max-width: 992px) {
        ul{
            display: none;
        }
        .menu-burger{
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            transition: all .25s ease;
            position: relative;
            span{
                transition: all .25s ease; 
            }
            &::after,
            &::before{
                content: '';
                width: 15px;
                height: 1px;
                background-color: $dark;
                position: absolute;
                left: 50%;
                top: 50%;
            }
            &::after{
                transform: scale(0) rotate(45deg);
            }
            &::before{
                transform: scale(0) rotate(-45deg);
            }
            &.active{
                span{
                    font-size: 0;
                    opacity: 0;
                    transform: translateX(100%);
                    transform-origin: center;
                }
                
                width: 15px;
                height: 15px;
                &::after {
                    transform: scale(1) rotate(45deg);
                }
                &::before{
                    transform: scale(1) rotate(-45deg);
                }
            }
        }
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        margin-left: -25px;
        margin-right: -25px;
        li{
            padding-left: 25px;
            padding-right: 25px;
            a{
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                text-decoration: none;
                color: $text;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.arrow-down{
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-family: $Forum-family;
}

.header{
    padding-top: 200px;
    padding-bottom: 220px;
    text-align: center;
    @media (max-width: 1200px) {
        h1{
            font-size: 130px;
        }
    }
    @media (max-width: 992px) {
        padding-top: 140px;
        padding-bottom: 100px;
        h1{
            font-size: 87px;
        }
        p{
            font-size: 20px;
            margin-bottom: 80px;
        }
        .header-img{
            margin-top: 80px;
        }
    }
    @media (max-width: 635px) {
        h1{
            font-size: 40px;
            margin-bottom: 20px;
        }
        p{
            font-size: 12px;
        }
        .description{
            padding-top: 50px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    h1{
        margin-top: 0;
        font-weight: normal;
        font-size: 160px;
        line-height: 1;
        font-family: $Forum-family;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    p{
        margin: 0;
        font-weight: normal;
        font-size: 28px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 120px;
        margin-top: 20px;
    }
    .description{
        padding-top: 70px;
        max-width: 605px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 65px;
        span{
            display: block;
            text-align: center;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            color: $disabled;
            margin-bottom: 12px;
        }
        p{
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
        }
    }
    &-img{
        filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.1));
        margin-top: 120px;
        margin-left: 20px;
        margin-right: 20px;
        @media (max-width: 635px) {
            margin-left: 10px;
            margin-right: 10px;
        }
        img{
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}

.section-tesis{
    background-color: $dark;
    padding: 135px 40px;
    color: $accent;
    @media (max-width: 1100px) {
        padding: 80px 20px;
    }
    .title__section{
        color: $accent;
        position: relative;
        margin-bottom: 160px;
        margin-top: 0;
        @media (max-width: 1100px) {
            margin-bottom: 80px;
        }
        @media (max-width: 635px) {
            margin-bottom: 30px;
        }
        .text-right{
            float: right;
        }
        b{
            display: inline-block;
            text-align: right;
            font-weight: normal;
            transform-origin: left bottom;
            @media (max-width: 635px) {
                text-align: left;
            }
        }
        span{
            position: absolute;
            left: 0;
            top: 0;
            font-size: 12px;
            text-transform: uppercase;
            font-family: $font-family;
            @media (max-width: 635px) {
                position: initial;
                display: block;
                margin-bottom: 20px;
                font-size: 8px;
            }
        }
    }
}

.title__section{
    font-family: $Forum-family;
    font-weight: normal;
    font-size: 88px;
    line-height: 100%;
    @media (max-width: 1200px) {
        font-size: 60px;
    }
    @media (max-width: 635px) {
        font-size: 28px;
    }
}

.block{
    img{
        width: 100%;
        height: auto;
        display: block;
    }
    @media (max-width: 1200px) {
        & + .block{
            margin-top: 100px;
        }
        &__line-rigth{
            padding-left: 20px;
            &::before{
                content: '';
                width: calc(100% - 20px);
            }
        }
        &-column{
            width: calc(50% - 20px);
        }
    }
    @media (max-width: 635px) {
        &__line-rigth{
            padding-left: 0px;
            width: 100%;
            padding-top: 30px;
            &::before{
                content: '';
                width: calc(100% - 20px);
                left: 0;
                top: 0;
            }
        }
        &-column{
            width: 100%;
            margin-bottom: 10px;
        }
        & + .block{
            margin-top: 80px;
        }
    }
    & + .block{
        margin-top: 150px;
    }
    &-content{
        max-width: 390px;
        p{
            font-size: 18px;
            line-height: 23px;
            margin-top: 0;
            & + p{
                margin-top: 15px;
            }
        }
    }
    &__line-rigth{
        width: 50%;
        margin-left: auto;
        padding-left: 50px;
        position: relative;
        &::before{
            content: '';
            width: calc(100% - 50px);
            height: 1px;
            background-color: #4F4F4F;
            position: absolute;
            left: -100%;
            top: 8px;
        }
    }
    &__line-top {
        position: relative;
        padding-top: 10px;
        &.line-xs-none{
            &::before{
                @media (max-width: 635px) {
                    display: none;
                }
            }
        }
        &::before{
            content: '';
            width: 100%;
            height: 1px;
            background-color: #4F4F4F;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-column{
        width: calc(50% - 50px);
    }
}

.font-size-12{
    font-size: 12px !important;
    p{
        font-size: 12px !important;
    }
}

.name{
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    text-transform: uppercase;
    @media (max-width: 1200px) {
        font-size: 10px;
    }
}

.section-unclear{
    padding: 200px 40px;
    @media (max-width: 1360px) {
        padding: 150px 40px;
        &--left{
            width: calc(50% - 40px);
        }
        &--right{
            width: calc(50% - 40px);
            .name{
                margin-right: 25px;
            }
        }
        .block-content{
            max-width: 280px;
            p{
                font-size: 16px;
            }
        }
    }
    @media (max-width: 1200px) {
        h2{
            font-size: 60px;
        }
        &--left{
            width: 50%;
        }
        &--right{
            width: 50%;
        }
    }
    @media (max-width: 992px) {
        &-1{
            margin-bottom: 100px;
        }
        padding: 100px 20px;
        h2{
            font-size: 40px;
        }
        h3{
            font-size: 20px;
            margin-bottom: 30px;
        }
        &--right{
            .name-1{
                display: none;
            }
            .block-content{
                margin-bottom: 50px;
                max-width: 100%;
                position: relative;
                .name-2{
                    display: block;
                    position: absolute;
                    left: -100%;
                    top: 0;
                }
            }
        }
    }
    @media (max-width: 635px) {
        h2{
            margin-bottom: 25px;
        }
        h3{
            width: calc(100% + 43%);
            margin-left: -43%;
        }
        &-1{
            flex-direction: column;
        }
        &--left{
            width: 100%;
            .name{
                display: block;
                margin-bottom: 25px;
            }
        }
        &--right{
            width: 70%;
            margin-left: auto;
            .block-content{
                .name-2{
                    display: none;
                }
            }
        }
    }
    h2{
        font-weight: 500;
        font-size: 80px;
        line-height: 95%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 30px;
    }
    h3{
        margin-top: 0;
        font-weight: 500;
        font-size: 30px;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 50px;
        width: 100%;
    }
    &--left{
        width: calc(50% - 50px);
        .name{
            display: none;
        }
    }
    &--right{
        width: calc(50% - 50px);
        display: flex;
        flex-wrap: wrap;
        .block-content{
            margin-bottom: 80px;
            .name-2{
                display: none;
            }
        }
        img{
            max-width: 100%;
            display: block;
            & + .name{
                margin-right: 0;
                width: 100%;
            }
        }
        .name{
            margin-right: 40px;
            padding-top: 5px;
        }
    }
    &-1{
        display: flex;
        justify-content: space-between;
        margin-bottom: 200px;
    }
}

.section-unclear-2{
    & + .section-unclear-2{
        padding-top: 400px;
        @media (max-width: 992px) {
            padding-top: 300px;
        }
        @media (max-width: 635px) {
            padding-top: 30px;
            .section-unclear--right{
                width: 70% !important;
                margin-left: auto;
            }
        }
        
    }
    .section-unclear-flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .section-unclear-column{
            width: calc(50% - 50px);
            @media (max-width: 1200px) {
                width: calc(50% - 30px);
            }
            @media (max-width: 992px) {
                width: calc(50% - 25px);
                &.section-unclear--left{
                   
                }
                &.section-unclear--right{
                    h2{
                        font-size: 60px;
                        margin-bottom: 60px;
                        &::before{
                            bottom: -30px;
                        }
                    }
                    .around{
                        transform: translateY(61%);
                    }
                    .block-content{
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
            @media (max-width: 635px) {
                width: 100%;
                &.section-unclear--left{
                    position: relative;
                    margin-bottom: 60px;
                    .decor{
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 54px;
                        img{
                            width: 100%;
                            display: block;
                        }
                    }
                    .around{
                        width: calc(100% - 95px);
                        .name{
                            position: initial;
                            right: 0;
                            top: 100%;     
                            display: block;
                            margin-top: 10px;
                            text-align: left;
                        }
                    }
                }
                &.section-unclear--right{
                    .decor{
                        display: none;
                    }
                    .around{
                        transform: none;
                    }
                }
            }
            &.section-unclear--left{
                display: flex;
                position: relative;
                .decor{
                    display: none;
                }
                .around{
                    position: relative;
                    img{
                        max-width: 100%;
                        display: block;
                    }
                    .name{
                        position: absolute;
                        right: 0;
                        top: 100%;     
                        display: block;
                        margin-top: 10px;
                    }
                }
                
            }
            &.section-unclear--right{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                img{
                    max-width: 100%;
                    display: block;
                }
                .around{
                    max-width: 565px;
                    width: 100%;
                    transform: translateY(51%);
                }
                .decor{
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                }
                h2{
                    margin-bottom: 95px;
                    margin-top: 0;
                    font-weight: normal;
                    font-family: $Forum-family;
                    font-size: 100px;
                    line-height: 90%;
                    letter-spacing: -0.05em;
                    position: relative;
                    &::before{
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: $disabled;
                        position: absolute;
                        left: 0;
                        bottom: -75px;
                    }
                }
                .block-content{
                    font-family: $Forum-family;
                    width: 100%;
                    margin-bottom: 0;
                    margin-left: auto;
                    p{
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 130%;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                        text-indent: 30px
                    }
                }
            }
        }
    }
}

.section-unclear-3{
    padding: 250px 40px;
    @media (max-width: 1200px) {
        padding: 150px 0;
    }
    @media (max-width: 992px) {
        padding: 180px 0;
    }
    @media (max-width: 992px) {
        padding: 100px 0;
    }
    .wrapper{
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
        width: 100%;
    }
    .block-content{
        @media (max-width: 1360px) {
            max-width: 360px;
        }
        @media (max-width: 992px) {
            max-width: 270px;
        }
        @media (max-width: 635px) {
            margin-left: 40px;
            padding-top: 5px;
            p{
                font-size: 12px;
                line-height: 120%;
            }
        }
    }
    h2{
        max-width: 790px;
        font-weight: normal;
        font-size: 75px;
        line-height: 100%;
        font-family: $Forum-family;
        margin-top: 0;
        margin-bottom: 100px;
        @media (max-width: 992px) {
            font-size: 60px;
            line-height: 1;
            margin-bottom: 70px;
        }
        @media (max-width: 635px) {
            text-align: center;
            font-size: 28px;
            line-height: 1;
            margin-bottom: 50px;
        }
    }
    .section-unclear-flex{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        border-top: 1px solid $disabled;
        margin-bottom: 225px;
        @media (max-width: 1200px) {
            margin-bottom: 170px;
        }
        @media (max-width: 635px) {
            margin-bottom: 100px;
        }
        span{
            text-transform: uppercase;
            @media (max-width: 635px) {
                font-size: 10px;
                white-space: nowrap;
            }
        }
    }
    .image--center{
        margin-bottom: 225px;
        @media (max-width: 992px) {
            margin-bottom: 150px;
        }
        @media (max-width: 635px) {
            margin-bottom: 100px;
        }
    }
    .section-unclear-3-image{
        display: flex;
        justify-content: space-around;
        @media (max-width: 635px) {
            flex-direction: column;
        }
        .mr-200{
            margin-right: 200px;
            @media (max-width: 1200px) {
                margin-right: 40px;
            }
        }
        .name {
            &--rigth{
                float: right;
            }
        }
        .image{
            @media (max-width: 635px) {
                &-1{
                    margin-left: auto;
                    margin-right: 0;
                    width: 80%;
                    margin-bottom: 100px;
                }
                &-2{
                    margin-right: auto;
                    max-width: 90%;
                }
            }
        }
    }
}

.image{
    &--center{
        display: flex;
        justify-content: center;
        .image{
            margin-left: auto;
            margin-right: auto;
        }
    }
    img{
        max-width: 100%;
        display: block;
    }
    .name{
        font-size: 12px;
        line-height: 15px;
        display: block;
        text-transform: none;
        padding-top: 10px;
        @media (max-width: 635px) {
            font-size: 10px;
            line-height: 1;
        }
    }
}

.section-unclear-4{
    .wrapper{
        margin-bottom: 300px;
        @media (max-width: 635px) {
            margin-bottom: 100px;
        }
    }
    h2{
        font-family: $Forum-family;
        margin-left: 67%;
        font-weight: normal;
        font-size: 100px;
        line-height: 90%;
        letter-spacing: -0.05em;
        margin-top: 0;
        margin-bottom: 120px;
        text-transform: none;
        @media (max-width: 1200px) {
            margin-left: 64%;
        }
        @media (max-width: 992px) {
            margin-bottom: 50px;
        }
        @media (max-width: 635px) {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
    .section-unclear-flex{
        max-width: 67%;
        width: 100%;
        padding-top: 20px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        &::before{
            content: '';
            width: 100%;
            height: 1px;
            background-color: $disabled;
            position: absolute;
            left: 0;
            top: 0;
        }
        @media (max-width: 1200px) {
           max-width: 64%;
        }
        @media (max-width: 992px) {
            margin-left: auto;
            justify-content: flex-start;
        }
        @media (max-width: 635px) {
            max-width: 100%;
            padding-top: 30px;
        }
        
    }
    .block-content{
        p{
            font-family: $Forum-family;
            font-size: 20px;
            line-height: 130%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            @media (max-width: 635px) {
                font-size: 10px;
                line-height: 1.2;
            }
        }
    }
    .image--right{
        display: flex;
        justify-content: flex-end;
        @media (max-width: 635px) {
            .image{
                max-width: 80%;
                margin-right: 7%;
            }
        }
    }
    .image--left{
        display: flex;
        justify-content: flex-start;
        @media (max-width: 635px) {
            .image{
                max-width: 70%;
            }
        }
    }
    .image-1{
        margin-bottom: 40px;
        @media (max-width: 635px) {
            margin-bottom: 130px;
        }
    }
    .image-2{
        .name{
            float: right;
        }
    }
}

.section-exhibition{
    //background-color: $dark;
    h2{
        margin: 0;
        color: $accent;
        font-size: 150px;
        line-height: 1;
        font-family: $Forum-family;
        font-weight: normal;
        transition: all 1.2s ease-in-out !important;
        padding-left: 45px;
    }
    @media (max-width: 635px) {
        padding: 50px 0;
        background-color: $dark;
        h2{
            font-size: 60px;
            text-align: center;
            margin-bottom: 50px;
            padding-left: 0;
        }
    }
    @media (min-width: 635px) {
        .visible-xs{
            display: none;
        }
    }
}

.w-100{
    width: 100%;
}

.exhibition-carousel{
    
    .swiper-wrapper{
        padding: 110px 0;
        transition: all 1.2s ease-in-out !important;
        align-items: center;
        .swiper-slide{
            width: 0;
            //padding-right: 140px;
            transition: all .25s ease;
            img{
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }
        }
        .swiper-slide-active{
            //width: 50%;
        }
        .swiper-slide-next,
        .swiper-slide-prev{
            //width: 25%;
            
        }
        @media (max-width: 635px) {
            padding: 0;
            padding-left: 10px;
            .swiper-slide{
                &:nth-child(2) {
                    // display: none !important;
                    // width: 0 !important;
                    h2{
                        display: none;
                        width: 0;
                    }
                }
            }
        }
        
    }
    .parallax-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $dark;
        transition: all 1.2s ease-in-out !important;
    }
}

.exhibition-cotainer{
    //display:flex;
    //flex-wrap:wrap;
    //flex-direction:column;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.exhibition-item{
    transition: all 1.2s ease-in-out !important;
    //display: inline-block;
    img{
        max-width: 100%;
        display: block;
    }
}


.section__history-preview{
    padding: 300px 0;
    @media (max-width: 1200px) {
        padding: 100px 0;
    }
}

.history-preview{
    max-width: 475px;
    margin-left: 52%;
    transform: translateX(-50%);
    counter-reset: item;
    @media (max-width: 1200px) {
        margin-left: 60%;
    }
    &:hover{
        .history-preview__item {
            opacity: 0.5;
            &:hover{
                opacity: 1;
            }
        }
    }
    &__item{
        & + .history-preview__item{
            margin-top: 70px;
            @media (max-width: 635px) {
                margin-top: 30px;
            }
        }
        counter-increment: item;
        transition: all .5s ease-in-out;
        position: relative;
        &::before{
            content: "№0"counter(item);
            font-family: $Forum-family;
            font-size: 16px;
            text-transform: uppercase;
            position: absolute;
            left: -70px;
            bottom: 18px;
            @media (max-width: 635px) {
                bottom: 7px;
                font-size: 8px;
                left: -50px;
            }
        }
        &::after{
            content: '';
            width: 63px;
            height: 22px;
            background-image: url(../assets/img/icons/arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 63px;
            position: absolute;
            left: -50%;
            top: 50%;
            margin-top: -11px;
            opacity: 0;
            transition: all .5s ease-in-out;
        }
        &:hover{
            transform: translateX(20%);
            &::after{
                opacity: 1;
                left: -40%;
            }
            img{
                right: 0;
                opacity: 1;
                visibility: visible;
                transform: translateY(-50%) translateX(100%) scale(1);
                transition-delay: .2s;
            }
        }
        a{
            font-size: 85px;
            line-height: 1.1;
            display: inline-block;
            text-decoration: none;
            font-family: $Forum-family;
            color: $text;
            @media (max-width: 635px) {
                font-size: 30px;
            }
        }
        img{
            position: absolute;
            right: -10%;
            top: 50%;
            transform: translateY(-50%) translateX(10%) scale(.1);
            opacity: 0;
            transition: all .5s ease-in-out;
            visibility: hidden;
            max-width: 300px;
        }
    }
}


.section__biography{
    padding-top: 150px;
    padding-bottom: 130px;
    background-color: $dark;
    text-align: center;
    @media (max-width: 992px) {
        padding: 50px 20px;
        p{
            margin-bottom: 50px;
            font-size: 18px;
            line-height: 21px;
        }
        h2{
            font-size: 18px;
        }
    }
    @media (max-width: 635px) {
        p{
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 60px;
        }
        img{
            max-width: 150px;
            margin-bottom: 50px;
        }
    }
    span{
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: $disabled;
        margin-bottom: 20px;
        display: block;
    }
    p{
        margin: 0;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 80px;
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        max-width: 410px;
        width: 100%;
        margin-bottom: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        margin: 0;
        font-family: $Forum-family;
        color: #fff;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-weight: normal;
    }
}
footer{
    padding: 40px;
    padding-top: 0;
    color: $dark;
    @media (max-width: 635px) {
        padding-left: 10px;
        padding-right: 10px;
    }
    a{
        color: $dark;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.footer__content{
    padding-top: 20px;
    border-top: 1px solid $dark;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 767px) {
        align-items: center;
    }
    @media (max-width: 635px) {
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
    }
    &-right{
        display: flex;
        @media (max-width: 635px) {
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
    }
    .email{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        @media (min-width: 635px) {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: 10px;
            transform: translate(-50%,-50%);
        }
        span{
            margin-right: 80px;
            @media (max-width: 992px) {
                margin-right: 40px;
            }
            @media (max-width: 635px) {
                display: none;
            }
        }
    }
    .copyrite{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-left: 100px;
        @media (max-width: 992px) {
            margin-left: 80px;
        }
        @media (max-width: 767px) and (min-width: 635px) {
            width: 140px;
        }
        @media (max-width: 635px) {
            margin-left: 0;
            margin-top: 10px;
        }
    }
}

.footer--dark{
    background-color: $dark;
    color: $accent;
    a{
        color: $accent;
    }
    .footer__content{
        border-color: $accent;
    }
}

.text-left{
    text-align: left !important;
}

.section-ages{
    padding-top: 75px;
    padding-left: 40px;
    padding-right: 40px;
    @media (max-width: 635px) {
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

}

.title__inform{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0;
    @media (max-width: 992px) {
        flex-wrap: wrap;
        h3{
            font-size: 40px;
            position: relative;
            &::after{
                content: attr(data-span);
                margin-top: 30px;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.03em;
                text-transform: uppercase;
                position: absolute;
                left: 0;
                top: 100%;
            }
        }
        span{
            position: initial;
            transform: none;
            display: none;
        }
    }
    @media (max-width: 992px) {
        margin: 80px 0;
        h3{
            font-size: 25px;
            &::after{
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
    h3{
        font-weight: normal;
        font-size: 48px;
        line-height: 101%;
        text-transform: uppercase;
        margin: 0;
    }
    a{
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: $text;
        transform: translateY(50%);
        &:hover{
            text-decoration: underline;
        }
    }
    span{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,0);
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }
}

.ages-list{
    counter-reset: item;
    &__item{
        counter-increment: item;
        position: relative;
        &.active{
            .ages-list__item--title{
                &::before{
                    transform: scaleY(-1);
                }
            }
            .ages-list__item--content{
                padding-bottom: 150px;
            }
        }
        
        &::before{
            content: '';
            width: 100%;
            height: 1px;
            background-color: $disabled;
            position: absolute;
            left: 0;
            top: 0;
        }
        &--title{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
            position: relative;
            &::after{
                content: "№0" counter(item);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 18px;
                line-height: 1;
                font-family: $Forum-family;
                text-transform: uppercase;
                @media (max-width: 992px) {
                    font-size: 12px;
                }
            }
            &::before{
                content: '';
                width: 7px;
                height: 20px;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -10px;
                background-image: url('../assets/img/icons/arrow_down.svg');
                background-size: 7px;
                background-repeat: no-repeat;
                background-position: center;
                transition: all .25s ease-in-out;
            }
            span{
                font-size: 30px;
                line-height: 101%;
                text-transform: uppercase;
                font-family: $Forum-family;
                @media (max-width: 992px) {
                    font-size: 18px;
                }
            }
        }
        &--content{
            display: none;
            //height: 0;
            overflow: hidden;
            transition: all .5s ease-in-out;
        }
    }
}

.ages-line{
    display: flex;
    margin-left: -30px;
    margin-right: -30px;
    @media (max-width: 1340px) {
        margin-left: -10px;
        margin-right: -10px;
        &-group{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    @media (max-width: 1200px) {
        flex-wrap: wrap;
    }
    &-group{
        padding-left: 30px;
        padding-right: 30px;
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
        &--item{
            max-width: 310px;
            width: 100%;
            margin-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
            img{
                display: block;
                width: 100%;
            }
        }
    }
}

.ages-table{
    display: table;
    @media (max-width: 1490px) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &-tr{
            display: flex;
            flex-wrap: wrap;
            //margin-left: -5px;
            //margin-right: -5px;
        }
        &-td{
            display: block;
            &:empty{
                display: none;
            }
            &:first-child{
                padding-left: 5px;
            }
            &:last-child{
                padding-right: 5px;
            }
        }
    }
    @media (max-width: 1200px) {
        &-td{
            img{
                max-width: 144px;
            }
        }
    }
    @media (max-width: 635px) {
        &-tr{
            width: 100%;
        }
        &-td{
            width: 100%;
            img{
                max-width: 100%;
            }
            &:nth-child(1){
                img{
                    margin-right: auto;
                }
            }
            &:nth-child(2){
                img{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &:nth-child(3){
                img{
                    margin-left: auto;
                }
            }
        }
    }
    &-tr{
        display: table-row;
    }
    &-td{
        display: table-cell;
        padding: 5px;
        vertical-align: top;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
        img{
            max-width: 100%;
            display: block;
        }
    }
}


.header-img-static{
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    background-size: cover;
    background-position: center;
    &::before{
        content: '';
        padding-top: 50%;
        display: block;
    }
    img{
        width: 100%;
        display: block;
    }
    @media (max-width: 635px) {
        margin-left: 20px;
        margin-right: 20px;
        &::before{
            padding-top: 90%;
        }
    }
}

.section{
    padding-left: 40px;
    padding-right: 40px;
    @media (max-width: 992px) {
        
        .section__container{
            flex-direction: column;
            
            .section__right,
            .section__left{
                width: 100%;
            }
        }
    }
    @media (max-width: 635px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section__container{
        display: flex;

        .section__left{
            width: 15%;
        }
        .section__right{
            width: 85%;
        }
    }
}

.block-text{
    position: relative;
    display: table-row;
    @media (max-width: 635px) {
        display: block;
        &.active{
            .block-text--name{
                &::before{
                    transform: scaleY(-1);
                }
            }
        }
    }
    &::before{
        content: '';
        width: 100%;
        height: 1px;
        background-color: $disabled;
        position: absolute;
        left: 0;
        top: 0;
    }
    &--name{
        padding: 40px;
        padding-left: 0;
        display: table-cell;
        @media (max-width: 635px) {
            display: block;
            position: relative;
            padding-right: 0;
            padding-top: 10px;
            &::before{
                content: "";
                width: 7px;
                height: 20px;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -10px;
                background-image: url(../assets/img/icons/arrow_down.svg);
                background-size: 7px;
                background-repeat: no-repeat;
                background-position: 50%;
                transition: all .25s ease-in-out;
            }
            .wrapper{
                flex-direction: column;
            }
            span{
                margin-right: 0;
                margin-bottom: 30px;
                font-size: 10px;
                line-height: 12px;
            }
            h4{
                font-size: 14px;
                line-height: 18px;
            }
            p{
                font-size: 10px;
                line-height: 12px;
            }
        }
        .wrapper{
            display: flex;
        }
        span{
            font-size: 14px;
            line-height: 120%;
            margin-right: 130px;
        }
        h4{
            margin-top: 0;
            font-weight: normal;
            font-size: 20px;
            line-height: 130%;
            text-transform: uppercase;
            margin-bottom: 5px;
            white-space: nowrap;
        }
        p{
            margin: 0;
            font-size: 12px;
            line-height: 120%;
            color: #919191;
        }
    }
    &--content{
        padding: 40px;
        padding-right: 0;
        position: relative;
        display: table-cell;
        @media (max-width: 635px) {
            display: none;
            padding-left: 0;
            padding-top: 0;
            &::before{
                display: none;
            }
            p{
                font-size: 12px;
                line-height: 15px;
            }
        }
        &::before{
            content: '';
            width: 1px;
            height: 100%;
            background-color: $disabled;
            position: absolute;
            left: 0;
            top: 0;
        }
        p{
            margin: 0;
            font-size: 16px;
            line-height: 130%;
            & + p{
                margin-top: 15px;
            }
        }
    }
}

.filter-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media (max-width: 992px) {
        display: flex;
        margin-left: -20px;
        margin-right: -20px;
        li{
            margin-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            &:first-child{
                margin-right: auto;
            }
        }
    }
    li{
        &:first-child{
            margin-bottom: 35px;
        }
        a{
            text-decoration: none;
            color: $text;
            font-size: 14px;
            line-height: 17px;
            color: #919191;
            &:hover{
                text-decoration: underline;
            }
            &.active{
                font-size: 14px;
                line-height: 17px;
                text-decoration: underline;
                text-transform: uppercase;
                color: $text;
            }
        }
    }
}

.fslightbox-container{
    background: $accent !important;
    .fslightbox-nav{
        .fslightbox-slide-number-container{
            position: fixed;
            bottom: 20px;
            height: auto;
            left: 50%;
            transform: translateX(-50%);
            color: $text;
            font-size: 20px;
            font-family: $Forum-family;
            z-index: 2;
            .fslightbox-slash{
                background: $dark;
            }
        }
    }
    .fslightbox-source{
        &::before{
            content: attr(caption);
        }
    }
}

.exhibition-title{
    padding-left: 45px;
    transition: all 1.2s ease-in-out!important;
    @media (max-width: 635px) {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 60px;
        h2{
            text-align: left;
            font-size: 40px;
            margin-bottom: 30px;
            line-height: 1;
        }
    }
    h2{
        padding-left: 0;
        margin-bottom: 30px;
    }
    .exhibition-title-wrapper{
        position: relative;
        display: flex;
        color: $accent;
        @media (max-width: 635px) {
            justify-content: space-between;
            padding-top: 10px;
            &::before{
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                top: 0;
                background-color: $disabled;
            }
        }
        span{
            font-size: 12px;
            line-height: 15px;
            max-width: 150px;
            width: 100%;
            position: relative;
            margin-right: 90px;
            padding-top: 10px;
            &::before{
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                top: 0;
                background-color: $disabled;
            }
            @media (max-width: 635px) {
                max-width: none;
                width: auto;
                margin-right: 20px;
                padding-top: 0;
                &::before{
                    display: none;
                }
            }
        }
        p{
            max-width: 480px;
            width: 100%;
            margin: 0;
            font-size: 18px;
            line-height: 23px;
            @media (max-width: 992px) {
                font-size: 16px;
                line-height: 19px;
            }
            @media (max-width: 635px) {
                font-size: 12px;
                line-height: 15px;
                max-width: 185px;
            }
        }
        
    }
}

.section-biography{
    padding-top: 105px;
    padding-left: 40px;
    padding-right: 40px;
    @media (max-width: 992px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (max-width: 635px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.section-biography__preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
    .section-biography__left{
        a:not(.email) {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: $text;
            text-decoration: none;
            display: inline-block;
            margin-bottom: 60px;
            @media (max-width: 635px) {
                font-size: 12px;
                line-height: 15px;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        .email{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: $text;
            text-decoration: none;
            @media (max-width: 635px) {
                display: none;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .section-biography__right{
        img{
            max-width: 545px;
            display: block;
            @media (max-width: 1360px) {
                max-width: 545px;
            }
            @media (max-width: 1100px) {
                max-width: 450px;
            }
            @media (max-width: 992px) {
                max-width: 295px;
            }
            @media (max-width: 635px) {
                max-width: 205px;
            }
        }
    }
    .section-biography__content{
        width: 100%;
        transform: translateY(-36px);
        @media (max-width: 1360px) {
            padding-right: 575px;
        }
        @media (max-width: 1100px) {
            padding-right: 465px;
        }
        @media (max-width: 992px) {
            transform: translateY(-30px);
            padding-right: 5%;
            h1{
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 15px;
            }
            span{
                font-size: 16px;
                line-height: 19px;
            }
        }
        @media (max-width: 635px) {
            transform: translateY(0);
            padding-top: 80px;
            h1{
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 10px;
            }
            span{
                font-size: 14px;
                line-height: 19px;
            }
        }
        h1{
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 20px;
        }
        span{
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            margin-bottom: 40px;
            display: block;
        }
    }
}

.legend{
    display: table;
    max-width: 735px;
    &-tr{
        display: table-row;
    }
    &-td{
        display: table-cell;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        padding-bottom: 10px;
        @media (max-width: 992px) {
            font-size: 16px;
            line-height: 19px;
        }
        @media (max-width: 635px) {
            font-size: 12px;
            line-height: 15px;
        }
        &:nth-child(1) {
            padding-right: 20px;
        }
        &:nth-child(2) {
            white-space: nowrap;
        }
        &:nth-child(3){
            padding-left: 180px;
            @media (max-width: 1100px) {
                padding-left: 80px;
            }
            @media (max-width: 992px) {
                padding-left: 60px;
            }
            @media (max-width: 635px) {
                padding-left: 30px;
            }
        }
    }
}

.biography-advantage{
    margin-bottom: 80px;

    & > div{
        margin-left: auto;
        max-width: 545px;
        @media (max-width: 1100px) {
            max-width: 450px;
        }
        @media (max-width: 992px) {
            padding-left: 20%;
            max-width: none;
        }
        @media (max-width: 635px) {
            padding-left: 0;
        }
    }
    
    h3{
        margin-top: 0;
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        @media (max-width: 992px) {
            font-size: 25px;
            line-height: 30px;
        }
        @media (max-width: 635px) {
            font-size: 20px;
            line-height: 25px;
        }
    }
}

.advantege{
    &-table{
        display: table;
    }
    &-tr{
        display: table-row;
    }
    &-td{
        display: table-cell;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        padding-bottom: 20px;
        @media (max-width: 992px) {
            font-size: 16px;
            line-height: 19px;
        }
        @media (max-width: 635px) {
            font-size: 12px;
            line-height: 15px;
        }
        &:nth-child(1){
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
            opacity: 0.6;
            padding-right: 60px;
            font-family: $Forum-family;
            @media (max-width: 635px) {
                padding-right: 40px;
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
}

.located{
    padding-right: 545px;
    margin-bottom: 150px;
    @media (max-width: 1100px) {
        padding-right: 450px;
    }
    @media (max-width: 992px) {
        padding-right: 0;
        margin-bottom: 100px;   
    }
    @media (max-width: 635px) {
        margin-bottom: 80px;
    }
    h4{
        margin-left: auto;
        max-width: 615px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: normal;
        font-size: 30px;
        line-height: 33px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        @media (max-width: 992px) {
            margin-left: 0;
        }
        @media (max-width: 635px) {
            font-size: 16px;
            line-height: 18px;
            text-align: center;
        }
    }
}

.contacts{
    margin-bottom: 100px;
    @media (max-width: 635px) {
        margin-bottom: 70px;
    }
    &-content{
        position: relative;
    }
    &-title{
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        max-width: 775px;
        width: 100%;
        justify-content: space-between;
        @media (max-width: 1500px) {
            max-width: 450px;
        }
        @media (max-width: 1100px) {
            h3{
                font-size: 25px;
                line-height: 30px;
            }
        }
        @media (max-width: 992px) {
            position: relative;
            left: initial;
            top: initial;
            width: 100%;
            padding: 100px 0;
            max-width: none;
            &::before{
                content: '';
                width: 100%;
                height: 1px;
                background-color: $disabled;
                position: absolute;
                left: 0;
                bottom: 20px;
            }
        }
        @media (max-width: 635px) {
            padding: 70px 0;
            padding-top: 50px;
            a,
            span,
            h3{
                font-size: 12px;
                line-height: 15px;
            }
        }
        h3{
            margin: 0;
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
        }
        span{
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.05em;
            text-transform: uppercase;
        }
        a{
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            text-decoration: none;
            color: $text;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &-table{
        max-width: 545px;
        width: 100%;
        margin-left: auto;
        display: table;
        @media (max-width: 1100px) {
            max-width: 400px;
        }
        &.before{
            margin-top: 100px;
            position: relative;
            @media (max-width: 992px) {
                margin-top: 0;
                &::before{
                    display: none;
                }
            }
            @media (max-width: 635px) {
                .contacts-tr{
                }
                .contacts-td{
                    width: 50%;
                }
            }
            &::before{
                content: '';
                width: 100%;
                height: 1px;
                background-color: $disabled;
                position: absolute;
                left: 0;
                top: -20px;
            }
            .contacts-td{
                font-weight: 500;
            }
        }
    }
    &-tr{
        display: table-row;
    }
    &-td{
        display: table-cell;
        width: 50%;
        padding-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        @media (max-width: 635px) {
            font-size: 12px;
            line-height: 15px;
            width: auto;
        }
        &:nth-child(1){
            font-weight: normal !important;
        }
        span{
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            display: block;
            font-family: $Forum-family;
            @media (max-width: 635px) {
                font-size: 12px;
                line-height: 15px;
                width: auto;
            }
        }
    }
}