<footer class="{{footerColor}}">
    
    <div class="footer__content">
        <a href="#">домой</a>
        <div class="footer__content-right">
            <div class="email">
                <a href="mailto:artiter@gmail.com">artiter@gmail.com</a>
            </div>

            <div class="copyrite">
                © 2021 все права защищены
            </div>
        </div>
    </div>
</footer>