<section class="feedback__section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div 
                    class="feedback__item feedback__item--request"
                    style="background-image: url('assets/img/feedback1.png');"
                >
                    <a href="#" data-popup="leasing">
                        Оставить заявку
                        <span class="icon icon-arrow-right-accent">
                            <svg>
                                <use xlink:href="#arrow-right-accent"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div 
                    class="feedback__item feedback__item--call"
                    style="background-image: url('assets/img/feedback2.jpg');"
                >
                    <a  href="#" data-popup="callback" >
                        Заказать звонок
                        <span class="icon icon-arrow-right-accent">
                            <svg>
                                <use xlink:href="#arrow-right-accent"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>