<section class="feedback__section feedback__section--partners">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div 
                    class="feedback__item feedback__item--request"
                    style="background-image: url('assets/img/nout.png');"
                >
                    <h3>Преимущества <br>для вас</h3>
                    <ul>
                        <li>Честные и понятные ставки агентского вознаграждения</li>
                        
                        <li>Возможность оперативно реализовать произведенные вами транспорт, технику и оборудование</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div 
                    class="feedback__item feedback__item--call"
                    style="background-image: url('assets/img/man.png'); background-position: right bottom;"
                >
                    <h3>Кто может стать <br>партнером АТБ ЛК</h3>
                    <ul>
                        <li>Компании, продающие транспорт, технику, оборудование</li>
                        <li>Профессиональные брокеры и консалтинговые компании</li>
                        <li>Компании, осуществляющие аутсорсинг бухгалтерских услуг</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 text-center">
                <a href="#" class="btn btn-accent">Стать партнером</a>
            </div>
        </div>
    </div>
</section>