<section  class="board-main__section">
    <div style="background-image: url(assets/img/banner.jpg);" class="board-main__image"><a href="#"></a></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="board-main__content">
                    <h5>новости</h5>
                    <a href="#">Глава Роснедр призвал создать систему суверенного аудита рынка полезных ископаемых</a>
                    <span>14 декабря, 2021</span>
                </div>
            </div>
        </div>
    </div>
</section>