<section class="breadcrumbs__section">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs">
                    <ul>
                        {% for link in breadcrumbs %}
                        <li><a href="#">{{ link }}</a></li>
                        {% endfor  %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>