<section class="group-links__section">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="group-links__item">
                    <a href="#">Открытое агентство →</a>
                </div>
            </div>
            <div class="col">
                <div class="group-links__item">
                    <a href="#">Обращения граждан →</a>
                </div>
            </div>
            <div class="col">
                <div class="group-links__item">
                    <a href="#">Противодействие коррупции →</a>
                </div>
            </div>
            <div class="col">
                <div class="group-links__item">
                    <a href="#">Межправсовет стран СНГ →</a>
                </div>
            </div>
            <div class="col">
                <div class="group-links__item">
                    <a href="#">Общественный совет →</a>
                </div>
            </div>
            <div class="col">
                <div class="group-links__item">
                    <a href="#">Открытые данные →</a>
                </div>
            </div>

        </div>
    </div>
</section>