<meta charset="UTF-8">

<link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
<link rel="manifest" href="assets/img/favicons/site.webmanifest">
<link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#1f1f1f">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="./assets/css/style.min.css">
<title>{{ title_page }} - page</title>