<div class="toolbar-vision">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="toolbar-vision__item fonts">
                    <span>Размер шрифта:</span>
                    <div class="group-button">
                        <button data-font-size=".650"></button>
                        <button class="active" data-font-size="1"></button>
                        <button data-font-size="1.25"></button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="toolbar-vision__item body-colors">
                    <span>Цвет сайта:</span>
                    <div class="group-button">
                        <button data-color-mode="body-dark" class="bg_dark"></button>
                        <button data-color-mode="body-white" class="bg_white"></button>
                        <button data-color-mode="body-blue" class="bg_blue"></button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="toolbar-vision__item search">
                    <a href="#" class="icons-fa">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Поиск по сайту
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header">

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="header__content">
                    <div class="logo">
                        <a href="/">Федеральное агентство по недропользованию - роснедра</a>
                    </div>
                    <div>
                        <div class="header-control">
                            <div class="header-control__item">
                                <a class="icons-fa" href="#">
                                    <i class="fa-solid fa-eye"></i>
                                    Обычная версия сайта
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include "nav.html" %}