
<section class="nav__section">
    <button data-burger-close class="button button--bg--dark button--dark button--burger">
        <span></span><span></span><span></span>
    </button>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="nav-top">
                    <ul>
                        <li>
                            <a href="#">ОБ АГЕНТСТВЕ</a>

                            <div class="sub-nav">
                                <ul>
                                    <li><a href="#">Руководитель</a></li>
                                    <li><a href="#">Структура агентства</a></li>
                                    <li>
                                        <a href="#"><span>Положение об агентстве <i>→</i></span></a>
                                        <div class="sub-nav__child">
                                            <h4>Положение об агентстве</h4>
                                            <ul>
                                                <li><a href="#">Перечень нормативных правовых актов в сфере недропользования</a></li>
                                                <li><a href="#">Федеральные законы</a></li>
                                                <li><a href="#">Постановления правительства РФ</a></li>
                                                <li><a href="#">Приказы Минприроды России</a></li>
                                                <li><a href="#">Приказы Роснедр</a></li>
                                                <li><a href="#">Административные регламенты</a></li>
                                                <li><a href="#">Перечень нормативных правовых актов, содержащих обязательные требования</a></li>
                                                <li><a href="#">Административный и судебный порядок оспаривания НПА</a></li>
                                                <li><a href="#">Статистическая отчётность</a></li>
                                                <li><a href="#">Государственные доклады</a></li>
                                                <li><a href="#">Реализация 83-ФЗ</a></li>
                                                <li><a href="#">Государственное имущество</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#">Территориальные органы</a></li>
                                    <li><a href="#">ТФГИ</a></li>
                                    <li><a href="#">Подведомственные организации</a></li>
                                    <li><a href="#">Открытое агентство</a></li>
                                    <li><a href="#">Коллегиальные и совещательные органы</a></li>
                                    <li><a href="#">Государственная служба</a></li>
                                    <li><a href="#">Геральдический знак-эмблема и флаг</a></li>
                                    <li><a href="#">Контакты</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">ДЕЯТЕЛЬНОСТЬ</a>
                            <div class="sub-nav">
                                <ul>
                                    <li><a href="#">Государственные услуги</a></li>
                                    <li>
                                        <a href="#"><span>Документы <i>→</i></span></a>
                                        <div class="sub-nav__child">
                                            <h4>Документы</h4>
                                            <ul>
                                                <li><a href="#">Перечень нормативных правовых актов в сфере недропользования</a></li>
                                                <li><a href="#">Федеральные законы</a></li>
                                                <li><a href="#">Постановления правительства РФ</a></li>
                                                <li><a href="#">Приказы Минприроды России</a></li>
                                                <li><a href="#">Приказы Роснедр</a></li>
                                                <li><a href="#">Административные регламенты</a></li>
                                                <li><a href="#">Перечень нормативных правовых актов, содержащих обязательные требования</a></li>
                                                <li><a href="#">Административный и судебный порядок оспаривания НПА</a></li>
                                                <li><a href="#">Статистическая отчётность</a></li>
                                                <li><a href="#">Государственные доклады</a></li>
                                                <li><a href="#">Реализация 83-ФЗ</a></li>
                                                <li><a href="#">Государственное имущество</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#"><span>Информационные ресурсы и программы <i>→</i></span></a>
                                        <div class="sub-nav__child">
                                            <h4>Информационные ресурсы и программы</h4>
                                            <ul>
                                                <li><a href="#">Перечень нормативных правовых актов в сфере недропользования</a></li>
                                                <li><a href="#">Федеральные законы</a></li>
                                                <li><a href="#">Постановления правительства РФ</a></li>
                                                <li><a href="#">Приказы Минприроды России</a></li>
                                                <li><a href="#">Приказы Роснедр</a></li>
                                                <li><a href="#">Административные регламенты</a></li>
                                                <li><a href="#">Перечень нормативных правовых актов, содержащих обязательные требования</a></li>
                                                <li><a href="#">Административный и судебный порядок оспаривания НПА</a></li>
                                                <li><a href="#">Статистическая отчётность</a></li>
                                                <li><a href="#">Государственные доклады</a></li>
                                                <li><a href="#">Реализация 83-ФЗ</a></li>
                                                <li><a href="#">Государственное имущество</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#">ЦКР Роснедр</a></li>
                                    <li><a href="#">Аукционы и конкурсы</a></li>
                                    <li><a href="#">Финансовое обеспечение ГРР</a></li>
                                    <li><a href="#">Бюджет</a></li>
                                    <li><a href="#">Кадастровая работа</a></li>
                                    <li><a href="#">Заказы для государственных нужд</a></li>
                                    <li><a href="#">Изъятие земель</a></li>
                                    <li><a href="#">Государственный баланс запасов</a></li>
                                    <li><a href="#">Стратегическое планирование</a></li>
                                    <li><a href="#">Международное сотрудничество</a></li>
                                    <li><a href="#">Цифровизация</a></li>
                                    <li><a href="#">Экспертиза проектов геологического изучения недр</a></li>
                                    <li><a href="#">Реестр недобросовестных участников аукционов на право пользования участками недр</a></li>
                                    <li><a href="#">Годовые отчеты</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">ГОСУСЛУГИ</a>
                            <div class="sub-nav">
                                <ul>
                                    <li><a href="#">Портал госуслуг и функций Роснедра</a></li>
                                    <li><a href="#">Личный кабинет недропользователя</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">ЛИЧНЫЙ КАБИНЕТ <br>НЕДРОПОЛЬЗОВАТЕЛЯ</a></li>
                        <li>
                            <a href="#">ПРЕСС-СЛУЖБА</a>
                            <div class="sub-nav">
                                <ul>
                                    <li><a href="#">Новости</a></li>
                                    <li><a href="#">Анонсы</a></li>
                                    <li><a href="#">Выступления и интервью руководителя</a></li>
                                    <li><a href="#">Мероприятия</a></li>
                                    <li><a href="#">Недропользование в СМИ</a></li>
                                    <li><a href="#">Фотогалерея</a></li>
                                    <li><a href="#">Отраслевые СМИ</a></li>
                                    <li><a href="#">Юные геологи России</a></li>
                                    <li><a href="#">Геологические учебные заведения</a></li>
                                    <li><a href="#">Информационные материалы</a></li>
                                    <li><a href="#">Контакты для СМИ</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>