<div class="pagination">
    <ul>
        <li>
            <a class="link__icon first" href="#">
                <svg width="20" height="18" viewBox="0 0 20 18">
                    <path d="M972.643,3288.5l20-9-20-9v18Z" transform="translate(-972.643 -3270.503)" fill="#828282"/>
                </svg>
                <svg width="20" height="18" viewBox="0 0 20 18">
                    <path d="M972.643,3288.5l20-9-20-9v18Z" transform="translate(-972.643 -3270.503)" fill="#828282"/>
                </svg>
            </a>
        </li>
        <li>
            <a class="link__icon prev" href="#">
                <svg width="20" height="18" viewBox="0 0 20 18">
                    <path d="M972.643,3288.5l20-9-20-9v18Z" transform="translate(-972.643 -3270.503)" fill="#828282"/>
                </svg>
            </a>
        </li>
        <li><a class="num" href="#">5</a></li>
        <li>
            <a class="link__icon next" href="#">
                <svg width="20" height="18" viewBox="0 0 20 18">
                    <path d="M972.643,3288.5l20-9-20-9v18Z" transform="translate(-972.643 -3270.503)" fill="#828282"/>
                </svg>
                
            </a>
        </li>
        <li>
            <a class="link__icon last" href="#">
                <svg width="20" height="18" viewBox="0 0 20 18">
                    <path d="M972.643,3288.5l20-9-20-9v18Z" transform="translate(-972.643 -3270.503)" fill="#828282"/>
                </svg>
                <svg width="20" height="18" viewBox="0 0 20 18">
                    <path d="M972.643,3288.5l20-9-20-9v18Z" transform="translate(-972.643 -3270.503)" fill="#828282"/>
                </svg>
            </a>
        </li>
    </ul>
</div>