<section class="partners__section">
    <div class="partners__top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-2">
                    <div style="background-image: url('assets/img/partners/1.svg');" class="partners__item"></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div style="background-image: url('assets/img/partners/2.svg');" class="partners__item"></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div style="background-image: url('assets/img/partners/3.svg');" class="partners__item"></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div style="background-image: url('assets/img/partners/4.svg');" class="partners__item"></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div style="background-image: url('assets/img/partners/5.svg');" class="partners__item"></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div style="background-image: url('assets/img/partners/6.svg');" class="partners__item"></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div style="background-image: url('assets/img/partners/7.svg');" class="partners__item"></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div style="background-image: url('assets/img/partners/8.svg');" class="partners__item"></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div style="background-image: url('assets/img/partners/9.svg');" class="partners__item"></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div style="background-image: url('assets/img/partners/10.svg');" class="partners__item"></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div style="background-image: url('assets/img/partners/11.svg');" class="partners__item"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="partners__bottom">
        <div class="container-fluid">
            <div class="row align-items-lg-center">
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="col"><div style="background-image: url('assets/img/partners/12.svg');" class="partners__item --big"></div></div>
                    </div>
                    
                </div>
                <div class="col-12 col-md-8">
                    <div class="row ">
                        <div class="col-6 col-lg-3">
                            <div style="background-image: url('assets/img/partners/13.svg');" class="partners__item "></div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div style="background-image: url('assets/img/partners/14.svg');" class="partners__item "></div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div style="background-image: url('assets/img/partners/15.svg');" class="partners__item "></div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div style="background-image: url('assets/img/partners/16.svg');" class="partners__item "></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>