<section class="preview-news__section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="news-item">
                    <div class="news-item__image">
                        <a style="background-image: url('assets/img/news/1.jpg');" href="#"></a>
                    </div>
                    <div class="news-item__content">
                        <div class="tag">анонсы</div>
                        <a href="#">Четырнадцатый Каспийский энергетический форум состоится 8 декабря 2021</a>
                        <div class="date">18 ноября, 2021</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="news-item">
                    <div class="news-item__image">
                        <a style="background-image: url('assets/img/news/2.jpg');" href="#"></a>
                    </div>
                    <div class="news-item__content">
                        <div class="tag">новости</div>
                        <a href="#">Mangazeya Mining рассчитывает на 60 тонн золота в ходе освоения Итакинского золоторудного Итакинского золоторудного Итакинского золоторудногоИтакинского золоторудного</a>
                        <div class="date">21 мая, 2021</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="news-item">
                    <div class="news-item__image">
                        <a style="background-image: url('assets/img/news/3.jpg');" href="#"></a>
                    </div>
                    <div class="news-item__content">
                        <div class="tag">новости</div>
                        <a href="#">XXIV Международная научная конференция (школа) по морской геологии «Геология морей по морской геологии «Геология морей по морской геологии «Геология морей</a>
                        <div class="date">5 июля, 2021</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="news-item">
                    <div class="news-item__image">
                        <a style="background-image: url('assets/img/news/3.jpg');" href="#"></a>
                    </div>
                    <div class="news-item__content">
                        <div class="tag">новости</div>
                        <a href="#">XXIV Международная научная конференция (школа) по морской геологии «Геология морей по морской геологии «Геология морей по морской геологии «Геология морей</a>
                        <div class="date">5 июля, 2021</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a  href="#" class="btn-all">
        <img src="assets/img/icons/arrow-circle.svg" width="20" alt="">
        читать все новости
    </a>
</section>