{% set title_page = 'About' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div class="breadcrumbs d-none d-md-block">
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">О компании</a></li>
                                </ul>
                            </div>

                            <h2 class="title__section d-md-none mt-3">О компании</h2>

                            <h2 class="title__section section">Кто мы и что делаем?</h2>
                            
                            <div class="text-graph">
                                <img style="float: right;" class="d-none d-md-inline" src="assets/img/20_years.jpg" alt="">
                                <ul>
                                    <li><b>ООО «АТБ ЛК»</b> — универсальная лизинговая компания, предоставляющая лизинг на авто, спецтехнику, оборудование, железнодорожный и водный транспорт, недвижимость.</li>
                                    <li><b>Миссия нашей команды</b> — обеспечить бизнес юридических лиц и индивидуальных предпринимателей быстрыми и гибкими финансовыми решениями. </li>
                                    <li>Мы поддерживаем философию совместного <b>развития</b> с ориентацией на <b>потребности</b> наших клиентов.</li>
                                    <li>Наша компания ценит уникальность и может позволить себе индивидуальный подход к каждой лизинговой сделке.</li>
                                    <li>С нами надежно: компания входит в состав группы Азиатско-Тихоокеанского банка — одного из крупнейших банков Дальнего Востока и Сибири с мультирегиональной сетью и стабильной репутацией.</li>
                                </ul>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="title__section section">Почему мы?</h2>
                        </div>
                    </div>
                    <div class="row d-none d-md-flex justify-content-center">
                        <div class="col-md-6 col-lg-4">
                            <a href="#" class="arrange-leasing__item separate">
                                <span style="background-image: url('assets/img/leasing/6.svg');" class="icon">
                                    <span><i>1</i></span>
                                </span>
                                <span class="h4">Финансируем приобретение авто, спецтехники, оборудования, железнодорожного и водного транспорта, недвижимости</span>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="arrange-leasing__item separate">
                                <div style="background-image: url('assets/img/leasing/7.svg');" class="icon">
                                    <span><i>2</i></span>
                                </div>
                                <h4>Строим любые графики платежей под бизнес клиента</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="arrange-leasing__item separate">
                                <div style="background-image: url('assets/img/leasing/8.svg');" class="icon">
                                    <span><i>3</i></span>
                                </div>
                                <h4>Приобретаем предметы лизинга напрямую у производителей по цене ниже рынка</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="arrange-leasing__item separate">
                                <div style="background-image: url('assets/img/leasing/9.svg');" class="icon">
                                    <span><i>4</i></span>
                                </div>
                                <h4>Обеспечиваем возможность пополнить оборотный капитал за счет возвратного лизинга</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="arrange-leasing__item separate">
                                <div style="background-image: url('assets/img/leasing/10.svg');" class="icon">
                                    <span><i>5</i></span>
                                </div>
                                <h4>Гарантируем лояльность при пользовании продуктами ПАО «Азиатско-Тихоокеанский Банк»</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row d-md-none">
                        <div class="col-12">
                            <div class="arrange-leasing-carousel swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item separate">
                                            <div style="background-image: url('assets/img/leasing/6.svg');" class="icon">
                                                <span><i>1</i></span>
                                            </div>
                                            <h4>Финансируем приобретение авто, спецтехники, оборудования, железнодорожного и водного транспорта, недвижимости</h4>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item separate">
                                            <div style="background-image: url('assets/img/leasing/7.svg');" class="icon">
                                                <span><i>2</i></span>
                                            </div>
                                            <h4>Строим любые графики платежей под бизнес клиента</h4>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item separate">
                                            <div style="background-image: url('assets/img/leasing/8.svg');" class="icon">
                                                <span><i>3</i></span>
                                            </div>
                                            <h4>Приобретаем предметы лизинга напрямую у производителей по цене ниже рынка</h4>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item separate">
                                            <div style="background-image: url('assets/img/leasing/9.svg');" class="icon">
                                                <span><i>4</i></span>
                                            </div>
                                            <h4>Обеспечиваем возможность пополнить оборотный капитал за счет возвратного лизинга</h4>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item separate">
                                            <div style="background-image: url('assets/img/leasing/10.svg');" class="icon">
                                                <span><i>5</i></span>
                                            </div>
                                            <h4>Гарантируем лояльность при пользовании продуктами ПАО «Азиатско-Тихоокеанский Банк»</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'components/feedbacks.html' %}

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="select-block select-block--contacts">
                            <h2  class="title__section">
                                Контактная информация и реквизиты
                                <a download href="#">
                                    <span class="d-none d-lg-block">Скачать карточку организации</span>
                                    <svg width="52" height="32"><use xlink:href="#download-accent"></use></svg>
                                </a>
                            </h2>
                            <div data-slide-toggle="#toggle-contacts" class="d-flex d-md-none">
                                <span class="icon icon-chevron"><span></span></span>
                            </div>
                            <div class="hidden-mobile" id="toggle-contacts" >
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5>Общество с ограниченной ответственностью «Лизинговая компания АТБ»</h5>
                                        <ul>
                                            <li>ООО «АТБ ЛК»</li>
                                            <li>ИНН 7703363177</li>
                                            <li>ОГРН 1027703024733</li>
                                            <li>КПП 770901001</li>
                                        </ul>
                                        <h5>Адрес</h5>
                                        <p>109004, г. Москва, ул. Николоямская, д. 38, стр. 2</p>
                                        <h5>Телефон</h5>
                                        <a href="tel:+7(499)110-72-71">+ 7 (499) 110-72-71</a>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Эл. почта</h5>
                                        <a href="mailto:info@atblk.ru">info@atblk.ru</a>
                                        <br><br>
                                        <h5>Генеральный директор</h5>
                                        <p>Гуцуляк Алексей Васильевич</p>
                                        <h5>Реквизиты</h5>
                                        <ul>
                                            <li>Наименование банка: Филиал «АТБ» (АО) в г. Москва</li>
                                            <li>Расчетный счет: 40701810619000000009</li>
                                            <li>Корреспондентский счет: 30101810145250000754</li>
                                            <li>БИК 044525754</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>