{% set title_page = 'Документы' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div class="breadcrumbs d-none d-md-block">
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Документы</a></li>
                                </ul>
                            </div>

                            <h2 class="title__section d-md-none mt-3">Документы</h2>

                        </div>
                        <div class="col-12">
                            <a 
                                download
                                href="#"
                                style="background-image: url('assets/img/doc.png');"
                                class="doc-item doc-item--big"
                            >
                                <span>Памятка клиенту</span>
                             </a>
                        </div>
                        <div class="col-lg-6">
                            <a download href="#" class="doc-item">
                                <span >Правила лизинга</span>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a download href="#" class="doc-item">
                                <span>Политика <br>кофиденциальности</span>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a download href="#" class="doc-item">
                                <span>Согласие на обработку персональных данных</span>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a download href="#" class="doc-item">
                                <span>Карточка организации</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>