{% set title_page = 'Empty' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div class="breadcrumbs d-none d-md-block">
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Empty page</a></li>
                                </ul>
                            </div>

                            <h2 class="title__section d-md-none mt-3">Empty page</h2>

                        </div>
                    </div>
                </div>
            </section>
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>