{% set title_page = 'Факторинг' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div 
                                style="background-image: url('assets/img/breadcrumbs.png');"
                                class="breadcrumbs d-none d-md-block breadcrumbs--custom"
                            >
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Факторинг</a></li>
                                </ul>

                                <p>С факторингом от АТБ ЛК <br>ваш бизнес на максимальных оборотах</p>
                            </div>

                            <h2 class="title__section d-md-none mt-3">Факторинг</h2>

                            <div class="slogan d-md-none">С факторингом от АТБ ЛК ваш бизнес на максимальных оборотах</div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="section pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="title__section section">Возможности факторинга</h2>

                            <div class="bracket-carousel swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="bracket-item">
                                            <p>Увеличение оборотов компании</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="bracket-item">
                                            <p>Сокращение  кассового разрыва</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="bracket-item">
                                            <p>Привлечение новых покупателей за счет отсрочки</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="bracket-item">
                                            <p>Отсутствие залога</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="section pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="title__section section">Факторинговые решения</h2>

                            <div class="factoring-carousel swiper">
                                <div class="swiper-wrapper grid-container">
                                    <div class="swiper-slide">
                                        <div class="factoring-item">
                                            <div>
                                                <h3>Факторинг <br>с регрессом</h3>
                                                <p>финансирование под уступку дебиторской задолженности</p>
                                            </div>
                                            <div>
                                                <img src="assets/img/factoring/1.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="factoring-item">
                                            <div>
                                                <h3>Факторинг <br>без регресса</h3>
                                                <p>фактор берет  на себя риск неоплаты со стороны дебитора</p>
                                            </div>
                                            <div>
                                                <img src="assets/img/factoring/2.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="factoring-item">
                                            <div>
                                                <h3>Конфиденциальный факторинг</h3>
                                                <p>финансирование под уступку дебиторской задолженности без уведомления дебитора</p>
                                            </div>
                                            <div>
                                                <img src="assets/img/factoring/3.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="factoring-item">
                                            <div>
                                                <h3>Агентский (закупочный) факторинг</h3>
                                                <p>финансирование закупок товаров  или услуг</p>
                                            </div>
                                            <div>
                                                <img src="assets/img/factoring/4.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="section pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="title__section section">Преимущества в АТБ ЛК</h2>
                            <div class="acdantage-carousel swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item separate">
                                            <h3>Скорость</h3>
                                            <div style="background-image: url('assets/img/leasing/11.svg');" class="icon">
                                                <span><i>1</i></span>
                                            </div>
                                            <h4>Мы ценим своё время и время наших клиентов. Электронный документооборот на всех этапах сделки.</h4>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item separate">
                                            <h3>Компетентность</h3>
                                            <div style="background-image: url('assets/img/leasing/12.svg');" class="icon">
                                                <span><i>2</i></span>
                                            </div>
                                            <h4>Современные методики оценки сделок и принятия риска.</h4>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item separate">
                                            <h3>Честность и открытость</h3>
                                            <div style="background-image: url('assets/img/leasing/13.svg');" class="icon">
                                                <span><i>3</i></span>
                                            </div>
                                            <h4>Прозрачное ценообразование без скрытых комиссий.</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'components/feedbacks.html' %}
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>