{% set title_page = 'Guide' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div class="breadcrumbs d-none d-md-block">
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Guide</a></li>
                                </ul>
                            </div>

                            <h2 class="title__section d-md-none mt-3">Guide</h2>

                            <div class="text-graph">
                                <h2 class="title__section">PAGES</h2>
                                <ul>
                                    <li><a target="_blank" href="./">Главная</a></li>
                                    <li><a target="_blank" href="./about.html">О компании</a></li>
                                    <li><a target="_blank" href="./news.html">Новости</a></li>
                                    <li><a target="_blank" href="./news-item.html">Новости (item)</a></li>
                                    <li><a target="_blank" href="./vacancy.html">Вакансии</a></li>
                                    <li><a target="_blank" href="./program.html">Программы</a></li>
                                    <li><a target="_blank" href="./offers.html">Спецпредложения</a></li>
                                    <li><a target="_blank" href="./offers-item.html">Спецпредложения (item)</a></li>
                                    <li><a target="_blank" href="./partners.html">Наши партнеры</a></li>
                                    <li><a target="_blank" href="./documents.html">Документы</a></li>
                                    <li><a target="_blank" href="./factoring.html">Факторинг</a></li>
                                    <li><a target="_blank" href="./policy.html">Политика кофиденциальности</a></li>
                                    <li><a target="_blank" href="./empty.html">Пустая страница</a></li>
                                </ul>
                                <br><br>
                                <h2 class="title__section">POPUPS</h2>
                                <ul>
                                    <li><a data-popup="callback" href="#">Заказать звонок</a></li>
                                    <li><a data-popup="success" href="#">success</a></li>
                                    <li><a data-popup="leasing" href="#">Заявка на лизинг</a></li>
                                    <li><a data-popup="partner" href="#">Стать партнёром АТБ ЛК</a></li>
                                    <li>
                                        <!-- [data-value] => передается значения инпута или textarea по [name], пример 'vacancy' => <textarea name="vacancy"> -->
                                        <a 
                                            data-popup="anketa" 
                                            data-value='{"vacancy": "Менеджер по работе с ВИП клиентами, г. Кемерово"}' 
                                            href="#"
                                        >Анкета кандидата</a>
                                    </li>
                                    <li><a data-popup="region" href="#">Изменить регион</a></li>
                                    <li>
                                        <a 
                                            data-popup="map" 
                                            data-map-city="Москва" 
                                            data-map-address="Москва, пер. Вознесенский, 11 стр 1" 
                                            data-map-time="Пн-Пт: 09:00-19:00, Сб: 10:00-17:00" 
                                            data-map-croods="[55.759203, 37.604664]" 
                                            data-zoom="12"
                                            href="#"
                                        >Москва, пер. Вознесенский, 11 стр 1</a>
                                    </li>
                                    <li>
                                        <a 
                                            data-popup="map" 
                                            data-map-city="Уфа" 
                                            data-map-address="Уфа, проспект Октября, 15" 
                                            data-map-time="Пн-Пт: 09:00-19:00, Сб: 10:00-17:00" 
                                            data-map-croods="[54.744699, 55.990384]" 
                                            data-zoom="16"
                                            href="#"
                                        >Уфа, проспект Октября, 15</a>
                                    </li>
                                    <li>
                                        <a 
                                            data-popup="map" 
                                            data-map-city="В о компании" 
                                            data-map-address="109004, г. Москва, ул. Николоямская, д. 38, стр. 2" 
                                            data-map-time="Пн-Пт: 09:00-19:00, Сб: 10:00-17:00" 
                                            data-map-croods="[55.747995790158,37.609787597656]" 
                                            data-zoom="10"
                                            href="#"
                                        >109004, г. Москва, ул. Николоямская, д. 38, стр. 2</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>