{% set title_page = 'Index' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-carousel swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div 
                                            class="header-carousel__item" 
                                            style="background-image: url('assets/img/carousel/1.jpg');"
                                        >
                                            <div class="header-carousel__content">
                                                <h3>Лизинг лайт</h3>
                                                <a href="#">
                                                    Подробнее
                                                    <span class="icon icon-arrow-right">
                                                        <svg>
                                                            <use xlink:href="#arrow-right"></use>
                                                        </svg>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div 
                                            class="header-carousel__item" 
                                            style="background-image: url('assets/img/carousel/1.jpg');"
                                        >
                                            <div class="header-carousel__content">
                                                <h3>Лизинг лайт</h3>
                                                <a href="#">
                                                    Подробнее
                                                    <span class="icon icon-arrow-right">
                                                        <svg>
                                                            <use xlink:href="#arrow-right"></use>
                                                        </svg>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="arrange-leasing__section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="title__section section">Как оформить лизинг</h2>
                            <div class="arrange-leasing-carousel swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="arrange-leasing__item">
                                            <span style="background-image: url('assets/img/leasing/1.svg');" class="icon">
                                                <span><i>1</i></span>
                                            </span>
                                            <span class="h4">Подайте <br>заявку</span>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item">
                                            <div style="background-image: url('assets/img/leasing/2.svg');" class="icon">
                                                <span><i>2</i></span>
                                            </div>
                                            <h4>Получите <br>одобрение</h4>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item">
                                            <div style="background-image: url('assets/img/leasing/3.svg');" class="icon">
                                                <span><i>3</i></span>
                                            </div>
                                            <h4>Подпишите <br>договор</h4>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item">
                                            <div style="background-image: url('assets/img/leasing/4.svg');" class="icon">
                                                <span><i>4</i></span>
                                            </div>
                                            <h4>Оплатите аванс и страхование</h4>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="arrange-leasing__item">
                                            <div style="background-image: url('assets/img/leasing/5.svg');" class="icon">
                                                <span><i>5</i></span>
                                            </div>
                                            <h4>Получите <br>предмет лизинга</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'components/feedbacks.html' %}

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="select-block">
                            <h2 class="title__section">Ближайший к вам филиал</h2>
                            <div class="address-block">
                                <div class="selected-city__wrapp">
                                    <span>
                                        <span class="icon icon-locale">
                                            <svg><use xlink:href="#locale"></use></svg>
                                        </span>
                                        МОСКВА
                                    </span>
                                    <a data-popup="region" class="d-none d-lg-block" href="#">Показать на карте</a>
                                </div>
                                <div class="address__list ">
                                    <a href="#">Москва, пер. Вознесенский, 11 стр 1</a> <br>
                                    <div class="d-none d-xl-block">
                                        <b>8-800-775-88-88 (для физ. лиц)</b> <br>
                                        <b>8-800-775-80-80 (для юр. лиц)</b>
                                    </div>
                                </div>
                                <div class="address__mode d-none d-xl-block">
                                    <h5>Режим работы</h5>
                                    Пн-Пт: 09:00-19:00, <br>
                                    Сб: 10:00-17:00
                                </div>
                                <div class="d-none d-lg-block">
                                    <a href="#" class="btn">Скачать список отделений</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>