{% set title_page = 'Новости' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section pb-md-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div class="breadcrumbs d-none d-md-block">
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Новости</a></li>
                                    <li><a href="#">Komatsu – новый партнёр лизинговой компании АТБ</a></li>
                                </ul>
                            </div>

                            <h2 class="title__section d-md-none mt-3">Komatsu – новый партнёр лизинговой компании АТБ</h2>
                            
                        </div>

                        

                        <div class="col-lg-5">
                            <div class="separete__image">
                                <img src="assets/img/card/2.jpg" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="separete__text">
                                <div class="date">20 апреля 2022</div>
                                <h3>Японская компания Komatsu – один из крупнейших мировых производителей строительного, горнодобывающего, лесного и промышленного оборудования – стала партнёром лизинговой компании Азиатско-Тихоокеанского банка. </h3>
                                <p>Теперь нашим клиентам доступен широкий ассортимент самой современной техники высокого класса. Они могу воспользоваться пакетами услуг «Лизинг стандарт» и «Лизинг-лайт».</p>
                                <p>По стандартной программа в лизинг можно взять технику стоимостью до 300 млн рублей, при этом график платежей устанавливается индивидуально и может составлять до 10 лет.</p>
                                <p>По программе «Лизинг-лайт» решения принимаются всего за 1 день при минимальном пакете документов, а первоначальный взнос отсутствует.</p>
                                <p>Помимо Komatsu cреди текущих партнёров ЛК АТБ такие мировые бренды, как Камаз, Hyundai, Isuzu, FAW и другие.</p>
                            </div>
                            <a href="#" class="back-link">
                                <span class="icon icon-arrow-left-dark">
                                    <svg><use xlink:href="#arrow-left-dark"></use></svg>
                                </span>
                                к списку новостей
                            </a>
                        </div>

                    </div>
                </div>
            </section>
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>