{% set title_page = 'Скидки до 500 000 руб. от партнера на Komatsu' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section pb-md-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div class="breadcrumbs d-none d-md-block">
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Спецпредложения</a></li>
                                    <li><a href="#">Скидки до 500 000 руб. от партнера на Komatsu</a></li>
                                </ul>
                            </div>

                            <h2 class="title__section d-md-none mt-3">Скидки до 500 000 руб. от партнера на Komatsu</h2>
                            
                        </div>

                        

                        <div class="col-lg-5">
                            <div class="separete__image">
                                <img src="assets/img/card/2.jpg" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="separete__text">
                                <h4>Условия</h4>
                                <ul>
                                    <li>Аванс от 10% до 49%</li>
                                    <li>Срок действия договора лизинга - не менее 12 месяцев</li>
                                    <li>Возможность досрочного выкупа после 6 месяцев лизинга</li>
                                    <li>Распространяется на договоры, заключенные до 31.12.2022</li>
                                </ul>
                                <h4>Примеры расчетов</h4>
                                <!-- <a data-fslightbox href="assets/img/offers.jpg">
                                    <img src="assets/img/offers.jpg" alt="">
                                </a> -->
                                <img src="assets/img/offers.jpg" alt="">
                            </div>
                            <a href="#" class="back-link">
                                <span class="icon icon-arrow-left-dark">
                                    <svg><use xlink:href="#arrow-left-dark"></use></svg>
                                </span>
                                к списку Спецпредложений
                            </a>
                        </div>

                    </div>
                </div>
            </section>
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>