{% set title_page = 'Спецпредложения' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div class="breadcrumbs d-none d-md-block">
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Спецпредложения </a></li>
                                </ul>
                            </div>

                            
                        </div>

                        <h2 class="title__section d-md-none mt-3">Спецпредложения </h2>

                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div 
                                    style="background-image: url('assets/img/card/4.jpg')"
                                    class="card__image"
                                >
                                    <a href="#"></a>
                                </div>
                                <div class="card__text">
                                    <h4><a href="#">Специальные условия для приобретения УАЗ</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div 
                                    style="background-image: url('assets/img/card/2.jpg')"
                                    class="card__image"
                                >
                                    <a href="#"></a>
                                </div>
                                <div class="card__text">
                                    <h4><a href="#">Скидки от партнера на Komatsu</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div 
                                    style="background-image: url('assets/img/card/5.jpg')"
                                    class="card__image"
                                >
                                    <a href="#"></a>
                                </div>
                                <div class="card__text">
                                    <h4><a href="#">Особые условия на б/у авто</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div 
                                    style="background-image: url('assets/img/card/5.jpg')"
                                    class="card__image"
                                >
                                    <a href="#"></a>
                                </div>
                                <div class="card__text">
                                    <h4><a href="#">Особые условия на б/у авто</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div 
                                    style="background-image: url('assets/img/card/2.jpg')"
                                    class="card__image"
                                >
                                    <a href="#"></a>
                                </div>
                                <div class="card__text">
                                    <h4><a href="#">Скидки от партнера на Komatsu</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div 
                                    style="background-image: url('assets/img/card/4.jpg')"
                                    class="card__image"
                                >
                                    <a href="#"></a>
                                </div>
                                <div class="card__text">
                                    <h4><a href="#">Специальные условия для приобретения УАЗ</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div 
                                    style="background-image: url('assets/img/card/4.jpg')"
                                    class="card__image"
                                >
                                    <a href="#"></a>
                                </div>
                                <div class="card__text">
                                    <h4><a href="#">Специальные условия для приобретения УАЗ</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div 
                                    style="background-image: url('assets/img/card/2.jpg')"
                                    class="card__image"
                                >
                                    <a href="#"></a>
                                </div>
                                <div class="card__text">
                                    <h4><a href="#">Скидки от партнера на Komatsu</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div 
                                    style="background-image: url('assets/img/card/5.jpg')"
                                    class="card__image"
                                >
                                    <a href="#"></a>
                                </div>
                                <div class="card__text">
                                    <h4><a href="#">Особые условия на б/у авто</a></h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 text-center mb-5">
                             <a class="more" href="#">
                                Показать еще
                                <span class="icon icon-chevron">
                                    <span></span>
                                </span>
                             </a>
                         </div>
                    </div>
                </div>
            </section>
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>