{% set title_page = 'Наши партнеры' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div class="breadcrumbs d-none d-md-block">
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Наши партнеры</a></li>
                                </ul>
                            </div>

                            <h2 class="title__section d-md-none mt-3">Наши партнеры</h2>
                            

                        </div>
                    </div>
                    <div class=" d-none d-lg-flex row justify-content-center">
                        <div class="col-md-6 col-lg-4">
                            <div class="partner-item">
                                <img src="assets/img/partners/1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="partner-item">
                                <img src="assets/img/partners/2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="partner-item">
                                <img src="assets/img/partners/3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="partner-item">
                                <img src="assets/img/partners/4.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="partner-item">
                                <img src="assets/img/partners/5.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="partner-item">
                                <img src="assets/img/partners/6.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="partner-item">
                                <img src="assets/img/partners/7.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="partner-item">
                                <img src="assets/img/partners/8.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="partner-item">
                                <img src="assets/img/partners/9.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="partner-item">
                                <img src="assets/img/partners/10.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row d-lg-none">
                        <div class="col-12">
                            <div class="partners-carousel swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="partner-item">
                                            <img src="assets/img/partners/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="partner-item">
                                            <img src="assets/img/partners/2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="partner-item">
                                            <img src="assets/img/partners/3.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="partner-item">
                                            <img src="assets/img/partners/4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="partner-item">
                                            <img src="assets/img/partners/5.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="partner-item">
                                            <img src="assets/img/partners/6.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="partner-item">
                                            <img src="assets/img/partners/7.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="partner-item">
                                            <img src="assets/img/partners/8.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="partner-item">
                                            <img src="assets/img/partners/9.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="partner-item">
                                            <img src="assets/img/partners/10.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'components/partners.html' %}
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>