{% set title_page = 'Политика кофиденциальности' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section section-policy">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div class="breadcrumbs d-none d-md-block">
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Политика кофиденциальности</a></li>
                                </ul>
                            </div>

                            
                        </div>

                        <h2 class="title__section d-md-none mt-3">Политика кофиденциальности</h2>

                        <div class="col-12">
                            <div class="text-graph">
                                <h3>1. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
                                <p>1.1. Настоящая «Политика обработки и обеспечения безопасности персональных данных в ООО «АТБ ЛК» (далее – Политика) разработана в целях:</p>
                                <ul>
                                    <li>определения порядка обработки персональных данных субъектов персональных данных, персональные данные которых подлежат обработке, на основании полномочий ООО «АТБ ЛК» (далее – лизинговая компания); </li> 
                                    <li>обеспечения защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну;  </li>
                                    <li>установления ответственности должностных лиц, имеющих доступ к персональным данным, за невыполнение требований норм, регулирующих обработку и защиту персональных данных </li>
                                </ul>
                                <p>1.2. Настоящая Политика определяет основные принципы, цели, условия и способы обработки персональных данных, а также реализуемые в ООО «АТБ ЛК» требования к защите персональных данных.</p>
                                <p>1.3. Политика разработана в соответствии с законодательством Российской Федерации в области персональных данных</p>
                                <p>1.4. Организация обработки и обеспечения безопасности персональных данных осуществляется в соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных» и принятыми в соответствии с ним нормативными правовыми актами.</p>
                                <p>1.5. Политика устанавливает:</p>
                                <ul>
                                    <li>цели сбора и обработки Персональных данных;  </li>
                                    <li>понятие и состав Персональных данных; </li>
                                    <li>общие принципы Обработки персональных данных; </li>
                                    <li>порядок и условия обработки персональных данных; </li>
                                    <li>права и обязанности Субъекта персональных данных и лизинговой компании; </li>
                                    <li>права и обязанности лизинговой компании; </li>
                                    <li>меры ООО «АТБ ЛК», направленные на обеспечение выполнения обязанностей по защите Персональных данных; </li>
                                    <li>меры ООО «АТБ ЛК»  по обеспечению безопасности персональных данных при их обработке; </li>
                                    <li>сроки Обработки персональных данных; </li>
                                    <li>условия и принципы обработки персональных данных в соответствии с Регламентом GDPR; </li>
                                    <li>ответственность. </li>
                                </ul>
                                <p>1.6. Действие Политики распространяется на все процессы лизинговой компании, связанные с Обработкой персональных данных, как с применением средств автоматизации, так и без применения таких средств.</p>
                                <p>1.7. В случае изменения законодательства Российской Федерации, нормативных актов и иных органов, а также внутренних нормативных документов ООО «АТБ ЛК», до приведения настоящей Политики в соответствие с такими изменениями, Политика действует в части, не противоречащей законодательству Российской Федерации, нормативным актам и внутренним документам лизинговой компании.</p>
                                <p>1.8. Пересмотр и обновление настоящей Политики осуществляется в связи с изменениями законодательства Российской Федерации в области персональных данных, по результатам анализа актуальности, достаточности и эффективности используемых мер обеспечения безопасности персональных данных при их обработке в информационных системах персональных данных лизинговой компании, а также по результатам других контрольных мероприятий.</p>
                                <p>1.9. На основании приказа Федеральной службы по надзору в сфере связи, информационных технологий и массовых коммуникаций ООО «АТБ ЛК» включено в реестр операторов, осуществляющих Обработку Персональных данных.</p>
                                <br><br>
                                <h3>3. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h3>
                                <table class="table">
                                    <tr>
                                        <td><b>Автоматизированная Обработка Персональных данных</b></td>
                                        <td>Обработка Персональных данных с помощью средств вычислительной техники</td>
                                    </tr>
                                    <tr>
                                        <td><b>ООО «АТБ ЛК»</b></td>
                                        <td>Общество с ограниченной ответственностью «Лизинговая компания АТБ», являющийся в рамках Федерального закона № 152-ФЗ оператором по Обработке Персональных данных, а именно: организующий и (или) осуществляющий самостоятельно или совместно с другими лицами Обработку Персональных данных, а также определяющий цели Обработки Персональных данных, состав Персональных данных, подлежащих Обработке, действия (операции), совершаемые с Персональными данными </td>
                                    </tr>
                                    <tr>
                                        <td><b>Блокирование</b></td>
                                        <td>временное прекращение Обработки Персональных данных (за исключением случаев, если Обработка необходима для уточнения Персональных данных)</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>