{% set title_page = 'Программы лизинга' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div class="breadcrumbs d-none d-md-block">
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Программы лизинга</a></li>
                                </ul>
                            </div>

                            <h2 class="title__section d-md-none mt-3">Программы лизинга</h2>

                            <div class="text-graph">
                                <ul>
                                    <li>Наши лизинговые программы разработаны, чтобы обеспечить бизнес юридических лиц и индивидуальных предпринимателей быстрыми и гибкими финансовыми решениями. </li>
                                    <li><b>«Лизинговая компания АТБ»</b> предоставляет лизинг на легковые и грузовые автомобили, спецтехнику, оборудование, ж/д транспорт, морские и речные суда и недвижимость.</li>
                                </ul>
                            </div>

                            <div class="select-block select-block--program">
                                <h2 class="title__section b-bottom">Лизинг лайт</h2>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col">
                                                <div class="program__acd">до <span>20 млн ₽</span></div>
                                            </div>
                                            <div class="col">
                                                <div class="program__acd">от <span>0%</span> <br>аванс</div>
                                            </div>
                                            <div class="col-lg w-100 flex-grow-1">
                                                <div class="program__acd">до <span>5 лет</span> <br>срок договора</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <ul>
                                            <li>минимальный пакет документов</li>
                                            <li>1 день на решение *</li>
                                        </ul>
                                        <span style="font-size: 14px;">* при предоставлении полного пакета документов</span>
                                    </div>
                                    <div class="col-12">
                                        <h5>Предметы лизинга</h5>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/1.svg');" class="acd__icon"></div>
                                            <p>легковой <br>транспорт</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/9.svg');" class="acd__icon"></div>
                                            <p>легкий коммерческий <br>транспорт</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/2.svg');" class="acd__icon"></div>
                                            <p>грузовой <br>транспорт</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/3.svg');" class="acd__icon"></div>
                                            <p>спецтехника</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="select-block select-block--program">
                                <h2 class="title__section b-bottom">Лизинг стандарт</h2>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col">
                                                <div class="program__acd">от <span>30 млн ₽</span></div>
                                            </div>
                                            <div class="col">
                                                <div class="program__acd">от <span>10%</span> <br>аванс</div>
                                            </div>
                                            <div class="col-lg w-100 flex-grow-1">
                                                <div class="program__acd">до <span>5 лет</span> <br>срок договора</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <ul>
                                            <li>индивидуальный график лизинговых платежей</li>
                                            <li>полное сопровождение сделки</li>
                                        </ul>
                                    </div>
                                    <div class="col-12">
                                        <h5>Предметы лизинга</h5>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/1.svg');" class="acd__icon"></div>
                                            <p>легковой <br>транспорт</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/2.svg');" class="acd__icon"></div>
                                            <p>грузовой транспорт</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/3.svg');" class="acd__icon"></div>
                                            <p>спецтехника</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/4.svg');" class="acd__icon"></div>
                                            <p>оборудование</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/5.svg');" class="acd__icon"></div>
                                            <p>недвижимость</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/6.svg');" class="acd__icon"></div>
                                            <p>ж/д</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/7.svg');" class="acd__icon"></div>
                                            <p>вертолеты</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="acd">
                                            <div style="background-image: url('assets/img/program/8.svg');" class="acd__icon"></div>
                                            <p>суда</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </section>
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>