{% set title_page = 'Работа у нас' %}
<!DOCTYPE html>
<html lang="ru">
 <head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include 'components/TopLine/index.html' %}
            
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <div class="breadcrumbs d-none d-md-block">
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Работа у нас</a></li>
                                </ul>
                            </div>

                            <h2 class="title__section d-md-none mt-3">Работа у нас</h2>

                            <div class="text-graph">
                                <ul>
                                    <li>Мы всегда рады принять в свой коллектив профессионалов! Мы приветствуем наличие у сотрудников активной жизненной позиции, высокого уровня ответственности и стремления к развитию, предоставляя возможность работать в дружном молодом коллективе и комфортных условиях, а также различные бонусы. Благодарим Вас за интерес, проявленный к вакансиям <b>«Лизинговая компания АТБ»</b>.</li>
                                    <li>Мы приглашаем к сотрудничеству как опытных, так и начинающих специалистов и готовы предложить <b>профессиональный рост</b>, <b>масштабные задачи</b> и <b>интересную работу</b> в команде целеустремленных и успешных людей.</li>
                                </ul>
                            </div>

                            <div class="select-block">
                                <h2 class="title__section not">Вакансии</h2>
                                <div class="jobs">
                                    <div class="jobs-item">
                                        <div data-job class="jobs-item__title">
                                            <span>Менеджер по работе с корпоративными клиентами, г. Южно-Сахалинск</span>
                                        </div>
                                        <div style="display: none" class="jobs-item__content">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <h5>Требования</h5>
                                                    <ul>
                                                        <li>Высшее образование: желательно экономическое или менеджмент.</li>
                                                        <li>Наличие опыта в привлечении клиентов обязательно.</li>
                                                        <li>Банковский опыт приветствуется.</li>
                                                        <li>Желание работать, учиться новому.</li>
                                                        <li>Коммуникабельность, целеустремленность, активная жизненная позиция.</li>
                                                        <li>Полный рабочий день (график 5/2),</li>
                                                        <li>Полный соц.пакет.</li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h5>Обязанности</h5>
                                                    <ul>
                                                        <li>Привлечение корпоративных клиентов на обслуживание в Банке по всей линейке банковских продуктов и их сопровождение.</li>
                                                        <li>Сбор пакета документов.</li>
                                                        <li>Отчетность.</li>
                                                        <li>Взаимодействие с начальником отдела.</li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 text-center pt-3">
                                                    <a href="#" class="btn btn-accent">откликнуться на вакансию</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs-item">
                                        <div data-job class="jobs-item__title">
                                            <span>Ведущий менеджер по работе с корпоративными клиентами, г. Красноярск</span>
                                        </div>
                                        <div style="display: none" class="jobs-item__content">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <h5>Требования</h5>
                                                    <ul>
                                                        <li>Высшее образование: желательно экономическое или менеджмент.</li>
                                                        <li>Наличие опыта в привлечении клиентов обязательно.</li>
                                                        <li>Банковский опыт приветствуется.</li>
                                                        <li>Желание работать, учиться новому.</li>
                                                        <li>Коммуникабельность, целеустремленность, активная жизненная позиция.</li>
                                                        <li>Полный рабочий день (график 5/2),</li>
                                                        <li>Полный соц.пакет.</li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h5>Обязанности</h5>
                                                    <ul>
                                                        <li>Привлечение корпоративных клиентов на обслуживание в Банке по всей линейке банковских продуктов и их сопровождение.</li>
                                                        <li>Сбор пакета документов.</li>
                                                        <li>Отчетность.</li>
                                                        <li>Взаимодействие с начальником отдела.</li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 text-center pt-3">
                                                    <a href="#" class="btn btn-accent">откликнуться на вакансию</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs-item">
                                        <div data-job class="jobs-item__title">
                                            <span>Менеджер по работе с ВИП-клиентами, г. Кемерово</span>
                                        </div>
                                        <div style="display: none" class="jobs-item__content">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <h5>Требования</h5>
                                                    <ul>
                                                        <li>Высшее образование: желательно экономическое или менеджмент.</li>
                                                        <li>Наличие опыта в привлечении клиентов обязательно.</li>
                                                        <li>Банковский опыт приветствуется.</li>
                                                        <li>Желание работать, учиться новому.</li>
                                                        <li>Коммуникабельность, целеустремленность, активная жизненная позиция.</li>
                                                        <li>Полный рабочий день (график 5/2),</li>
                                                        <li>Полный соц.пакет.</li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h5>Обязанности</h5>
                                                    <ul>
                                                        <li>Привлечение корпоративных клиентов на обслуживание в Банке по всей линейке банковских продуктов и их сопровождение.</li>
                                                        <li>Сбор пакета документов.</li>
                                                        <li>Отчетность.</li>
                                                        <li>Взаимодействие с начальником отдела.</li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 text-center pt-3">
                                                    <a href="#" class="btn btn-accent">откликнуться на вакансию</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            

        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>