<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block">
                        <nav class="nav__footer">
                            <ul>
                                <li><a href="#">О Компании</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Вакансии</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block">
                        <nav class="nav__footer">
                            <ul>
                                <li><a href="#">Программы лизинга</a></li>
                                <li><a href="#">Факторинг</a></li>
                                <li><a href="#">Спецпредложения</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block">
                        <nav class="nav__footer">
                            <ul>
                                <li><a href="#">Наши партнеры</a></li>
                                <li><a href="#">Документы</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <ul class="info__footer">
                            <li>
                                <span class="icon icon-geo">
                                    <svg><use xlink:href="#geo"></use></svg>
                                </span>
                                109004, г. Москва, <br>ул. Николоямская, д. 38, стр. 2
                            </li>
                            <li>
                                <span class="icon icon-telephone">
                                    <svg><use xlink:href="#telephone"></use></svg>
                                </span>
                                <a href="tel:+7(499)110-72-71">+7 (499) 110-72-71</a>
                            </li>
                            <li>
                                <span class="icon icon-mail">
                                    <svg><use xlink:href="#mail"></use></svg>
                                </span>
                                <a href="mailto:info@atblk.ru">info@atblk.ru</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <p>Обращаем ваше внимание, что информация, размещенная на сайте, носит информационный характер и не является публичной офертой согласно статье 437 ГК РФ. ООО «АТБ ЛК» оставляет за собой право в одностороннем порядке в любое время без уведомления вносить изменения, удалять, исправлять, дополнять, либо иным способом обновлять информацию об условиях лизинговых программ.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© 2007–2022 ООО «Лизинговая компания АТБ»</p>
                </div>
                <div class="col-md-6 ">
                    <p class="text-lg-end">Разработано в <a target="_blank" href="#">Site-Mechanics</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<nav class="nav-mobile">
    <ul>
        <li>
            <form class="search">
                <div class="fieldset">
                    <input placeholder="Начните поиск, используя поле ввода" type="search" />
                    <button type="submit">
                        <span class="icon icon-search">
                            <svg><use xlink:href="#search"></use></svg>
                        </span>
                    </button>
                </div>
                <button data-cancel>отмена</button>
            </form>
            <div class="search-found">
                <div class="search-found__item"><a href="#"><b>komatsu</b> — новый партнёр лизинговой компании атб</a></div>
                <div class="search-found__item"><a href="#">скидки до 500 0000 руб. от партнера на <b>komatsu</b></div>
            </div>
        </li>
        <li>
            <a href="#">
                Заказать звонок
                <span class="icon icon-incoming">
                    <svg><use xlink:href="#incomming"></use></svg>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                Оставить заявку
                <span class="icon icon-uploads">
                    <svg><use xlink:href="#uploads"></use></svg>
                </span>
            </a>
        </li>
        <li>
            <a href="#">О Компании</a>
        </li>
        <li>
            <a href="#">Новости</a>
        </li>
        <li>
            <a href="#">Вакансии</a>
        </li>
        <li>
            <a class="active" href="#">Программы лизинга</a>
        </li>
        <li>
            <a href="#">Факторинг</a>
        </li>
        <li>
            <a href="#">Спецпредложения</a>
        </li>
        <li>
            <a href="#">Наши партнеры</a>
        </li>
        <li>
            <a href="#">Документы</a>
        </li>
        <li>
            <a class="accent" href="#">
                Вход
                <span class="icon icon-login-in">
                    <svg><use xlink:href="#login-in"></use></svg>
                </span>
            </a>
        </li>
    </ul>
</nav>

<div id="serach-popup" class="search-popup">
    <div class="search-popup__content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search__target">
                        <span class="icon icon-search">
                            <svg><use xlink:href="#search"></use></svg>
                        </span>
                        <form>
                            <div class="fieldset">
                                <input type="text" placeholder="Начните поиск, используя поле ввода" />
                            </div>
                        </form>
                        <div data-serach-popup-close class="search-popup__close"></div>
                    </div>
                    <div class="search__found">
                        <div class="search__found-item"><a href="#"><b>komatsu</b> — новый партнёр лизинговой компании атб</a></div>
                        <div class="search__found-item"><a href="#">скидки до 500 0000 руб. от партнера на <b>komatsu</b></a></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div data-serach-popup-close class="overlay"></div>
</div>

<div data-popup-target="callback" class="popup">
    <div data-popup-close class="overlay"></div>
    <div class="popup__content">
        <div class="popup__content-header">
            <h3>Заказать звонок</h3>
            <div data-popup-close class="popup__close"></div>
        </div>
        <div class="popup__content-body">
            <form >
                <div class="fieldset fieldset-legend">
                    <input type="text" data-required />
                    <legend>Ваше имя</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <input data-phone type="text" data-required />
                    <legend>Мобильный номер телефона</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div data-policy class="form__bottom">
                    <div class="policy">
                        <label class="check">
                            <input type="checkbox" />
                            <div class="custom-checkbox"></div>
                            <div class="custom-label">Настоящим подтверждаю, что я ознакомлен с условиями <a href="#">Политики конфиденциальности</a></div>
                        </label>
                    </div>
                    <input class="btn" type="submit" value="отправить" />
                </div>
            </form>
        </div>
    </div>
</div>
<div data-popup-target="success" class="popup">
    <div data-popup-close class="overlay"></div>
    <div class="popup__content">
        <div class="popup__content-header">
            <h3>Заказать звонок</h3>
            <div data-popup-close class="popup__close"></div>
        </div>
        <div class="popup__content-body">
            <div class="text-center">
                <div class="loading spinner-border text-primary" style="display: none;"></div>
                <div class="notice alert alert-info">Ваше сообщение отправлено</div>
            </div>
        </div>
    </div>
</div>

<div data-popup-target="leasing" class="popup">
    <div data-popup-close class="overlay"></div>
    <div class="popup__content">
        <div class="popup__content-header">
            <h3>Заявка на лизинг</h3>
            <div data-popup-close class="popup__close"></div>
        </div>
        <div class="popup__content-body">
            <form >
                <div class="fieldset fieldset-legend">
                    <input type="text" data-required data-inn data-inn-limit="12" />
                    <legend>ИНН или название организации/ИП</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <input type="text" data-required />
                    <legend>Ваше имя</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <input type="text" data-required />
                    <legend>Ваш город</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <input data-phone type="text" data-required />
                    <legend>Контактный телефон</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <input data-email type="text" data-required />
                    <legend>Электронная почта</legend>
                    <div class="error">Невалидная электронная почта</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <textarea data-required></textarea>
                    <legend>Комментарий</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div data-policy class="form__bottom">
                    <div class="policy">
                        <p>Нажимая кнопку "Отправить заявку", вы соглашаетесь с <a href="#">Политикой конфиденциальности</a>, а также даете согласие на <a href="#">обработку персональных данных</a>, указанных вами в заявке.</p>
                        <label class="check">
                            <input type="checkbox" checked />
                            <div class="custom-checkbox"></div>
                            <div class="custom-label">Отправляя форму, вы соглашаетесь на получение информации об услугах, продуктах, акциях и персональных предложениях.</div>
                        </label>
                    </div>
                    <input class="btn" type="submit" value="отправить" />
                </div>
            </form>
        </div>
    </div>
</div>

<div data-popup-target="partner" class="popup">
    <div data-popup-close class="overlay"></div>
    <div class="popup__content">
        <div class="popup__content-header">
            <h3>Стать партнёром <br>АТБ ЛК</h3>
            <div data-popup-close class="popup__close"></div>
        </div>
        <div class="popup__content-body">
            <form >
                <div class="fieldset fieldset-legend">
                    <input type="text" data-required />
                    <legend>Ваше имя</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <input data-phone type="text" data-required />
                    <legend>Контактный телефон</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <input data-email type="text" data-required />
                    <legend>Электронная почта</legend>
                    <div class="error">Невалидная электронная почта</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <textarea data-required></textarea>
                    <legend>Комментарий</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div data-policy class="form__bottom">
                    <div class="policy">
                        
                        <label class="check">
                            <input type="checkbox" checked />
                            <div class="custom-checkbox"></div>
                            <div class="custom-label">Даю свое согласие на обработку моих <br><a href="#">персональных данных</a></div>
                        </label>
                    </div>
                    <input class="btn" type="submit" value="отправить" />
                </div>
            </form>
        </div>
    </div>
</div>

<div data-popup-target="anketa" class="popup">
    <div data-popup-close class="overlay"></div>
    <div class="popup__content">
        <div class="popup__content-header">
            <h3>Анкета кандидата</h3>
            <div data-popup-close class="popup__close"></div>
        </div>
        <div class="popup__content-body">
            <form >
                <div class="fieldset fieldset-legend">
                    <input type="text" data-required />
                    <legend>ФИО</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <input data-phone type="text" data-required />
                    <legend>Контактный телефон</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <input data-email type="text" data-required />
                    <legend>Электронная почта</legend>
                    <div class="error">Невалидная электронная почта</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <textarea data-required name="vacancy"></textarea>
                    <legend>Вакансия</legend>
                    <div class="error">Обязательное поле</div>
                </div>
                <div class="fieldset fieldset-legend">
                    <label data-file class="file-input">
                        <input type="file" multiple/>
                        <div class="custom-file">
                            <div class="custom-file--empty">
                                <div class="icon icon-attach">
                                    <svg><use xlink:href="#attach"></use></svg>
                                </div>
                                <span data-names>Загрузить резюме</span>
                            </div>
                        </div>
                    </label>
                </div>
                <div data-policy class="form__bottom">
                    <div class="policy">
                        
                        <label class="check">
                            <input type="checkbox" checked />
                            <div class="custom-checkbox"></div>
                            <div class="custom-label">Даю свое согласие на обработку моих <br><a href="#">персональных данных</a></div>
                        </label>
                    </div>
                    <input class="btn" type="submit" value="отправить" />
                </div>
            </form>
        </div>
    </div>
</div>

<div data-popup-target="region" class="popup">
    <div data-popup-close class="overlay"></div>
    <div class="popup__content">
        <div class="popup__content-header">
            <h3>Выберите регион</h3>
            <div data-popup-close class="popup__close"></div>
        </div>
        <div class="popup__content-body">
            <div class="list-region">
                <ul>
                    <li><a hre="#">Алтайский край</a></li>
                    <li><a hre="#">Амурская область</a></li>
                    <li><a hre="#">Еврейская автономная область</a></li>
                    <li><a hre="#">Забайкальский край</a></li>
                    <li><a hre="#">Иркутская область</a></li>
                    <li><a hre="#">Камчатский край</a></li>
                    <li><a hre="#">Кемеровская область</a></li>
                    <li><a hre="#">Красноярский край</a></li>
                    <li><a hre="#">Магаданская область</a></li>
                    <li><a class="selected" hre="#">Москва и МO</a></li>
                    <li><a hre="#">Новосибирская область</a></li>
                    <li><a hre="#">Омская область</a></li>
                    <li><a hre="#">Приморский край</a></li>
                    <li><a hre="#">Республика Алтай</a></li>
                    <li><a hre="#">Республика Бурятия</a></li>
                    <li><a hre="#">Республика Саха (Якутия)</a></li>
                    <li><a hre="#">Республика Хакасия</a></li>
                    <li><a hre="#">Санкт-Петербург</a></li>
                    <li><a hre="#">Сахалинская область</a></li>
                    <li><a hre="#">Свердловская область</a></li>
                    <li><a hre="#">Тюменская область</a></li>
                    <li><a hre="#">Хабаровский край</a></li>
                    <li><a hre="#">Чукотский АО</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div data-popup-target="map" class="popup">
    <div data-popup-close class="overlay"></div>
    <div class="popup__content">
        <div class="popup__content-header">
            <h3 data-city></h3>
            <div data-popup-close class="popup__close"></div>
        </div>
        <div class="popup__content-body">
            <div class="map-data">
                <div data-address class="address"></div>
                <div data-time class="time"></div>
                <div data-map class="map"></div>
            </div>
        </div>
    </div>
</div>

<div data-cookies class="cookies container">
    <div class="cookies__wrapper">
        <div class="row flex-column flex-md-row">
            <div class="col flex-grow-1 mb-3 mb-md-0"><p>АТБ защищает персональные данные пользователей и обрабатывает Cookies только для персонализации сервисов. <br>Запретить обработку Cookies можно в настройках Вашего браузера. Пожалуйста, ознакомьтесь с <a href="#">Условиями обработки персональных данных и Cookies.</a></p></div>
            <div class="col flex-grow-0"><a href="#" data-cookies-close class="btn">Спасибо, понятно</a></div>
        </div>
    </div>
</div>