<svg width="0" height="0" class="hidden" style="display: none">
    <symbol id="search" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M21 21L16.65 16.65" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
    <symbol id="incomming" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path  fill="#373A36" d="M16 1C16.5523 1 17 1.44772 17 2V7H22C22.5523 7 23 7.44772 23 8C23 8.55228 22.5523 9 22 9H16C15.4477 9 15 8.55228 15 8V2C15 1.44772 15.4477 1 16 1Z" />
        <path fill="#373A36"  d="M23.7071 0.292893C24.0976 0.683417 24.0976 1.31658 23.7071 1.70711L16.7071 8.70711C16.3166 9.09763 15.6834 9.09763 15.2929 8.70711C14.9024 8.31658 14.9024 7.68342 15.2929 7.29289L22.2929 0.292893C22.6834 -0.0976311 23.3166 -0.0976311 23.7071 0.292893Z" />
        <path stroke="#373A36" d="M22.0001 19.92V16.92C22.0122 16.4296 21.8437 15.9518 21.5266 15.5775C21.2095 15.2032 20.7658 14.9585 20.2801 14.89C19.32 14.7634 18.3773 14.5285 17.4701 14.19C17.1121 14.0555 16.7231 14.0263 16.3492 14.1061C15.9752 14.1858 15.6319 14.3711 15.3601 14.64L14.0901 15.91C11.5865 14.4864 9.51361 12.4135 8.09006 9.91L9.36005 8.64C9.62892 8.36811 9.81421 8.02484 9.89396 7.65088C9.97372 7.27691 9.9446 6.88792 9.81006 6.53C9.47151 5.62272 9.23668 4.68006 9.11005 3.72C9.04213 3.23944 8.80179 2.79998 8.43382 2.48353C8.06585 2.16708 7.59536 1.99522 7.11006 2H4.11006C3.8324 2.00026 3.55783 2.05833 3.30385 2.17052C3.04986 2.28271 2.82202 2.44655 2.63482 2.65162C2.44763 2.85669 2.30518 3.09849 2.21656 3.36162C2.12793 3.62476 2.09507 3.90346 2.12006 4.18C2.4483 7.27099 3.50003 10.2412 5.19006 12.85C6.72539 15.2662 8.77388 17.3147 11.1901 18.85C13.7871 20.5341 16.7429 21.5856 19.8201 21.92C20.0974 21.9451 20.377 21.9119 20.6408 21.8227C20.9046 21.7335 21.1469 21.5901 21.3521 21.4019C21.5574 21.2136 21.721 20.9845 21.8326 20.7293C21.9441 20.4742 22.0012 20.1985 22.0001 19.92Z" fill="inherit" stroke="inherit"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
    <symbol id="uploads" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15" stroke="#373A36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M17 8L12 3L7 8" stroke="#373A36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 3V15" stroke="#373A36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
    <symbol id="login-in" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M15 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H15" stroke="#F54E00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10 17L15 12L10 7" stroke="#F54E00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M15 12H3" stroke="#F54E00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
    <symbol id="arrow-right" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18.59 13H3C2.73478 13 2.48043 12.8947 2.29289 12.7071C2.10536 12.5196 2 12.2652 2 12C2 11.7348 2.10536 11.4804 2.29289 11.2929C2.48043 11.1054 2.73478 11 3 11H18.59L13.29 5.70001C13.186 5.60961 13.1018 5.49869 13.0427 5.37421C12.9836 5.24973 12.9509 5.11439 12.9466 4.97666C12.9422 4.83893 12.9664 4.7018 13.0176 4.57386C13.0688 4.44593 13.1459 4.32995 13.244 4.23321C13.3421 4.13647 13.4592 4.06105 13.5878 4.01168C13.7165 3.96232 13.8539 3.94008 13.9916 3.94635C14.1292 3.95262 14.2641 3.98727 14.3877 4.04813C14.5114 4.10899 14.6211 4.19475 14.71 4.30001L21.71 11.3C21.8932 11.4869 21.9959 11.7383 21.9959 12C21.9959 12.2618 21.8932 12.5131 21.71 12.7L14.71 19.7C14.5199 19.8653 14.2744 19.9527 14.0226 19.9448C13.7708 19.9369 13.5312 19.8343 13.3519 19.6574C13.1725 19.4805 13.0664 19.2425 13.055 18.9908C13.0435 18.7392 13.1274 18.4925 13.29 18.3L18.59 13Z" fill="white"/>
    </symbol>
    <symbol id="arrow-right-accent" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18.59 13H3C2.73478 13 2.48043 12.8947 2.29289 12.7071C2.10536 12.5196 2 12.2652 2 12C2 11.7348 2.10536 11.4804 2.29289 11.2929C2.48043 11.1054 2.73478 11 3 11H18.59L13.29 5.70001C13.186 5.60961 13.1018 5.49869 13.0427 5.37421C12.9836 5.24973 12.9509 5.11439 12.9466 4.97666C12.9422 4.83893 12.9664 4.7018 13.0176 4.57386C13.0688 4.44593 13.1459 4.32995 13.244 4.23321C13.3421 4.13647 13.4592 4.06105 13.5878 4.01168C13.7165 3.96232 13.8539 3.94008 13.9916 3.94635C14.1292 3.95262 14.2641 3.98727 14.3877 4.04813C14.5114 4.10899 14.6211 4.19475 14.71 4.30001L21.71 11.3C21.8932 11.4869 21.9959 11.7383 21.9959 12C21.9959 12.2618 21.8932 12.5131 21.71 12.7L14.71 19.7C14.5199 19.8653 14.2744 19.9527 14.0226 19.9448C13.7708 19.9369 13.5312 19.8343 13.3519 19.6574C13.1725 19.4805 13.0664 19.2425 13.055 18.9908C13.0435 18.7392 13.1274 18.4925 13.29 18.3L18.59 13Z" fill="#f54e00"/>
    </symbol>
    <symbol id="geo" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_218_1056)">
            <path d="M12 23.6023C11.8804 23.603 11.7618 23.5801 11.651 23.5348C11.5403 23.4896 11.4395 23.423 11.3546 23.3387L4.92792 16.9757C4.00007 16.0539 3.26369 14.9577 2.76119 13.7503C2.2587 12.5428 2 11.2478 2 9.93994C2 8.63207 2.2587 7.33711 2.76119 6.12963C3.26369 4.92214 4.00007 3.82597 4.92792 2.90423C6.81142 1.04347 9.35237 0 12 0C14.6476 0 17.1886 1.04347 19.0721 2.90423C19.9999 3.82597 20.7363 4.92214 21.2388 6.12963C21.7413 7.33711 22 8.63207 22 9.93994C22 11.2478 21.7413 12.5428 21.2388 13.7503C20.7363 14.9577 19.9999 16.0539 19.0721 16.9757L12.6454 23.3387C12.5605 23.423 12.4597 23.4896 12.349 23.5348C12.2382 23.5801 12.1196 23.603 12 23.6023ZM12 1.78615C9.83044 1.78082 7.7476 2.6375 6.20962 4.16775C5.45217 4.92048 4.85104 5.81558 4.44084 6.80152C4.03064 7.78747 3.81946 8.8448 3.81946 9.91267C3.81946 10.9805 4.03064 12.0379 4.44084 13.0238C4.85104 14.0098 5.45217 14.9049 6.20962 15.6576L12 21.4116L17.7904 15.6576C18.5478 14.9049 19.149 14.0098 19.5592 13.0238C19.9694 12.0379 20.1805 10.9805 20.1805 9.91267C20.1805 8.8448 19.9694 7.78747 19.5592 6.80152C19.149 5.81558 18.5478 4.92048 17.7904 4.16775C16.2524 2.6375 14.1696 1.78082 12 1.78615Z" fill="black"/>
            <path d="M12 14.5122C11.1011 14.5122 10.2223 14.2456 9.47491 13.7462C8.72748 13.2468 8.14493 12.537 7.80093 11.7065C7.45693 10.876 7.36692 9.96211 7.54229 9.08046C7.71766 8.19881 8.15053 7.38897 8.78617 6.75333C9.4218 6.1177 10.2317 5.68482 11.1133 5.50945C11.995 5.33408 12.9088 5.42409 13.7393 5.76809C14.5698 6.11209 15.2796 6.69464 15.7791 7.44207C16.2785 8.1895 16.545 9.06823 16.545 9.96716C16.545 11.1726 16.0662 12.3286 15.2138 13.181C14.3615 14.0333 13.2054 14.5122 12 14.5122ZM12 7.24014C11.4606 7.24014 10.9334 7.40007 10.4849 7.69972C10.0365 7.99937 9.68696 8.42527 9.48055 8.92357C9.27415 9.42187 9.22015 9.97018 9.32537 10.4992C9.43059 11.0282 9.69032 11.5141 10.0717 11.8955C10.4531 12.2768 10.939 12.5366 11.468 12.6418C11.997 12.747 12.5453 12.693 13.0436 12.4866C13.5419 12.2802 13.9678 11.9307 14.2674 11.4822C14.5671 11.0338 14.727 10.5065 14.727 9.96716C14.727 9.24391 14.4397 8.55028 13.9283 8.03886C13.4169 7.52745 12.7232 7.24014 12 7.24014Z" fill="black"/>
        </g>
        <defs>
            <clipPath id="clip0_218_1056">
                <rect width="24" height="24" fill="white"/>
            </clipPath>
        </defs>
    </symbol>
    <symbol id="telephone" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M3.60629 0.973389C5.44344 0.973389 6.94412 2.47435 6.94412 4.31121V19.6884C6.94412 21.5256 5.44344 23.0263 3.60629 23.0263C1.76915 23.0263 0.268188 21.5256 0.268188 19.6884V4.31121C0.268188 2.47435 1.76915 0.973389 3.60629 0.973389ZM11.9912 16.5763C12.4683 16.5763 12.8552 16.9629 12.8552 17.4403C12.8552 17.9173 12.4683 18.3043 11.9912 18.3043C11.5139 18.3043 11.1272 17.9173 11.1272 17.4403C11.1272 16.9629 11.5139 16.5763 11.9912 16.5763ZM19.7679 16.5763C20.2449 16.5763 20.6319 16.9629 20.6319 17.4403C20.6319 17.9173 20.2449 18.3043 19.7679 18.3043C19.2908 18.3043 18.9039 17.9173 18.9039 17.4403C18.9039 16.9629 19.2908 16.5763 19.7679 16.5763ZM15.8796 16.5763C16.3566 16.5763 16.7436 16.9629 16.7436 17.4403C16.7436 17.9173 16.3566 18.3043 15.8796 18.3043C15.4022 18.3043 15.0155 17.9173 15.0155 17.4403C15.0155 16.9629 15.4022 16.5763 15.8796 16.5763ZM11.9912 10.0044C12.4683 10.0044 12.8552 10.3913 12.8552 10.8684C12.8552 11.3457 12.4683 11.7324 11.9912 11.7324C11.5139 11.7324 11.1272 11.3457 11.1272 10.8684C11.1272 10.3913 11.5139 10.0044 11.9912 10.0044ZM19.7679 10.0044C20.2449 10.0044 20.6319 10.3913 20.6319 10.8684C20.6319 11.3457 20.2449 11.7324 19.7679 11.7324C19.2908 11.7324 18.9039 11.3457 18.9039 10.8684C18.9039 10.3913 19.2908 10.0044 19.7679 10.0044ZM15.8796 10.0044C16.3566 10.0044 16.7436 10.3913 16.7436 10.8684C16.7436 11.3457 16.3566 11.7324 15.8796 11.7324C15.4022 11.7324 15.0155 11.3457 15.0155 10.8684C15.0155 10.3913 15.4022 10.0044 15.8796 10.0044ZM11.9912 13.2903C12.4683 13.2903 12.8552 13.677 12.8552 14.1543C12.8552 14.6314 12.4683 15.0183 11.9912 15.0183C11.5139 15.0183 11.1272 14.6314 11.1272 14.1543C11.1272 13.677 11.5139 13.2903 11.9912 13.2903ZM19.7679 13.2903C20.2449 13.2903 20.6319 13.677 20.6319 14.1543C20.6319 14.6314 20.2449 15.0183 19.7679 15.0183C19.2908 15.0183 18.9039 14.6314 18.9039 14.1543C18.9039 13.677 19.2908 13.2903 19.7679 13.2903ZM15.8796 13.2903C16.3566 13.2903 16.7436 13.677 16.7436 14.1543C16.7436 14.6314 16.3566 15.0183 15.8796 15.0183C15.4022 15.0183 15.0155 14.6314 15.0155 14.1543C15.0155 13.677 15.4022 13.2903 15.8796 13.2903ZM11.5062 5.1086H20.2529C20.5769 5.1086 20.8397 5.37166 20.8397 5.69566V8.44671C20.8397 8.77071 20.5769 9.03348 20.2529 9.03348H11.5062C11.1822 9.03348 10.9195 8.77071 10.9195 8.44671V5.69566C10.9195 5.37166 11.1822 5.1086 11.5062 5.1086ZM19.6658 6.28272H12.0933V7.85965H19.6658V6.28272ZM22.558 3.48746H9.20108V20.5122H22.558V3.48746ZM8.6143 2.31362H23.1448C23.4691 2.31362 23.7319 2.57668 23.7319 2.90068V21.0992C23.7319 21.4232 23.4691 21.686 23.1448 21.686H8.6143C8.29002 21.686 8.02724 21.4232 8.02724 21.0992V2.90068C8.02724 2.57668 8.29002 2.31362 8.6143 2.31362ZM3.60629 2.14751C2.41715 2.14751 1.44231 3.12235 1.44231 4.31121V19.6884C1.44231 20.8776 2.41715 21.8524 3.60629 21.8524C4.79515 21.8524 5.77028 20.8776 5.77028 19.6884V4.31121C5.77028 3.12235 4.79515 2.14751 3.60629 2.14751Z" fill="black"/>
    </symbol>
    <symbol id="mail" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M1.5 3V18.75C1.5 19.3467 1.73705 19.919 2.15901 20.341C2.58097 20.7629 3.15326 21 3.75 21H20.25C20.8467 21 21.419 20.7629 21.841 20.341C22.2629 19.919 22.5 19.3467 22.5 18.75V3H1.5ZM19.7025 4.5L12.4875 10.605C12.3517 10.7212 12.1788 10.785 12 10.785C11.8212 10.785 11.6483 10.7212 11.5125 10.605L4.2975 4.5H19.7025ZM20.25 19.5H3.75C3.55109 19.5 3.36032 19.421 3.21967 19.2803C3.07902 19.1397 3 18.9489 3 18.75V5.37L10.545 11.7525C10.9515 12.0971 11.4671 12.2863 12 12.2863C12.5329 12.2863 13.0485 12.0971 13.455 11.7525L21 5.37V18.75C21 18.9489 20.921 19.1397 20.7803 19.2803C20.6397 19.421 20.4489 19.5 20.25 19.5Z" fill="black"/>
    </symbol>
    <symbol id="locale" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_95_8370)">
            <path d="M12.5865 23.9888C12.0311 23.9888 10.6687 23.7592 9.96233 21.6353L8.06029 15.9292L2.35259 14.0271C0.395488 13.3742 0.0415099 12.1833 0.00375223 11.5304C-0.0340054 10.8775 0.183101 9.65353 2.0521 8.78195L19.9477 0.429648C21.5697 -0.323931 22.9714 -0.0564813 23.6416 0.99916C23.994 1.55137 24.2646 2.5252 23.5582 4.04022L15.2059 21.9358C14.3737 23.7214 13.2048 23.9888 12.5865 23.9888ZM4.10675 11.296L10.5476 13.4403L12.695 19.8796L20.2072 3.78064L4.10675 11.296Z" fill="#373A36"/>
        </g>
        <defs>
            <clipPath id="clip0_95_8370">
                <rect width="24" height="24" fill="white"/>
            </clipPath>
        </defs>
    </symbol>
    <symbol id="download-accent" width="54" height="32" viewBox="0 0 54 32" fill="none">
        <path d="M11 22.59L11 7C11 6.73478 11.1053 6.48043 11.2929 6.29289C11.4804 6.10536 11.7348 6 12 6C12.2652 6 12.5196 6.10536 12.7071 6.29289C12.8946 6.48043 13 6.73478 13 7V22.59L18.3 17.29C18.3904 17.186 18.5013 17.1018 18.6258 17.0427C18.7503 16.9836 18.8856 16.9509 19.0233 16.9466C19.1611 16.9422 19.2982 16.9664 19.4261 17.0176C19.5541 17.0688 19.67 17.1459 19.7668 17.244C19.8635 17.3421 19.939 17.4592 19.9883 17.5878C20.0377 17.7165 20.0599 17.8539 20.0537 17.9916C20.0474 18.1292 20.0127 18.2641 19.9519 18.3877C19.891 18.5114 19.8053 18.6211 19.7 18.71L12.7 25.71C12.5131 25.8932 12.2617 25.9959 12 25.9959C11.7382 25.9959 11.4869 25.8932 11.3 25.71L4.29999 18.71C4.13471 18.5199 4.04728 18.2744 4.05518 18.0226C4.06308 17.7708 4.16572 17.5312 4.34258 17.3519C4.51945 17.1725 4.75751 17.0664 5.00917 17.055C5.26083 17.0435 5.50754 17.1274 5.69999 17.29L11 22.59Z" fill="#F54E00"/>
        <path d="M30 32H46C47.4145 32 48.7711 31.4381 49.7713 30.4379C50.7715 29.4377 51.3334 28.0812 51.3334 26.6667V14.2093C51.331 13.2828 51.1343 12.3671 50.756 11.5213C50.7346 11.4753 50.7101 11.4308 50.6827 11.388C50.3614 10.6878 49.9206 10.0489 49.38 9.5L41.8387 1.952C41.2893 1.41143 40.65 0.970633 39.9494 0.649333C39.9027 0.625333 39.8614 0.596 39.816 0.576C38.9687 0.1982 38.0517 0.00199048 37.124 0L30 0C28.5855 0 27.229 0.561903 26.2288 1.5621C25.2286 2.56229 24.6667 3.91885 24.6667 5.33333V26.6667C24.6667 28.0812 25.2286 29.4377 26.2288 30.4379C27.229 31.4381 28.5855 32 30 32ZM46.7814 10.6667H43.3334C42.6261 10.6667 41.9478 10.3857 41.4477 9.88562C40.9476 9.38552 40.6667 8.70724 40.6667 8V4.552L46.7814 10.6667ZM27.3334 5.33333C27.3334 4.62609 27.6143 3.94781 28.1144 3.44772C28.6145 2.94762 29.2928 2.66667 30 2.66667H37.124C37.419 2.66893 37.7127 2.70381 38 2.77067V8C38 9.41449 38.5619 10.771 39.5621 11.7712C40.5623 12.7714 41.9189 13.3333 43.3334 13.3333H48.56C48.6283 13.6204 48.6641 13.9143 48.6667 14.2093V26.6667C48.6667 27.3739 48.3857 28.0522 47.8856 28.5523C47.3855 29.0524 46.7073 29.3333 46 29.3333H30C29.2928 29.3333 28.6145 29.0524 28.1144 28.5523C27.6143 28.0522 27.3334 27.3739 27.3334 26.6667V5.33333Z" fill="#F54E00"/>
        <path d="M31.3333 26.6667H44.6667C45.0203 26.6667 45.3594 26.5262 45.6095 26.2761C45.8595 26.0261 46 25.687 46 25.3333C46 24.9797 45.8595 24.6406 45.6095 24.3905C45.3594 24.1405 45.0203 24 44.6667 24H31.3333C30.9797 24 30.6406 24.1405 30.3905 24.3905C30.1405 24.6406 30 24.9797 30 25.3333C30 25.687 30.1405 26.0261 30.3905 26.2761C30.6406 26.5262 30.9797 26.6667 31.3333 26.6667Z" fill="#F54E00"/>
        <path d="M31.3333 21.3333H36.6667C37.0203 21.3333 37.3594 21.1928 37.6095 20.9428C37.8595 20.6927 38 20.3536 38 20C38 19.6463 37.8595 19.3072 37.6095 19.0572C37.3594 18.8071 37.0203 18.6666 36.6667 18.6666H31.3333C30.9797 18.6666 30.6406 18.8071 30.3905 19.0572C30.1405 19.3072 30 19.6463 30 20C30 20.3536 30.1405 20.6927 30.3905 20.9428C30.6406 21.1928 30.9797 21.3333 31.3333 21.3333Z" fill="#F54E00"/>
    </symbol>
    <symbol id="arrow-left-dark" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M5.40585 13H20.9958C21.2611 13 21.5154 12.8947 21.703 12.7071C21.8905 12.5196 21.9958 12.2652 21.9958 12C21.9958 11.7348 21.8905 11.4804 21.703 11.2929C21.5154 11.1054 21.2611 11 20.9958 11H5.40585L10.7058 5.70001C10.8098 5.60961 10.894 5.49869 10.9531 5.37421C11.0122 5.24973 11.045 5.11439 11.0493 4.97666C11.0536 4.83893 11.0294 4.7018 10.9782 4.57386C10.927 4.44593 10.85 4.32995 10.7519 4.23321C10.6537 4.13647 10.5367 4.06105 10.408 4.01168C10.2794 3.96232 10.1419 3.94008 10.0043 3.94635C9.86661 3.95262 9.73174 3.98727 9.60811 4.04813C9.48448 4.10899 9.37477 4.19475 9.28585 4.30001L2.28585 11.3C2.10262 11.4869 1.99999 11.7383 1.99999 12C1.99999 12.2618 2.10262 12.5131 2.28585 12.7L9.28585 19.7C9.47597 19.8653 9.72147 19.9527 9.97327 19.9448C10.2251 19.9369 10.4646 19.8343 10.644 19.6574C10.8234 19.4805 10.9294 19.2425 10.9409 18.9908C10.9524 18.7392 10.8684 18.4925 10.7058 18.3L5.40585 13Z" fill="#373A36"/>
    </symbol>
    <symbol id="attach" width="25" height="24" viewBox="0 0 25 24" fill="none">
        <path d="M14.5 0C17.2614 0 19.5 2.23858 19.5 5V17C19.5 20.866 16.366 24 12.5 24C8.63401 24 5.5 20.866 5.5 17V9H7.5V17C7.5 19.7614 9.73858 22 12.5 22C15.2614 22 17.5 19.7614 17.5 17V5C17.5 3.34315 16.1569 2 14.5 2C12.8431 2 11.5 3.34315 11.5 5V17C11.5 17.5523 11.9477 18 12.5 18C13.0523 18 13.5 17.5523 13.5 17V6H15.5V17C15.5 18.6569 14.1569 20 12.5 20C10.8431 20 9.5 18.6569 9.5 17V5C9.5 2.23858 11.7386 0 14.5 0Z" fill="#F54E00"/>
    </symbol>
</svg>