<div class="top-line">

    {%
        include 'lang.html'
    %}

    <div class="logo">
        <a href="/">Igor Terekhov</a>
    </div>

    <nav class="nav">
        
        {%
            include 'nav.html'    
        %}

        <div data-burger class="menu-burger"><span>меню</span></div>
    </nav>

    {%
        include 'mobile-nav.html'
    %}

</div>