<div data-burger-nav class="mobile-nav">
    <div class="mobile-nav__content">
        <nav class="nav-mobile">
            {%
                include 'nav.html'
            %}
        </nav>
        <div class="mobile-nav__bottom">
            {%
                include 'lang.html'
            %}

            <div class="email">
                <span>M</span>
                <a href="mailto:artiter@gmail.com">artiter@gmail.com</a>
            </div>

            <div class="copyrite">
                © 2021 все права защищены
            </div>
        </div>
    </div>
</div>