<ul>
    <li><a href="#"><span>биография</span></a></li>
    <li><a href="#"><span>экспозиция</span></a></li>
    <li><a href="#"><span>периоды</span></a></li>
    <li><a href="#"><span>тексты</span></a></li>
</ul>