@mixin font-face(
  $font-name,
  $font-path,
  // path + file name. Ex : path/to/font/filename
    $font-weight: 400,
  $font-style: normal,
  $support-required: "modern"
) {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
      src: url("#{$font-path}.eot");
      src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
        url("#{$font-path}.woff2") format("woff2"),
        url("#{$font-path}.woff") format("woff"),
        url("#{$font-path}.ttf") format("truetype");
  }
}

@mixin media-max($breackpoint) {
  @media screen and (max-width: $breackpoint) {
    @content
  }
}

@mixin media-min($breackpoint) {
  @media screen and (min-width: $breackpoint) {
    @content
  }
}

@mixin centerPadding {
  & > .header,
  & > footer ,
  & > .nav__section,
  & > .countes__section,
  & > .reports__section,
  & > .preview-news__section,
  & > .group-links__section ,
  & > .partners__section .partners__top,
  & > .partners__section .partners__bottom,
  & > .breadcrumbs__section,
  .article-main__section .btn-all,
  .appeal__section,
  .content__section{
      padding-left: 48px;
      padding-right: 48px;
      @media (max-width: 1800px) {
        padding-left: 28px;
        padding-right: 28px;
      }
      @media (max-width: 1200px) {
        padding-left: 8px;
        padding-right: 8px;
      }
  }
}