$font-size: 1em;
$accent: #3C4149;
$text: #212121;
$font-family: 'GolosText', sans-serif;

// Bootstrap variables
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1281px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;