<section  class="board-main__section article-main__section">
    <div style="background-image: url(assets/img/article_main.jpg);" class="board-main__image"><a href="#"></a></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="board-main__content">
                    <h5>статья</h5>
                    <a href="#">
                        <b>Итоги 2021 года: <br>экологическая безопасность</b>
                        <span>Обеспечение экологической безопасности и ликвидация накопленного вреда окружающей среде – это отдельный блок экологических вопросов, к решению которых Минприроды России к решению которых Минприроды России к решению которых Минприроды России</span>
                    </a>
                    <span>30 декабря, 2021</span>
                </div>
            </div>
        </div>
    </div>
    <a  href="#" class="btn-all">
        <img src="assets/img/icons/arrow-circle.svg" width="20" alt="">
        читать все статьи
    </a>
</section>