<section class="countes__section">
    <div class="container-fluid">
        <div class="row justify-content-center justify-content-sm-between">
            <div class="col">
                <div class="countes-item">
                    <div class="num">309.7</div>
                    <div class="text">млн тонн угля добыто за 2021 год в Российской Федерации </div>
                </div>
            </div>
            <div class="col">
                <div class="countes-item">
                    <div class="num">23,361</div>
                    <div class="text">тысяч лицензий на право пользования недрами выдано в Российской Федерации</div>
                </div>
            </div>
            <div class="col">
                <div class="countes-item">
                    <div class="num">524.05</div>
                    <div class="text">млн тонн нефти добыто за 2021 год в Российской Федерации </div>
                </div>
            </div>
        </div>
    </div>
</section>