<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-auto">
                <div class="footer-content">
                    <div class="footer-logo">
                        <img src="./assets/img/logo-light.svg" alt="">
                    </div>

                    <div class="footer-appeal">
                        <a href="#">
                            <img src="./assets/img/appeal.svg" alt="">
                        </a>
                    </div>

                    <div class="footer-address">
                        125993 МОСКВА, УЛ. Б. ГРУЗИНСКАЯ, 4/6, ГСП-3
                        <a href="mailto:ROSNEDRA@ROSNEDRA.GOV.RU">ROSNEDRA@ROSNEDRA.GOV.RU</a>
                        <a href="tel:+7(499)254-11-11">+7(499)254-11-11</a>
                    </div>

                    <div class="footer-social">
                        <ul class="social">
                            <li>
                                <a href="#">
                                    <img src="./assets/img/icons/vk.svg" width="41" alt="vk">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="./assets/img/icons/fb.svg" width="19" alt="fb">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="./assets/img/icons/instagram.svg" width="33" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="./assets/img/icons/youtube.svg" width="33" alt="youtube">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="./assets/img/icons/rss.svg" width="30" alt="rss">
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>

            </div>
            <div class="col flex-grow-1 d-none d-xl-flex">
                <div class="row row--custom">
                    <div class="col">
                        <div class="footer-nav">
                            <h4>ОБ АГЕНТСТВЕ</h4>
                            <ul>
                                <li><a href="#">Руководитель</a></li>
                                <li><a href="#">Структура агентства</a></li>
                                <li>
                                    <a href="#"><span>Положение об агентстве <i>→</i></span></a>
                                    <div class="sub-nav__child">
                                        <h4>Положение об агентстве</h4>
                                        <ul>
                                            <li><a href="#">Перечень нормативных правовых актов в сфере недропользования</a></li>
                                            <li><a href="#">Федеральные законы</a></li>
                                            <li><a href="#">Постановления правительства РФ</a></li>
                                            <li><a href="#">Приказы Минприроды России</a></li>
                                            <li><a href="#">Приказы Роснедр</a></li>
                                            <li><a href="#">Административные регламенты</a></li>
                                            <li><a href="#">Перечень нормативных правовых актов, содержащих обязательные требования</a></li>
                                            <li><a href="#">Административный и судебный порядок оспаривания НПА</a></li>
                                            <li><a href="#">Статистическая отчётность</a></li>
                                            <li><a href="#">Государственные доклады</a></li>
                                            <li><a href="#">Реализация 83-ФЗ</a></li>
                                            <li><a href="#">Государственное имущество</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">Территориальные органы</a></li>
                                <li><a href="#">ТФГИ</a></li>
                                <li><a href="#">Подведомственные организации</a></li>
                                <li>
                                    <a href="#"><span>Открытое агентство <i>→</i></span></a>
                                    <div class="sub-nav__child">
                                        <h4>Открытое агентство</h4>
                                        <ul>
                                            <li><a href="#">Перечень нормативных правовых актов, содержащих обязательные требования</a></li>
                                            <li><a href="#">Административный и судебный порядок оспаривания НПА</a></li>
                                            <li><a href="#">Статистическая отчётность</a></li>
                                            <li><a href="#">Государственные доклады</a></li>
                                            <li><a href="#">Реализация 83-ФЗ</a></li>
                                            <li><a href="#">Государственное имущество</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">Коллегиальные и совещательные органы</a></li>
                                <li><a href="#">Государственная служба</a></li>
                                <li><a href="#">Геральдический знак-эмблема и флаг</a></li>
                                <li><a href="#">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-nav">
                            <h4>ДЕЯТЕЛЬНОСТЬ</h4>
                            <ul>
                                <li><a href="#">Государственные услуги</a></li>
                                <li><a href="#">Документы</a></li>
                                <li><a href="#">Информационные ресурсы и программы</a></li>
                                <li><a href="#">ЦКР Роснедр</a></li>
                                <li><a href="#">Аукционы и конкурсы</a></li>
                                <li><a href="#">Финансовое обеспечение ГРР</a></li>
                                <li><a href="#">Бюджет</a></li>
                                <li><a href="#">Кадастровая работа</a></li>
                                <li><a href="#">Заказы для государственных нужд</a></li>
                                <li><a href="#">Изъятие земель</a></li>
                                <li><a href="#">Государственный баланс запасов</a></li>
                                <li><a href="#">Стратегическое планирование</a></li>
                                <li><a href="#">Международное сотрудничество</a></li>
                                <li>
                                    <a href="#"><span>Цифровизация <i>→</i></span></a>
                                    <div class="sub-nav__child">
                                        <h4>Цифровизация</h4>
                                        <ul>
                                            <li><a href="#">Перечень нормативных правовых актов в сфере недропользования</a></li>
                                            <li><a href="#">Федеральные законы</a></li>
                                            <li><a href="#">Постановления правительства РФ</a></li>
                                            <li><a href="#">Приказы Минприроды России</a></li>
                                            <li><a href="#">Приказы Роснедр</a></li>
                                            <li><a href="#">Административные регламенты</a></li>
                                            <li><a href="#">Перечень нормативных правовых актов, содержащих обязательные требования</a></li>
                                            <li><a href="#">Административный и судебный порядок оспаривания НПА</a></li>
                                            <li><a href="#">Статистическая отчётность</a></li>
                                            <li><a href="#">Государственные доклады</a></li>
                                            <li><a href="#">Реализация 83-ФЗ</a></li>
                                            <li><a href="#">Государственное имущество</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">Экспертиза проектов геологического изучения недр</a></li>
                                <li><a href="#">Реестр недобросовестных участников аукционов на право пользования участками недр</a></li>
                                <li><a href="#">Годовые отчеты</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-nav">
                            <h4>ПРЕСС-СЛУЖБА</h4>
                            <ul>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Анонсы</a></li>
                                <li><a href="#">Выступления и интервью руководителя</a></li>
                                <li><a href="#">Мероприятия</a></li>
                                <li><a href="#">Недропользование в СМИ</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Отраслевые СМИ</a></li>
                                <li><a href="#">Юные геологи России</a></li>
                                <li><a href="#">Геологические учебные заведения</a></li>
                                <li><a href="#">Информационные материалы</a></li>
                                <li><a href="#">Контакты для СМИ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-nav">
                            <h4>ГОСУСЛУГИ</h4>
                            <ul>
                                <li><a href="#">Портал госуслуг и функций Роснедра</a></li>
                                <li><a href="#">Личный кабинет недропользователя</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade modal--custom" id="printModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn-icon">
                    <img src="./assets/img/icons/print.svg" alt="печать">
                    распечатать
                </button>
                <button type="button" class="btn-close mr-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-scroll">
                    <div class="textgraph">
                        <div class="date">10 марта, 2022</div>
                        <h1>Итоги аукциона на право пользования недрами на участке Тарминский, расположенном на территории Ямало-Ненецкого автономного округа</h1>
                        <p>Участок недр Тарминский в административном отношении расположен на территории Ямало-Ненецкого автономного округа.</p>
                        <p>Согласно Государственному балансу запасов УВС РФ по состоянию на 01.01.2021 на участке открытые месторождения УВС отсутствуют.</p>
                        <p>Согласно Государственному балансу запасов УВС РФ по состоянию на 01.01.2021 на участке недр отсутствуют структуры, подготовленные к глубокому бурению с перспективными ресурсами категории D0.
                        </p>
                        <p>
                            В соответствии с официальной количественной оценкой ресурсов УВС России (по состоянию на 01.01.2017): извлекаемые ресурсы УВС категорий D1 (перспективные) составляют: нефти – 2,1 млн т, газа – 152,6 млрд м3, конденсата – 14,2 млн т.; категории D2 (прогнозные) составляют: нефти – 11,4 млн т., газа – 140,2 млрд м3, конденсата – 20,4 млн т.
                        </p>
                        <p>
                            Площадь участка недр 1959 км2.
                        </p>
                        <p>
                            Поступило и зарегистрировано 3 заявки от следующих претендентов на участие в аукционе:
                        </p>
                        <ol>
                            <li>Общество с ограниченной ответственностью «ЯМАЛ Север» (ООО «ЯМАЛ Север»)</li>
                            <li>Публичное акционерное общество «Газпром нефть» (ПАО «Газпром нефть»)</li>
                            <li>Общество с ограниченной ответственностью «НОВАТЭК-ЮРХАРОВНЕФТЕГАЗ» (ООО «НОВАТЭК-ЮРХАРОВНЕФТЕГАЗ») </li>
                        </ol>
                        <p>
                            Стартовый размер разового платежа за пользование недрами составляет 109 400 000 (сто девять миллионов четыреста тысяч) рублей.
                        </p>
                        <p>
                            Аукцион признан состоявшимся. Количество пройденных шагов 11. По результатам проведения аукциона победителем признано ООО «ЯМАЛ Север», предложившее размер разового платежа за пользование недрами в сумме 229 740 000 (двести двадцать девять миллионов семьсот сорок тысяч) рублей.
                        </p>

                        <div  class="footer-copyrait">
                            <a href="#">
                                <img src="./assets/img/icons/logo_f.png" alt="">
                            </a>
                            <span >Copyright 2022 Федеральное агентство по недропользованию</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>