<div class="header">

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="header__content">
                    <div class="logo">
                        <a href="/"><img src="./assets/img/logo.svg" alt=""></a>
                    </div>
                    <div>
                        <div class="header-control">
                            <div class="header-control__item">
                                <button data-eye-version class="button button--bg-light button--glass">
                                    <span></span>
                                </button>
                            </div>
                            <div class="header-control__item">
                                <!-- <button class="button button--bg-light button--loopa">
                                    <span></span>
                                </button> -->
                                <form>
                                    <div class="search__form">
                                        <input type="text">
                                        <button data-slide-input type="button"></button>
                                    </div>
                                </form>
                            </div>
                            <div class="header-control__item">
                                <button data-burger class="button button--bg--dark button--dark button--burger">
                                    <span></span><span></span><span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include "nav.html" %}