<section class="reports__section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 order-sm-2">
                <div class="reports-item">
                    <h3 class="d-none d-sm-block">Государственный доклад 2020</h3>
                    <p class="d-none d-sm-block">о состоянии и использовании минерально-сырьевых ресурсов Российской Федерации в 2020</p>
                    <a style="background-image: url('assets/img/reports_bg.jpg');" href="#">
                        <img src="assets/img/logo-empty.svg" alt="logo">
                        <span>Государственный доклад о состоянии и использовании минерально-сырьевых ресурсов Российской Федерации в 2020 году</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6 order-sm-1">
                <div class="reports-item">
                    <h3>МАССИВ ЛИЦЕНЗИЙ НА ПРАВО ПОЛЬЗОВАНИЯ НЕДРАМИ</h3>
                    <p class="d-none d-sm-block">по данным ФГИС «АСЛН» на 09.02.2022</p>
                    <iframe src="https://bi.rfgf.ru/viewer/public?dashboardGuid=80c8b717806e4546a6c5414d04751efc&amp;showNav=false&amp;fit=true" frameborder="0"></iframe>
                </div>
            </div>
            
        </div>
    </div>
    <a  href="#" class="btn-all d-none d-sm-flex">
        <img src="assets/img/icons/arrow-circle.svg" width="20" alt="">
        читать все отчеты
    </a>
</section>