{% set title_page = "обратная связь" %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'обратная связь'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4"></div>
                        <div class="col-xl-8">
                            <div class="page__finder appeal__section">
                                <h1 class="page__title">Обратная связь</h1>
                                <form>
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="fieldset fieldset__radio">
                                                <label>
                                                    <input type="radio" name="input1" checked>
                                                    <span class="cust-input"></span>
                                                    <span class="cust-label">Я принимаю правила</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="fieldset fieldset__radio">
                                                <label>
                                                    <input type="radio" name="input1">
                                                    <span class="cust-input"></span>
                                                    <span class="cust-label">Я НЕ принимаю правила</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <hr>
                                        </div>
                                        <div class="col-12">
                                            <h4>Получить ответ</h4>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="fieldset fieldset__radio">
                                                <label>
                                                    <input data-tabs="input2" data-tabs-close type="radio" name="input2" checked>
                                                    <span class="cust-input"></span>
                                                    <span class="cust-label">в электронной форме</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="fieldset fieldset__radio">
                                                <label>
                                                    <input data-tabs="input2" type="radio" name="input2">
                                                    <span class="cust-input"></span>
                                                    <span class="cust-label">в письменной форме</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <h4>Ваши данные</h4>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="fieldset">
                                                <legend>Фамилия <sup>*</sup></legend>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="fieldset">
                                                <legend>Имя <sup>*</sup></legend>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="fieldset">
                                                <legend>Отчество</legend>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="fieldset">
                                                <legend>е-mail <sup>*</sup></legend>
                                                <input type="text">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <hr>
                                        </div>

                                        <div data-tabs-content="input2" class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h4>Почтовый адрес</h4>
                                                </div>
                                                <div class="col-xl-4 col-md-6">
                                                    <div class="fieldset">
                                                        <legend>Индекс <sup>*</sup></legend>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6">
                                                    <div class="fieldset">
                                                        <legend>Область / район / город <sup>*</sup></legend>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6">
                                                    <div class="fieldset">
                                                        <legend>Улица <sup>*</sup></legend>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6">
                                                    <div class="fieldset">
                                                        <legend>Дом / корпус / строение <sup>*</sup></legend>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6">
                                                    <div class="fieldset">
                                                        <legend>Квартира <sup>*</sup></legend>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6">
                                                    <div class="fieldset">
                                                        <legend>Телефон</legend>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>

                                        <div class="col-12">
                                            <h4>Тип обращения</h4>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="fieldset fieldset__radio">
                                                <label>
                                                    <input type="radio" name="input3" checked>
                                                    <span class="cust-input"></span>
                                                    <span class="cust-label">Заявление</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="fieldset fieldset__radio">
                                                <label>
                                                    <input type="radio" name="input3">
                                                    <span class="cust-input"></span>
                                                    <span class="cust-label">Жалоба</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="fieldset fieldset__radio">
                                                <label>
                                                    <input type="radio" name="input3">
                                                    <span class="cust-input"></span>
                                                    <span class="cust-label">Предложение</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="fieldset fieldset__radio">
                                                <label>
                                                    <input type="radio" name="input3">
                                                    <span class="cust-input"></span>
                                                    <span class="cust-label">Запрос информации</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <hr>
                                        </div>
                                        <div class="col-12">
                                            <h4>Получатель</h4>
                                            <div class="wrap-select">
                                                <select>
                                                    <option value="Temp0" selected>Федеральное агентство по недропользованию</option>
                                                    <option value="Temp1">Департамент по недропользованию по Центральному ФО</option>
                                                    <option value="Temp2">Департамент по недропользованию по Северо-Западному ФО</option>
                                                    <option value="Temp3">Департамент по недропользованию по Южному ФО</option>
                                                    <option value="Temp4">Департамент по недропользованию по Северо-Кавказскому ФО</option>
                                                    <option value="Temp5">Департамент по недропользованию по Приволжскому ФО</option>
                                                    <option value="Temp6">Департамент по недропользованию по Уральскому ФО</option>
                                                    <option value="Temp7">Департамент по недропользованию по Сибирскому ФО</option>
                                                    <option value="Temp8">Департамент по недропользованию по Центрально-Сибирскому округу</option>
                                                    <option value="Temp9">Департамент по недропользованию по Дальневосточному ФО</option>
                                                    <option value="Temp10">Управление по недропользованию по Республике Саха (Якутия)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <hr>
                                        </div>

                                        <div class="col-12">
                                            <h4>Текст обращения</h4>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="fieldset">
                                                <legend>ваш текст <sup>*</sup></legend>
                                                <textarea></textarea>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <hr>
                                        </div>

                                        <div class="col-12">
                                            <div class="fieldset fieldset__file">
                                                <div class="file">
                                                    <input type="file" multiple>
                                                    <div class="file-mask">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                        <span>прикрепить файл</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-md-6">
                                            <div class="fieldset">
                                                <legend>введите текст с картинки <sup>*</sup></legend>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="fieldset">
                                                картинка
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="fieldset">
                                                <button type="submit" disabled class="button__submit">отправить</button>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                                <p class="desc">Внимание! <br>Отправляя эту форму, Вы соглашаетесь с правилами работы раздела <br>"Направить обращение в Роснедра".</p>
                                <p class="desc"><sup>*</sup> - указаны поля, обязательные для заполнения</p>
                                <p>Сбор заявлений граждан о фактах нарушения российского законодательства осуществляется в соответствии с Указом Президента Российской Федерации «О мерах по противодействию коррупции» (№ 815 от 19 мая 2008 года). Ваше сообщение будет рассмотрено. Информирование Вас о выявленных нарушениях и принятых мерах будет осуществляться по Вашим контактным данным в установленном законом порядке.</p>
                                
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <h3>Контактная информация</h3>
                                        <ul>
                                            <li><a href="#">Адрес</a></li>
                                            <li><a href="#">График приема граждан</a></li>
                                            <li><a href="#">Подведомственные организации</a></li>
                                            <li><a href="#">Территориальные органы</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-6 text-sm-end">
                                        <a href="#">Заявления граждан</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>