{% set title_page = "Index" %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site">

        <div class="site-top">
            {% include "include/header.html" %}

            {% include "include/countes.html" %}

            {% include "include/board-main.html" %}

            {% include "include/reports.html" %}

            {% include "include/preview_news.html" %}

            {% include "include/group_links.html" %}

            {% include "include/article-main.html" %}

        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        
        
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>