{% set title_page = "ОТКРЫТОЕ АГЕНТСТВО " %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'ОТКРЫТОЕ АГЕНТСТВО'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                            <div class="row">
                                <div class="col-10">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            
                            <div class="textgraph">
                                <h1>ПУБЛИЧНАЯ ДЕКЛАРАЦИЯ</h1>
                                <br><br>

                                <div class="news-list">
                                    <h4><a href="#"><img src="./assets/img/icons/icon-crest.png" alt="Документы"> Документы</a></h4>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>План работы Общественного совета при Роснедрах на 2022 год</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Поздравление с Новым годом от Президента Российской Федерации В.В. Путина</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Кодекс этики члена Общественного совета при Роснедрах</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Поздравление с Новым годом от Президента Российской Федерации В.В. Путина</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Кодекс этики члена Общественного совета при Роснедрах</p>
                                            </a>
                                        </div>
                                    </div>

                                    <hr>

                                    <h4><a href="#"><img src="./assets/img/icons/icon-crest.png" alt="Документы"> Заседания общественного совета</a></h4>

                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>План работы Общественного совета при Роснедрах на 2022 год</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Поздравление с Новым годом от Президента Российской Федерации В.В. Путина</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Кодекс этики члена Общественного совета при Роснедрах</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Поздравление с Новым годом от Президента Российской Федерации В.В. Путина</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Кодекс этики члена Общественного совета при Роснедрах</p>
                                            </a>
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>