{% set title_page = "ОТКРЫТОЕ АГЕНТСТВО " %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'ОТКРЫТОЕ АГЕНТСТВО'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                            <div class="row">
                                <div class="col-10">
                                    <nav class="hierarch__nav">
                                        <ul>
                                            <li >
                                                <a href="#">Руководитель</a>
                                            </li>
                                            <li >
                                                <a href="#">Структура агентства</a>
                                                <span></span>
                                                <div class="hierarch__nav-child">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Заместители руководителя</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии твердых полезных ископаемых</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление финансово-экономического обеспечения</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии нефти и газа, подземных вод и сооружений</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологических основ, науки и информатики</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#"> Положение об  агентстве</a>
                                            </li>
                                            <li>
                                                <a href="#">Территориальные органы</a>
                                            </li>
                                            <li>
                                                <a href="#">ТФГИ</a>
                                            </li>
                                            <li >
                                                <a href="#">Подведомственные организации</a>
                                            </li>
                                            <li class="active">
                                                <a href="#">Открытое агентство</a>
                                            </li>
                                            <li>
                                                <a href="#">Коллегиальные и совещательные органы</a>
                                                <span></span>
                                                <div class="hierarch__nav-child">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Заместители руководителя</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии твердых полезных ископаемых</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление финансово-экономического обеспечения</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии нефти и газа, подземных вод и сооружений</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологических основ, науки и информатики</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#">Государственная служба</a>
                                            </li>
                                            <li>
                                                <a href="#">Геральдический знак-эмблема и флаг</a>
                                            </li>
                                            <li>
                                                <a href="#">Контакты</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            
                            <div class="textgraph">
                                <h1>ОТКРЫТОЕ АГЕНТСТВО</h1>
                                <br><br>

                                <div class="news-list">
                                    <h4><a href="#"><img src="./assets/img/icons/icon-crest.png" alt="Документы"> ОТКРЫТЫЕ ДАННЫЕ</a></h4>
                                </div>
                                <div class="news-list">
                                    <h4><a href="#"><img src="./assets/img/icons/icon-crest.png" alt="Документы"> ЗАСЕДАНИЯ ОБЩЕСТВЕННОГО СОВЕТА</a></h4>
                                </div>
                                <hr>

                                <div class="news-list">
                                    <h4><a href="#"><img src="./assets/img/icons/icon-crest.png" alt="Документы"> ПУБЛИЧНАЯ ДЕКЛАРАЦИЯ</a></h4>
                                </div>
                                <div class="news-list">
                                    <h4><a href="#"><img src="./assets/img/icons/icon-crest.png" alt="Документы"> ВЕДОМСТВЕННЫЙ ПЛАН</a></h4>
                                </div>
                                <div class="news-list">
                                    <h4><a href="#"><img src="./assets/img/icons/icon-crest.png" alt="Документы"> ИНФОРМАЦИОННАЯ ОТКРЫТОСТЬ</a></h4>
                                </div>
                                <div class="news-list">
                                    <h4><a href="#"><img src="./assets/img/icons/icon-crest.png" alt="Документы"> МАТЕРИАЛЫ ПРОВЕРОК</a></h4>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>