{% set title_page = "Новости " %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'НОВОСТИ'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4"></div>
                        <div class="col-xl-8">
                            
                            <div class="news-item__inline">
                                <div class="date">10 марта, 2022</div>
                                <a href="#">Итоги аукциона на право пользования недрами на участке Харатский, расположенном на территории Ямало-Ненецкого автономного округа</a>
                            </div>
                            <div class="news-item__inline">
                                <div class="date">10 марта, 2022</div>
                                <a href="#">Итоги аукциона на право пользования недрами на участке Харатский, расположенном на территории Ямало-Ненецкого автономного округа</a>
                            </div>
                            <div class="news-item__inline">
                                <div class="date">10 марта, 2022</div>
                                <a href="#">Всероссийское совещание «Состояние и перспективы развития Государственного геологического картографирования территории Российской Федерации
                                    и ее континентального шельфа»</a>
                            </div>
                            <div class="news-item__inline">
                                <div class="date">10 марта, 2022</div>
                                <a href="#">Экологическая информация о состоянии подземных вод и опасных геологических процессов по данным государственного мониторинга состояния недр</a>
                            </div>
                            <div class="news-item__inline">
                                <div class="date">8 февраля, 2022</div>
                                <a href="#">Проведен аукцион на право пользования недрами с целью геологического изучения, разведки и добычи углеводородного сырья участка Северо-Комсомольский, расположенного на территории Буйнакского и Кумторкалинского районов Республики Дагестан</a>
                            </div>

                            {% include "include/pagination.html" %}

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>