{% set title_page = "открытые данные" %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'открытые данные'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                            <div class="row">
                                <div class="col-10">
                                    <div class="news__other">
                                        <div class="news-item__inline no-border">
                                            <div class="date">10 марта, 2022</div>
                                            <a href="#">Наименование территориальных органов Федерального агентства по недропользованию</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="page__open-data">
                                <h2 class="page__title">Наименование территориальных органов Федерального агентства по недропользованию</h2>
                                <div class="wrap-table">
                                    <table>
                                        <tr>
                                            <th>№</th>
                                            <th>Характеристика</th>
                                            <th>Описание</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td><a href="#">ИДЕНТИФИКАЦИОННЫЙ НОМЕР (КОД) НАБОРА ДАННЫХ</a></td>
                                            <td>7703518529-Terr</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><a href="#">НАИМЕНОВАНИЕ НАБОРА ДАННЫХ</a></td>
                                            <td>Наименование территориальных органов Федерального агентства по недропользованию</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><a href="#">ОПИСАНИЕ НАБОРА ДАННЫХ</a></td>
                                            <td>ерриториальные органы Федерального агентства по недропользованию</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td><a href="#">ВЛАДЕЛЕЦ НАБОРА ДАННЫХ</a></td>
                                            <td>Федеральное агентство по недропользованию</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td><p>ОТВЕТСТВЕННОЕ ЛИЦО</p></td>
                                            <td>Цой Виталий Анатольевич</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td><p>ТЕЛЕФОН ОТВЕТСТВЕННОГО ЛИЦА</p></td>
                                            <td><a href="tel:(499)254-73-29">(499) 254-73-29</a></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td><p>АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ ОТВЕТСТВЕННОГО ЛИЦА	</p></td>
                                            <td><a href="mailto:press@rosnedra.gov.ru">press@rosnedra.gov.ru</a></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td><p>ГИПЕРСЫЛКА (URL) НА НАБОР</p></td>
                                            <td><a href="tel:(499)254-73-29">(499) 254-73-29</a></td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td><p>ТЕЛЕФОН ОТВЕТСТВЕННОГО ЛИЦА</p></td>
                                            <td><a href="#"><span class="format">CSV</span> data-16-structure-1.csv</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td><p>ФОРМАТ ДАННЫХ</p></td>
                                            <td><a href="#"><span class="format format--light">CSV</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td><p>ОПИСАНИЕ СТРУКТУРЫ НАБОРА ДАННЫХ</p></td>
                                            <td><a href="#"><span class="format">CSV</span> structure-1-20151224000000.csv</a></td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td><p>ДАТА ПЕРВОЙ ПУБЛИКАЦИИ НАБОРА ДАННЫХ</p></td>
                                            <td><p>24.12.2015</p></td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td><p>ГИПЕРССЫЛКА (URL) НА ВЕРСИИ НАБОРА ДАННЫХ</p></td>
                                            <td>
                                                <a href="#"><span class="format">CSV</span> data-15-structure-1.csv</a>
                                                <a href="#"><span class="format">CSV</span> data-15-structure-1.csv</a>
                                                <a href="#"><span class="format">CSV</span> data-15-structure-1.csv</a>
                                                <a href="#"><span class="format">CSV</span> data-15-structure-1.csv</a>
                                                <a href="#"><span class="format">CSV</span> data-15-structure-1.csv</a>
                                                <a href="#"><span class="format">CSV</span> data-15-structure-1.csv</a>
                                                <a href="#"><span class="format">CSV</span> data-15-structure-1.csv</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td><p>ГИПЕРССЫЛКА (URL) НА ВЕРСИИ СТРУКТУРЫ НАБОРА ДАННЫХ</p></td>
                                            <td><p>null</p></td>
                                        </tr>
                                    </table>
                                </div>
                                <button class="btn-icon">
                                    <img src="./assets/img/icons/share.svg" alt="поделиться">
                                    поделиться
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="appeal__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4"></div>
                        <div class="col-xl-8">
                            <h3>Направить обращение в Роснедра</h3>
                            <form>
                                <h4>Ваши данные</h4>
                                <div class="row">
                                    <div class="col-xl-4 col-md-6">
                                        <div class="fieldset">
                                            <legend>Фамилия <sup>*</sup></legend>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="fieldset">
                                            <legend>Имя <sup>*</sup></legend>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="fieldset">
                                            <legend>Отчество</legend>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="fieldset">
                                            <legend>е-mail <sup>*</sup></legend>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="line"></div>
                                    </div>
                                    <div class="col-12">
                                        <h4>Тип обращения</h4>
                                    </div>
                                    <div class="col-xl-5 col-md-6">
                                        <div class="fieldset fieldset__radio">
                                            <label>
                                                <input type="radio" name="input1" checked>
                                                <span class="cust-input"></span>
                                                <span class="cust-label">Запрос нового набора данных</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-md-6">
                                        <div class="fieldset fieldset__radio">
                                            <label>
                                                <input type="radio" name="input1">
                                                <span class="cust-input"></span>
                                                <span class="cust-label">Предложение по существующему набору данных</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="line"></div>
                                    </div>
                                    <div class="col-12">
                                        <h4>Текст обращения</h4>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="fieldset">
                                            <legend>ваш текст <sup>*</sup></legend>
                                            <textarea ></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="line"></div>
                                        <div class="form-bottom">
                                            <div class="form-bottom__item">
                                                <div class="fieldset">
                                                    <legend>введите текст с картинки <sup>*</sup></legend>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="form-bottom__item">
                                                <div class="code-image">

                                                </div>
                                            </div>
                                            <div class="form-bottom__item">
                                                <div class="required"><sup>*</sup> указаны поля, обязательные для заполнения</div>
                                                
                                            </div>
                                            <div class="form-bottom__item ml-auto">
                                                <button class="button__submit">отправить</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>