{% set title_page = "фотогалереи" %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'фотогалереи', 'вернуться к списку фотогалерей'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section border-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                        </div>
                        <div class="col-xl-8">
                            <div class="page__gallery">
                                <h2 class="page__title">XIII Всероссийская открытая полевая олимпиада юных геологов</h2>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <a data-fslightbox href="./assets/img/photo/1.jpg" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(./assets/img/photo/1.jpg);"></span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a data-fslightbox href="./assets/img/photo/2.jpg" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(./assets/img/photo/2.jpg);"></span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a data-fslightbox href="./assets/img/photo/3.jpg" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(./assets/img/photo/3.jpg);"></span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a data-fslightbox href="./assets/img/photo/2.jpg" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(./assets/img/photo/2.jpg);"></span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a data-fslightbox href="./assets/img/photo/1.jpg" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(./assets/img/photo/1.jpg);"></span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a data-fslightbox href="./assets/img/photo/3.jpg" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(./assets/img/photo/3.jpg);"></span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a data-fslightbox href="./assets/img/photo/3.jpg" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(./assets/img/photo/2.jpg);"></span>
                                            </span>
                                        </a>
                                    </div>
                                    <div  class="col-md-6 col-lg-4">
                                        <a data-fslightbox href="./assets/img/photo/3.jpg" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(./assets/img/photo/3.jpg);"></span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a data-fslightbox href="./assets/img/photo/1.jpg" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(./assets/img/photo/1.jpg);"></span>
                                            </span>
                                        </a>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>