{% set title_page = "фотогалереи" %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'фотогалереи'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section border-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                        </div>
                        <div class="col-xl-8">
                            <div class="page__gallery">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <a href="#" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(https://www.rosnedra.gov.ru/data/Photos/MediumPhoto/4366.JPEG);"></span>
                                            </span>
                                            <span class="text">XIII Всероссийская открытая полевая олимпиада юных геологов</span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a href="#" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(https://www.rosnedra.gov.ru/data/Photos/MediumPhoto/4256.JPEG);"></span>
                                            </span>
                                            <span class="text">В память Великой Победы!</span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a href="#" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(https://www.rosnedra.gov.ru/data/Photos/MediumPhoto/4226.JPEG);"></span>
                                            </span>
                                            <span class="text">День геолога 2021. Всероссийский форум «НЕДРА 2021. Изучение. Разведка. Добыча»</span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a href="#" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(https://www.rosnedra.gov.ru/data/Photos/MediumPhoto/4256.JPEG);"></span>
                                            </span>
                                            <span class="text">В память Великой Победы!</span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a href="#" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(https://www.rosnedra.gov.ru/data/Photos/MediumPhoto/4366.JPEG);"></span>
                                            </span>
                                            <span class="text">XIII Всероссийская открытая полевая олимпиада юных геологов</span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a href="#" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(https://www.rosnedra.gov.ru/data/Photos/MediumPhoto/4226.JPEG);"></span>
                                            </span>
                                            <span class="text">День геолога 2021. Всероссийский форум «НЕДРА 2021. Изучение. Разведка. Добыча»</span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a href="#" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(https://www.rosnedra.gov.ru/data/Photos/MediumPhoto/4256.JPEG);"></span>
                                            </span>
                                            <span class="text">В память Великой Победы!</span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a href="#" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(https://www.rosnedra.gov.ru/data/Photos/MediumPhoto/4226.JPEG);"></span>
                                            </span>
                                            <span class="text">День геолога 2021. Всероссийский форум «НЕДРА 2021. Изучение. Разведка. Добыча»</span>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <a href="#" class="gallery-item">
                                            <span class="gallery-item__img">
                                                <span style="background-image: url(https://www.rosnedra.gov.ru/data/Photos/MediumPhoto/4256.JPEG);"></span>
                                            </span>
                                            <span class="text">В память Великой Победы!</span>
                                        </a>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>