{% set title_page = "Cтруктура агентства " %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'об агентстве', 'структура агентства'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                            <div class="row">
                                <div class="col-10">
                                    <nav class="hierarch__nav">
                                        <ul>
                                            <li >
                                                <a href="#">Руководитель</a>
                                            </li>
                                            <li class="active">
                                                <a href="#">Структура агентства</a>
                                                <span></span>
                                                <div class="hierarch__nav-child">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Заместители руководителя</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии твердых полезных ископаемых</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление финансово-экономического обеспечения</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии нефти и газа, подземных вод и сооружений</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологических основ, науки и информатики</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#"> Положение об  агентстве</a>
                                            </li>
                                            <li>
                                                <a href="#">Территориальные органы</a>
                                            </li>
                                            <li>
                                                <a href="#">ТФГИ</a>
                                            </li>
                                            <li>
                                                <a href="#">Подведомственные организации</a>
                                            </li>
                                            <li>
                                                <a href="#">Открытое агентство</a>
                                            </li>
                                            <li>
                                                <a href="#">Коллегиальные и совещательные органы</a>
                                                <span></span>
                                                <div class="hierarch__nav-child">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Заместители руководителя</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии твердых полезных ископаемых</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление финансово-экономического обеспечения</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии нефти и газа, подземных вод и сооружений</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологических основ, науки и информатики</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#">Государственная служба</a>
                                            </li>
                                            <li>
                                                <a href="#">Геральдический знак-эмблема и флаг</a>
                                            </li>
                                            <li>
                                                <a href="#">Контакты</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            
                            <div class="textgraph">
                                
                                <h1>Управление финансово-экономического обеспечения</h1>

                                <div class="controll">
                                    <div class="date"></div>
                                    <div class="button-group">
                                        <div class="button-group__item">
                                            <button data-bs-toggle="modal" data-bs-target="#printModal" class="btn-icon">
                                                <img src="./assets/img/icons/print.svg" alt="печать">
                                                печать
                                            </button>
                                        </div>
                                        <div class="button-group__item">
                                            <button class="btn-icon">
                                                <img src="./assets/img/icons/share.svg" alt="поделиться">
                                                поделиться
                                            </button>
                                        </div>
                                    </div>  
                                </div>


                                <div class="management-cluster">
                                    <div class="management-cluster__item">
                                        <h3>Управление финансово-экономического обеспечения</h3>
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/6.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Айвазова Марина Анатольевна</b>
                                                <p>Начальник Управления</p>
                                                <a href="tel:+7(499)254-11-11">+7(499)254-11-11 (доб.1365)</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                    <h4>Основными задачами Управления являются:</h4>

                                    <h4>В части финансового обеспечения работ по геологическому изучению недр и недропользования:</h4>
                                    <ul>
                                        <li>Участие в формировании и реализации государственной бюджетной политики в сфере изучения, воспроизводства минеральных ресурсов, использования и охраны недр, включая разработку соответствующих концептуальных и программных документов.</li>
                                        <li>Подготовка предложений по финансовому обеспечению реализации мероприятий, направленных на удовлетворение потребностей экономики Российской Федерации в минерально-сырьевых ресурсах, относящихся к компетенции Агентства, которые определены его задачами, функциями и правами.</li>
                                        <li>Участие в пределах компетенции Управления в координации деятельности федеральных органов исполнительной власти по вопросам финансового обеспечения, геологическому изучению недр и воспроизводству минерально-сырьевой базы.</li>
                                        <li>Формирование финансового плана на планируемый период с учетом бюджетных и внебюджетных источников финансирования.</li>
                                        <li>Осуществление контроля за целевым использованием бюджетных средств, соответствием финансовых, расчетных и кредитных операций законодательству Российской Федерации.</li>
                                        <li>Укрепление отчетной дисциплины в организациях, находящихся в ведении Агентства.</li>
                                        <li>Координация проектирования работ по геологическому изучению недр и воспроизводству минерально-сырьевой базы, сметного ценообразования, экспертизы, государственной и отраслевой статистики.</li>
                                    </ul>

                                    <h4>В части бухгалтерского учета и отчетности:</h4>
                                    <ul>
                                        <li>Организация и совершенствование в Агентстве и подведомственных бюджетных учреждениях бухгалтерского учета и отчетности в целях обеспечения сохранности федеральной собственности, соблюдения финансовой и расчетной дисциплины, целевого и эффективного использования материальных и финансовых ресурсов.</li>
                                        <li>Осуществление единого методического руководства бухгалтерским учетом и порядком составления отчетности организаций, находящихся в ведении Агентства.</li>
                                        <li>Контроль за выполнением бюджетными учреждениями, находящимися в ведении Агентства, основных задач бухгалтерского учета, соблюдением требований к его ведению и составлению отчетности в соответствии с законодательством Российской Федерации.</li>
                                        <li>Составление и представление сводной квартальной и годовой отчетности по бюджетным учреждениям, находящимся в ведении Агентства, в установленном порядке.</li>
                                        <li>Финансовое обеспечение центрального аппарата Агентства в пределах средств, предусмотренных в смете на его содержание.</li>
                                        <li>Осуществление контроля за правильным и экономным расходованием денежных средств в соответствии со сметой и лимитами бюджетных обязательств для обеспечения деятельности центрального аппарата Агентства.</li>
                                        <li>Формирование полной и достоверной информации о финансово-хозяйственной деятельности центрального аппарата Агентства, представление информации руководству и другим заинтересованным лицам.</li>
                                        <li>Обеспечение своевременного и качественного оформления первичных документов, отражение на счетах бухгалтерского учета и в бухгалтерской отчетности информации, содержащейся в первичных документах.</li>
                                    </ul>

                                    <br>
                                    <hr>
                                    <br>

                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <div class="staff-item">
                                                <h4>Савоськина Ася Евгеньевна</h4>
                                                <p>Заместитель начальника управления – главный бухгалтер</p>
                                                <a href="tel:+7(499)254-11-11">+7 (499) 254-11-11 (доб.1352)</a>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <div class="staff-item">
                                                <h4>Соболева Елена Викторовна</h4>
                                                <p>Заместитель начальника управления – начальник юридического отдела</p>
                                                <a href="tel:+7(499)254-11-11">+7 (499) 254-11-11 (доб.1352)</a>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <div class="staff-item">
                                                <h4>Лыкова Марина Владимировна</h4>
                                                <p>Заместитель начальника управления - начальник отдела бюджетного планирования и финансирования территориальных органов и подведомственных учреждений</p>
                                                <a href="tel:+7(499)254-11-11">+7 (499) 254-11-11 (доб.1352)</a>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <div class="staff-item">
                                                <h4>Шеламова Нина Борисовна</h4>
                                                <p>Начальник отдела администрирования доходов и бюджетной отчетности</p>
                                                <a href="tel:+7(499)254-11-11">+7 (499) 254-11-11 (доб.1352)</a>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <div class="staff-item">
                                                <h4>Жуков Дмитрий Джонович</h4>
                                                <p>Начальник отдела экономического анализа и финансового обеспечения программ</p>
                                                <a href="tel:+7(499)254-11-11">+7 (499) 254-11-11 (доб.1352)</a>
                                            </div>
                                        </div>
                                    </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>