{% set title_page = "подведомственные роснедрам организации " %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'подведомственные роснедрам организации'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                            <div class="row">
                                <div class="col-10">
                                    <nav class="hierarch__nav">
                                        <ul>
                                            <li >
                                                <a href="#">Руководитель</a>
                                            </li>
                                            <li >
                                                <a href="#">Структура агентства</a>
                                                <span></span>
                                                <div class="hierarch__nav-child">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Заместители руководителя</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии твердых полезных ископаемых</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление финансово-экономического обеспечения</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии нефти и газа, подземных вод и сооружений</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологических основ, науки и информатики</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#"> Положение об  агентстве</a>
                                            </li>
                                            <li>
                                                <a href="#">Территориальные органы</a>
                                            </li>
                                            <li>
                                                <a href="#">ТФГИ</a>
                                            </li>
                                            <li class="active">
                                                <a href="#">Подведомственные организации</a>
                                            </li>
                                            <li>
                                                <a href="#">Открытое агентство</a>
                                            </li>
                                            <li>
                                                <a href="#">Коллегиальные и совещательные органы</a>
                                                <span></span>
                                                <div class="hierarch__nav-child">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Заместители руководителя</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии твердых полезных ископаемых</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление финансово-экономического обеспечения</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии нефти и газа, подземных вод и сооружений</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологических основ, науки и информатики</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#">Государственная служба</a>
                                            </li>
                                            <li>
                                                <a href="#">Геральдический знак-эмблема и флаг</a>
                                            </li>
                                            <li>
                                                <a href="#">Контакты</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            
                            <div class="textgraph">
                                <div class="controll">
                                    <div class="date"></div>
                                    <div class="button-group">
                                        <div class="button-group__item">
                                            <button data-bs-toggle="modal" data-bs-target="#printModal" class="btn-icon">
                                                <img src="./assets/img/icons/print.svg" alt="печать">
                                                печать
                                            </button>
                                        </div>
                                        <div class="button-group__item">
                                            <button class="btn-icon">
                                                <img src="./assets/img/icons/share.svg" alt="поделиться">
                                                поделиться
                                            </button>
                                        </div>
                                    </div>  
                                </div>
                                <h1>Подведомственные Роснедрам организации</h1>
                                <br><br>


                                <div class="management-cluster">
                                    <div class="management-cluster__item">
                                        <h3>Федеральное государственное бюджетное учреждение "Центральный научно-исследовательский геологоразведочный институт цветных и благородных металлов" ( ФГБУ "ЦНИГРИ")</h3>
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/4.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Черных Александр Иванович</b>
                                                <p>Генеральный директор</p>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <div class="icons-fa">
                                                    <i class="fa fa-map-marker"></i>
                                                    117545, г. Москва, Варшавское шоссе, 129, корпус 1.
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-phone"></i>
                                                    <a href="tel:+7(495)313-18-18">+7 (495) 313-18-18</a>
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-fax"></i>
                                                    +7 (495) 313-18-18
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-envelope"></i>
                                                    <a href="mailto:tsnigri@tsnigri.ru">tsnigri@tsnigri.ru</a>
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-home"></i>
                                                    <a href="#">tsnigri.ru</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="management-cluster__item">
                                        <h3>Федеральное государственное бюджетное учреждение "Всероссийский научно-исследовательский геологический нефтяной институт" (ФГБУ "ВНИГНИ")</h3>
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/5.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Мельников Павел Николаевич</b>
                                                <p>Начальник Управления</p>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <div class="icons-fa">
                                                    <i class="fa fa-map-marker"></i>
                                                    105118, г. Москва, шоссе Энтузиастов, 36
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-phone"></i>
                                                    <a href="tel:+7(495)313-18-18">+7 (495) 313-18-18</a>
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-fax"></i>
                                                    +7 (495) 313-18-18
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-envelope"></i>
                                                    <a href="mailto:tsnigri@tsnigri.ru">tsnigri@tsnigri.ru</a>
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-home"></i>
                                                    <a href="#">tsnigri.ru</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="management-cluster__item">
                                        <h3>Федеральное государственное бюджетное учреждение "Центральный научно-исследовательский геологоразведочный институт цветных и благородных металлов" ( ФГБУ "ЦНИГРИ")</h3>
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/4.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Черных Александр Иванович</b>
                                                <p>Генеральный директор</p>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <div class="icons-fa">
                                                    <i class="fa fa-map-marker"></i>
                                                    117545, г. Москва, Варшавское шоссе, 129, корпус 1.
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-phone"></i>
                                                    <a href="tel:+7(495)313-18-18">+7 (495) 313-18-18</a>
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-fax"></i>
                                                    +7 (495) 313-18-18
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-envelope"></i>
                                                    <a href="mailto:tsnigri@tsnigri.ru">tsnigri@tsnigri.ru</a>
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-home"></i>
                                                    <a href="#">tsnigri.ru</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="management-cluster__item">
                                        <h3>Федеральное государственное бюджетное учреждение "Всероссийский научно-исследовательский геологический нефтяной институт" (ФГБУ "ВНИГНИ")</h3>
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/5.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Мельников Павел Николаевич</b>
                                                <p>Начальник Управления</p>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <div class="icons-fa">
                                                    <i class="fa fa-map-marker"></i>
                                                    105118, г. Москва, шоссе Энтузиастов, 36
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-phone"></i>
                                                    <a href="tel:+7(495)313-18-18">+7 (495) 313-18-18</a>
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-fax"></i>
                                                    +7 (495) 313-18-18
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-envelope"></i>
                                                    <a href="mailto:tsnigri@tsnigri.ru">tsnigri@tsnigri.ru</a>
                                                </div>

                                                <div class="icons-fa">
                                                    <i class="fa fa-home"></i>
                                                    <a href="#">tsnigri.ru</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>