{% set title_page = "руководитель " %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'об агентстве', 'руководитель'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site eye_version">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                            <div class="row">
                                <div class="col-10">
                                    <nav class="hierarch__nav">
                                        <ul>
                                            <li class="active">
                                                <a href="#">Руководитель</a>
                                            </li>
                                            <li>
                                                <a href="#">Структура агентства</a>
                                                <span></span>
                                                <div class="hierarch__nav-child">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Заместители руководителя</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии твердых полезных ископаемых</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление финансово-экономического обеспечения</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии нефти и газа, подземных вод и сооружений</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологических основ, науки и информатики</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#"> Положение об  агентстве</a>
                                            </li>
                                            <li>
                                                <a href="#">Территориальные органы</a>
                                            </li>
                                            <li>
                                                <a href="#">ТФГИ</a>
                                            </li>
                                            <li>
                                                <a href="#">Подведомственные организации</a>
                                            </li>
                                            <li>
                                                <a href="#">Открытое агентство</a>
                                            </li>
                                            <li>
                                                <a href="#">Коллегиальные и совещательные органы</a>
                                                <span></span>
                                                <div class="hierarch__nav-child">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Заместители руководителя</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии твердых полезных ископаемых</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление финансово-экономического обеспечения</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии нефти и газа, подземных вод и сооружений</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологических основ, науки и информатики</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#">Государственная служба</a>
                                            </li>
                                            <li>
                                                <a href="#">Геральдический знак-эмблема и флаг</a>
                                            </li>
                                            <li>
                                                <a href="#">Контакты</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            
                            <div class="textgraph">
                                <h1>Руководитель</h1>

                                <img class="float-left" src="./assets/img/director.jpg" alt="">

                                <p><b>Петров Евгений Игнатьевич</b></h4>
                                <p>Руководитель Федерального агентства по недропользованию</p>
                                <h4>Контакты:</h4>
                                <p>
                                    <a href="tel:+7499254-11-11">+7 (499) 254-11-11 (доб. 1232)</a>
                                    <br>
                                    <a href="mailto:rosnedra@rosnеdra.gov.ru">rosnedra@rosnеdra.gov.ru</a>
                                </p>
                                <p>
                                    Евгений Петров родился 4 октября 1979 г. в Якутске (Республика Саха (Якутия). <br><br>
                                    Окончил геологический факультет МГУ им. М.В. Ломоносова. <br><br>
                                    Кандидат физико-математических наук, магистр делового администрирования в Стокгольмской школе экономики. <br><br>
                                    В период с 1999 по 2005 год работал на различных позициях в сервисной компании ОАО «ПетроАльянс», где отвечал за развитие и внедрение новых технологий бурения, морской и наземной сейсморазведки. <br><br>
                                    С 2005 по 2014 г. занимал руководящие должности в нефтегазовых компаниях, отвечал за геологоразведочные работы, развитие ресурсной базы и реализацию технической схемы разработки месторождений. <br><br>
                                    Начиная с 2014 г. работал на различных должностях в Федеральном агентстве по недропользованию и Министерстве природных ресурсов и экологии Российской Федерации. <br><br>
                                    С 2020 г. продолжил работу в Федеральном агентстве по недропользованию сначала в должности заместителя руководителя, далее временно исполняющего обязанности руководителя. <br><br>
                                    В 2021 г. назначен руководителем Федерального агентства по недропользованию Распоряжением Председателя Правительства РФ от 11 ноября 2021 г. №3154-р. <br><br>
                                    В ходе своей профессиональной деятельности читал курсы и вел научно-исследовательскую деятельность в области геологоразведочных работ и геолого-экономической оценки наземных и морских нефтегазовых месторождений. Имеет более 65 публикаций и 8 международных сертификатов.
                                </p>

                                <hr>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>