{% set title_page = "открытые данные" %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'открытые данные'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site eye_version">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4"></div>
                        <div class="col-xl-8">
                            <div class="page__finder">
                                <h2 class="page__title">Поиск по сайту</h2>
                                <form>
                                    <div class="fieldset fieldset__search">
                                        <div class="input"><input type="text" ></div>
                                        <button class="button__submit" type="submit">найти</button>
                                    </div>

                                    <button data-slide-toggle-trigger="content1" type="button" class="btn__slide-toogle">Расширенный поиск</button>

                                    <div style="display: none" data-slide-toggle-content="content1" class="advanced-search">
                                        <h3>Рубрика</h3>
                                        <div class="row row--first">
                                            {% 
                                                set arr = [
                                                    'Аукционы и конкурсы',
                                                    'Бюджет',
                                                    'Великая победа: страницы памяти',
                                                    'Всероссийские открытые полевые олимпиады юных геологов',
                                                    'Геологические учебные заведения',
                                                    'Главная тема',
                                                    'Государственное геологическое изучение недр',
                                                    'Государственные услуги',
                                                    'Государственный баланс запасов',
                                                    'Госуслуги',
                                                    'Документы',
                                                    'Заказы для государственных нужд',
                                                    'Изъятие земель',
                                                    'Информационные материалы',
                                                    'Информационные ресурсы и программы',
                                                    'Кадровая работа',
                                                    'Международное сотрудничество',
                                                    'Недропользование',
                                                    'Новости',
                                                    'Об агентстве',
                                                    'Противодействие коррупции',
                                                    'Разное',
                                                    'Реестр недобросовестных участников аукционов на право пользования участками недр',
                                                    'Стратегическое Планирование',
                                                    'Финансовое обеспечение ГРР',
                                                    'Цифровизация',
                                                    'ЦКР Роснедр',
                                                    'Экспертиза проектов геологического изучения недр',
                                                ] 
                                            %}
                                            {% for txt in  arr%}
                                            <div class="col-12 col-sm-6 col-md-3">
                                                <div class="fieldset fieldset__check">
                                                    <label>
                                                        <input type="checkbox" >
                                                        <span class="cust-input"></span>
                                                        <span class="cust-label">{{ txt }}</span>
                                                    </label>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <h3>Период</h3>
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <div class="fieldset fieldset__datepicker">
                                                    <legend>с</legend>
                                                    <div class="input">
                                                        <input data-datepicker-first="date1" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <div class="fieldset fieldset__datepicker">
                                                    <legend>по</legend>
                                                    <div class="input">
                                                        <input data-datepicker-second="date1" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="result">
                                        <h2 class="page__title">Результаты поиска</h2>
                                        <span>Найдено: 2 документа</span>

                                        <div class="result-el">
                                            <div class="result-item">
                                                <a href="#">Великая Победа: Страницы памяти</a>
                                                <div class="result-item__legend">
                                                    <div>Тип документа: Новость</div>
                                                    <div>Дата документа: 17 мая 2021</div>
                                                    <div>Формат: <span class="format">HTML</span></div>
                                                </div>
                                            </div>
                                            <div class="result-item">
                                                <a href="#">На Форуме MINEX объявлены лауреаты II Международного фестиваля документальных фильмов о горнодобывающей отрасли</a>
                                                <div class="result-item__legend">
                                                    <div>Тип документа: Новость</div>
                                                    <div>Дата документа: 17 мая 2021</div>
                                                    <div>Формат: <span class="format">DOXC</span></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                            {% include "include/pagination.html" %}
                                        </div>
                                        
                                        
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>