{% set title_page = "Guide " %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'Guide'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site eye_version">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4"></div>
                        <div class="col-xl-8">
                            <div class="textgraph">

                                <h2>PAGES</h2>
                                <ul>
                                    <li><a target="_blank" href="./">Главная</a></li>
                                    <li><a target="_blank" href="./news.html">Все новости</a></li>
                                    <li><a target="_blank" href="./news_item.html">Новости внутреняя</a></li>
                                    <li><a target="_blank" href="./finder.html">Поиск по сайту</a></li>
                                    <li><a target="_blank" href="./passport.html">Паспорт</a></li>
                                    <li><a target="_blank" href="./open-data.html">Открытые данные</a></li>
                                    <li><a target="_blank" href="./photos.html">Фотогалерея</a></li>
                                    <li><a target="_blank" href="./photos-item.html">Фотогалерея внутреняя</a></li>
                                    <li><a target="_blank" href="./director.html">Руководитель</a></li>
                                    <li><a target="_blank" href="./structure.html">Структура</a></li>
                                    <li><a target="_blank" href="./structure-item.html">Структура item</a></li>
                                    <li><a target="_blank" href="./subordinate.html">Структура 1</a></li>
                                    <li><a target="_blank" href="./subordinate-2.html">Структура 2</a></li>
                                </ul>
                                <br><br>

                                <h2>FORM</h2>

                                <form>

                                    
                                    <div class="row">
                                        <div class="col-12 col-md-8">
                                            <div class="fieldset">
                                                <input type="text" placeholder="placeholder">
                                            </div>
                                            <div class="fieldset">
                                                <button class="button__submit">кнопка</button>
                                            </div>
                                            <div class="fieldset fieldset__check">
                                                <label>
                                                    <input type="checkbox">
                                                    <span class="cust-input"></span>
                                                    <span class="cust-label">Аукционы и конкурсы</span>
                                                </label>
                                            </div>
                                            <div class="fieldset fieldset__radio">
                                                <label>
                                                    <input type="radio" name="input1">
                                                    <span class="cust-input"></span>
                                                    <span class="cust-label">Аукционы и конкурсы</span>
                                                </label>
                                            </div>

                                            <div class="fieldset fieldset__datepicker">
                                                <legend>Date Picker</legend>
                                                <div class="input">
                                                    <input data-datepicker-first="date1" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                                <br><br>

                                <h2>TEXT</h2>

                                <h1>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
                                <h2>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
                                <h3>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
                                <h4>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h4>
                                <h5>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                <h6>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h6>
                                <p><\p> Lorem ipsum dolor sit, amet <a href="#">consectetur</a> adipisicing elit.</p>
                                <ol>
                                    <li>ol - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                    <li>ol - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                </ol>

                                <ul>
                                    <li>ul - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                    <li>ul - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                </ul>

                                <img src="./assets/img/article_main.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <h2 class="page__title">CONTAINER CENTER</h2>
                            <div class="textgraph">
                                <h1>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
                                <h2>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
                                <h3>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
                                <h4>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h4>
                                <h5>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                <h6>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h6>
                                <p><\p> Lorem ipsum dolor sit, amet <a href="#">consectetur</a> adipisicing elit.</p>
                                <ol>
                                    <li>ol - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                    <li>ol - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                </ol>

                                <ul>
                                    <li>ul - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                    <li>ul - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="page__title">CONTAINER FULL</h2>
                            <div class="textgraph">
                                <h1>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
                                <h2>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
                                <h3>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
                                <h4>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h4>
                                <h5>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                <h6>h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h6>
                                <p><\p> Lorem ipsum dolor sit, amet <a href="#">consectetur</a> adipisicing elit.</p>
                                <ol>
                                    <li>ol - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                    <li>ol - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                </ol>

                                <ul>
                                    <li>ul - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                    <li>ul - Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>