{% set title_page = "Новости " %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'НОВОСТИ'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site eye_version">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                            <div class="row">
                                <div class="col-10">
                                    <div class="news__other">
                                        <div class="news-item__inline">
                                            <div class="date">10 марта, 2022</div>
                                            <a href="#">Итоги аукциона на право пользования недрами на участке Харатский, расположенном на территории Ямало-Ненецкого автономного округа</a>
                                        </div>
                                        <div class="news-item__inline">
                                            <div class="date">10 марта, 2022</div>
                                            <a href="#">Итоги аукциона на право пользования недрами на участке Харатский, расположенном на территории Ямало-Ненецкого автономного округа</a>
                                        </div>
                                        <div class="news-item__inline">
                                            <div class="date">10 марта, 2022</div>
                                            <a href="#">Всероссийское совещание «Состояние и перспективы развития Государственного геологического картографирования территории Российской Федерации
                                                и ее континентального шельфа»</a>
                                        </div>
                                        <div class="news-item__inline">
                                            <div class="date">10 марта, 2022</div>
                                            <a href="#">Экологическая информация о состоянии подземных вод и опасных геологических процессов по данным государственного мониторинга состояния недр</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            
                            <div class="textgraph">
                                <div class="controll">
                                    <div class="date">10 марта, 2022</div>
                                    <div class="button-group">
                                        <div class="button-group__item">
                                            <button data-bs-toggle="modal" data-bs-target="#printModal" class="btn-icon">
                                                <img src="./assets/img/icons/print.svg" alt="печать">
                                                печать
                                            </button>
                                        </div>
                                        <div class="button-group__item">
                                            <button class="btn-icon">
                                                <img src="./assets/img/icons/share.svg" alt="поделиться">
                                                поделиться
                                            </button>
                                        </div>
                                    </div>  
                                </div>
                                <h1>Итоги аукциона на право пользования недрами на участке Тарминский, расположенном на территории Ямало-Ненецкого автономного округа</h1>
                                <img class="float-left" src="./assets/img/14677.jpg" alt="">
                                <p>Участок недр Тарминский в административном отношении расположен на территории Ямало-Ненецкого автономного округа.</p>
                                <p>Согласно Государственному балансу запасов УВС РФ по состоянию на 01.01.2021 на участке открытые месторождения УВС отсутствуют.</p>
                                <p>Согласно Государственному балансу запасов УВС РФ по состоянию на 01.01.2021 на участке недр отсутствуют структуры, подготовленные к глубокому бурению с перспективными ресурсами категории D0.
                                </p>
                                <p>
                                    В соответствии с официальной количественной оценкой ресурсов УВС России (по состоянию на 01.01.2017): извлекаемые ресурсы УВС категорий D1 (перспективные) составляют: нефти – 2,1 млн т, газа – 152,6 млрд м3, конденсата – 14,2 млн т.; категории D2 (прогнозные) составляют: нефти – 11,4 млн т., газа – 140,2 млрд м3, конденсата – 20,4 млн т.
                                </p>

                                <figure>
                                    <img src="./assets/img/14677.jpg" alt="">
                                    <figcaption>Согласно Государственному балансу запасов УВС РФ по состоянию на 01.01.2021 на участке открытые месторождения УВС отсутствуют.</figcaption>
                                </figure>
                                <br>

                                <p>
                                    Площадь участка недр 1959 км2.
                                </p>
                                <p>
                                    Поступило и зарегистрировано 3 заявки от следующих претендентов на участие в аукционе:
                                </p>
                                <ol>
                                    <li>Общество с ограниченной ответственностью «ЯМАЛ Север» (ООО «ЯМАЛ Север»)</li>
                                    <li>Публичное акционерное общество «Газпром нефть» (ПАО «Газпром нефть»)</li>
                                    <li>Общество с ограниченной ответственностью «НОВАТЭК-ЮРХАРОВНЕФТЕГАЗ» (ООО «НОВАТЭК-ЮРХАРОВНЕФТЕГАЗ») </li>
                                </ol>
                                <p>
                                    Стартовый размер разового платежа за пользование недрами составляет 109 400 000 (сто девять миллионов четыреста тысяч) рублей.
                                </p>
                                <p>
                                    Аукцион признан состоявшимся. Количество пройденных шагов 11. По результатам проведения аукциона победителем признано ООО «ЯМАЛ Север», предложившее размер разового платежа за пользование недрами в сумме 229 740 000 (двести двадцать девять миллионов семьсот сорок тысяч) рублей.
                                </p>
                                <div class="carousel__wrapper">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="carousel__item">
                                                    <a data-fslightbox href="./assets/img/14677.jpg">
                                                        <span style="background-image: url(./assets/img/14677.jpg);"></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="carousel__item">
                                                    <a data-fslightbox href="./assets/img/14677.jpg">
                                                        <span style="background-image: url(./assets/img/14677.jpg);"></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="carousel__item">
                                                    <a data-fslightbox href="./assets/img/14677.jpg">
                                                        <span style="background-image: url(./assets/img/14677.jpg);"></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="carousel__item">
                                                    <a data-fslightbox href="./assets/img/14677.jpg">
                                                        <span style="background-image: url(./assets/img/14677.jpg);"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <a  href="#" class="btn-all">
                        <img src="assets/img/icons/arrow-circle.svg" width="20" alt="">
                        читать все новости
                    </a>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>