{% set title_page = "открытые данные" %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'открытые данные'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site eye_version">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                        </div>
                        <div class="col-xl-8">
                            <div class="page__open-data">
                                <div class="row justify-content-between">
                                    <div class="col-auto"><h2 class="page__title">Открытые данные</h2></div>
                                    <div class="col-auto pt-2">
                                        <a href="#" class="btn-icon">
                                            <img src="./assets/img/icons/download.svg" alt="">
                                            <spam class="format">CSV</spam>
                                        </a>
                                    </div>
                                </div>

                                <form>
                                    <div class="fieldset fieldset__search">
                                        <div class="input"><input type="text"></div>
                                        <button class="button__submit" type="submit">найти</button>
                                    </div>
                                </form>

                                <div class="wrap-table table-column-auto open-data__table">
                                    <table>
                                        <tr>
                                            <th>№</th>
                                            <th>Название набора открытых данных</th>
                                            <th><button class="button-sort button-sort--up">Дата изменения</button></th>
                                            <th><button class="button-sort button-sort--down">Просмотры</button></th>
                                            <th><button class="button-sort button-sort--up">Загрузки</button></th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <div class="open-data__item">
                                                    <p>Наименование подведомственных организаций</p>
                                                    <ul>
                                                        <li>
                                                            <span>Дата изменения</span>
                                                            <span>20.10.2021</span>
                                                        </li>
                                                        <li>
                                                            <span>Просмотры</span>
                                                            <span>843</span>
                                                        </li>
                                                        <li>
                                                            <span>Загрузки</span>
                                                            <span>15623</span>
                                                        </li>
                                                    </ul>
                                                    <div class="icons">
                                                        <div class="icons__item">
                                                            <img src="./assets/img/icons/user.svg" alt="">
                                                            <span>паспорт</span>
                                                        </div>
                                                        <div class="icons__item">
                                                            <span class="format">CSV</span>
                                                            <span>29.6 kb</span>
                                                        </div>
                                                        <div class="icons__item">
                                                            <img src="./assets/img/icons/eye.svg" alt="">
                                                            <span>просмотр</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><p>20.10.2021</p></td>
                                            <td><p>843</p></td>
                                            <td><p>15623</p></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <div class="open-data__item">
                                                    <p>Сведения о вакантных должностях государственной гражданской службы, имеющихся в федеральном органе исполнительной власти и его территориальных органах</p>
                                                    <ul>
                                                        <li>
                                                            <span>Дата изменения</span>
                                                            <span>15.10.2021</span>
                                                        </li>
                                                        <li>
                                                            <span>Просмотры</span>
                                                            <span>742</span>
                                                        </li>
                                                        <li>
                                                            <span>Загрузки</span>
                                                            <span>19613</span>
                                                        </li>
                                                    </ul>
                                                    <div class="icons">
                                                        <div class="icons__item">
                                                            <img src="./assets/img/icons/user.svg" alt="">
                                                            <span>паспорт</span>
                                                        </div>
                                                        <div class="icons__item">
                                                            <span class="format">CSV</span>
                                                            <span>29.6 kb</span>
                                                        </div>
                                                        <div class="icons__item">
                                                            <img src="./assets/img/icons/eye.svg" alt="">
                                                            <span>просмотр</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><p>15.10.2021</p></td>
                                            <td><p>742</p></td>
                                            <td><p>19613</p></td>
                                        </tr>
                                    </table>
                                </div>
                                <button class="btn-icon">
                                    <img src="./assets/img/icons/share.svg" alt="поделиться">
                                    поделиться
                                </button>

                                <div class="column-text">
                                    <p>В этом разделе размещена информация по направлениям деятельности Роснедр в машиночитаемом формате, предназначенном только для считывания и автоматической обработки специализированными программами, и которая может представлять интерес в первую очередь для программистов, разработчиков Интернет-сайтов, мобильных приложений и т.д. Если вам необходимо получить информацию в формате, доступном для чтения и скачивания (Word, PDF, Excel и т.д.), вам необходимо перейти в соответствующий раздел. К примеру, информацию о вакантных должностях Роснедр можно найти в разделе «гражданская служба».</p>
                                    <h4>Что такое открытые данные?</h4>
                                    <p>Открытые данные Роснедр -  информация о деятельности Роснедр, размещённая в сети "Интернет" в виде массивов данных в формате, обеспечивающем их автоматическую обработку (в машиночитаемом формате, для специализированных программ), в целях повторного использования без предварительного изменения человеком на условиях свободного (бесплатного), бессрочного, безвозмездного и без ограничения территории использования.</p>
                                    <p>Открытые данные можно копировать, публиковать, распространять, преобразовывать в другие форматы, объединять их с другой информацией, использовать открытые данные в некоммерческих и коммерческих целях, использовать для создания программ и приложений для ЭВМ и мобильных устройств, при разработке сайтов и презентаций, ведения статистического учета.</p>
                                    <p>Подробнее об открытых данных можно узнать на портале <b>«Открытые данные»</b> на сервере органов государственной власти Российской Федерации.</p>
                                    <p>Используя Открытые государственные данные, вы принимаете условия <a href="#"><b>Пользовательского соглашения</b></a>. </p>
                                    <p>Типовые условия использования открытых данных можно посмотреть <a href="#"><b>здесь</b></a>.</p>
                                    <p>Условия использования открытых данных данных можно посмотреть <a href="#"><b>здесь</b></a>.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="appeal__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4"></div>
                        <div class="col-xl-8">
                            <h3>Направить обращение в Роснедра</h3>
                            <form>
                                <h4>Ваши данные</h4>
                                <div class="row">
                                    <div class="col-xl-4 col-md-6">
                                        <div class="fieldset">
                                            <legend>Фамилия <sup>*</sup></legend>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="fieldset">
                                            <legend>Имя <sup>*</sup></legend>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="fieldset">
                                            <legend>Отчество</legend>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="fieldset">
                                            <legend>е-mail <sup>*</sup></legend>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="line"></div>
                                    </div>
                                    <div class="col-12">
                                        <h4>Тип обращения</h4>
                                    </div>
                                    <div class="col-xl-5 col-md-6">
                                        <div class="fieldset fieldset__radio">
                                            <label>
                                                <input type="radio" name="input1" checked>
                                                <span class="cust-input"></span>
                                                <span class="cust-label">Запрос нового набора данных</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-md-6">
                                        <div class="fieldset fieldset__radio">
                                            <label>
                                                <input type="radio" name="input1">
                                                <span class="cust-input"></span>
                                                <span class="cust-label">Предложение по существующему набору данных</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="line"></div>
                                    </div>
                                    <div class="col-12">
                                        <h4>Текст обращения</h4>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="fieldset">
                                            <legend>ваш текст <sup>*</sup></legend>
                                            <textarea ></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="line"></div>
                                        <div class="form-bottom">
                                            <div class="form-bottom__item">
                                                <div class="fieldset">
                                                    <legend>введите текст с картинки <sup>*</sup></legend>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="form-bottom__item">
                                                <div class="code-image">

                                                </div>
                                            </div>
                                            <div class="form-bottom__item">
                                                <div class="required"><sup>*</sup> указаны поля, обязательные для заполнения</div>
                                                
                                            </div>
                                            <div class="form-bottom__item ml-auto">
                                                <button class="button__submit">отправить</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>