{% set title_page = "Cтруктура агентства " %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'об агентстве', 'структура агентства'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site eye_version">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                            <div class="row">
                                <div class="col-10">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            
                            <div class="textgraph">
                                <div class="controll">
                                    <div class="date">10 марта, 2022</div>
                                    <div class="button-group">
                                        <div class="button-group__item">
                                            <button data-bs-toggle="modal" data-bs-target="#printModal" class="btn-icon">
                                                <img src="./assets/img/icons/print.svg" alt="печать">
                                                печать
                                            </button>
                                        </div>
                                        <div class="button-group__item">
                                            <button class="btn-icon">
                                                <img src="./assets/img/icons/share.svg" alt="поделиться">
                                                поделиться
                                            </button>
                                        </div>
                                    </div>  
                                </div>
                                <h1>Заместители руководителя</h1>
                                
                                <h2>Центральный аппарат</h2>
                                <br><br>

                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="management-item">
                                            <img src="./assets/img/structure/1.jpg" alt="">
                                            <p>
                                                <h4>Данилин Дмитрий Николаевич</h4>
                                                <p>Заместитель руководителя</p>
                                                <a href="tel:+7(499)254-11-11">+7 (499) 254-11-11 (доб.1580)</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="management-item">
                                            <img src="./assets/img/structure/2.jpg" alt="">
                                            <p>
                                                <h4>Каспаров Орест Сетракович</h4>
                                                <p>Заместитель руководителя</p>
                                                <a href="tel:+7(499)254-11-11">+7 (499) 254-11-11 (доб.1344)</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="management-cluster">
                                    <div class="management-cluster__item">
                                        <h3>Управление геологии нефти и газа, подземных вод и сооружений</h3>
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/3.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Ерофеева Нина Леонидовна</b>
                                                <p>Начальник Управления</p>
                                                <a href="tel:+7(499)254-11-11">+7(499)254-11-11 (доб.1365)</a>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <a class="info" href="#">узнать подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="management-cluster__item">
                                        <h3>Управление геологии твёрдых полезных ископаемых</h3>
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/4.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Руднев Алексей Вячеславович</b>
                                                <p>Начальник Управления</p>
                                                <a href="tel:+7(499)254-11-11">+7(499)254-11-11 (доб.1365)</a>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <a class="info" href="#">узнать подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="management-cluster__item">
                                        <h3>Управление геологических основ, науки и информатики</h3>
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/5.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Коронкевич Константин Александрович</b>
                                                <p>Начальник Управления</p>
                                                <a href="tel:+7(499)254-11-11">+7(499)254-11-11 (доб.1365)</a>
                                                <br>
                                                <a href="mailto:kkoronkevich@rosnedra.gov.ru">kkoronkevich@rosnedra.gov.ru</a>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <a class="info" href="#">узнать подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="management-cluster__item">
                                        <h3>Управление финансово-экономического обеспечения</h3>
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/6.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Айвазова Марина Анатольевна</b>
                                                <p>Начальник Управления</p>
                                                <a href="tel:+7(499)254-11-11">+7(499)254-11-11 (доб.1365)</a>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <a class="info" href="#">узнать подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="management-cluster__item">
                                        <h3>Отдел государственной службы и кадров</h3>
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-text">
                                                <b>Бунеев Михаил Иванович</b>
                                                <p>Начальник отдела</p>
                                                <a href="tel:+7(499)254-11-11">+7(499)254-11-11 (доб.1365)</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>