{% set title_page = "общественный совет при федеральном агентстве по недропользованию " %}
{% set breadcrumbs = ['ГЛАВНАЯ', 'об агентстве', 'координационные и совещательные органы', 'общественный совет при федеральном агентстве по недропользованию'] %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site eye_version">

        <div class="site-top">
            {% include "include/header.html" %}
            {% include "include/breadcrumbs.html" %}

            <section class="content__section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-none d-xl-block col-xl-4">
                            <div class="row">
                                <div class="col-10">
                                    <nav class="hierarch__nav">
                                        <ul>
                                            <li >
                                                <a href="#">Руководитель</a>
                                            </li>
                                            <li >
                                                <a href="#">Структура агентства</a>
                                                <span></span>
                                                <div class="hierarch__nav-child">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Заместители руководителя</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии твердых полезных ископаемых</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление финансово-экономического обеспечения</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии нефти и газа, подземных вод и сооружений</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологических основ, науки и информатики</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#"> Положение об  агентстве</a>
                                            </li>
                                            <li>
                                                <a href="#">Территориальные органы</a>
                                            </li>
                                            <li>
                                                <a href="#">ТФГИ</a>
                                            </li>
                                            <li class="active">
                                                <a href="#">Подведомственные организации</a>
                                            </li>
                                            <li>
                                                <a href="#">Открытое агентство</a>
                                            </li>
                                            <li>
                                                <a href="#">Коллегиальные и совещательные органы</a>
                                                <span></span>
                                                <div class="hierarch__nav-child">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Заместители руководителя</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии твердых полезных ископаемых</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление финансово-экономического обеспечения</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологии нефти и газа, подземных вод и сооружений</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Управление геологических основ, науки и информатики</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#">Государственная служба</a>
                                            </li>
                                            <li>
                                                <a href="#">Геральдический знак-эмблема и флаг</a>
                                            </li>
                                            <li>
                                                <a href="#">Контакты</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            
                            <div class="textgraph">
                                <div class="controll">
                                    <div class="date"></div>
                                    <div class="button-group">
                                        <div class="button-group__item">
                                            <button data-bs-toggle="modal" data-bs-target="#printModal" class="btn-icon">
                                                <img src="./assets/img/icons/print.svg" alt="печать">
                                                печать
                                            </button>
                                        </div>
                                        <div class="button-group__item">
                                            <button class="btn-icon">
                                                <img src="./assets/img/icons/share.svg" alt="поделиться">
                                                поделиться
                                            </button>
                                        </div>
                                    </div>  
                                </div>
                                <h1>общественный совет при федеральном агентстве по недропользованию</h1>

                                <p><i>Общественный совет при Федеральном агентстве по недропользованию является постоянно действующим совещательно-консультативным органом общественного контроля.</i></p>
                                <p>Общественный совет призван обеспечить учет потребностей и интересов граждан Российской Федерации, защиту прав и свобод граждан Российской Федерации и прав общественных объединений при осуществлении государственной политики в части, относящейся к сфере деятельности Роснедр, а также в целях осуществления общественного контроля за деятельностью Роснедр.</p>
                                <hr>

                                <h2>Состав общественного совета</h2>


                                <div class="management-cluster">
                                    <div class="management-cluster__item custom">
                                        
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/4.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Фаррахов Евгений Гатович</b>
                                                <br>
                                                <p><b>Председатель Общественного совета</b> <br> Общественная организация «Российское геологическое общество»</p>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <div class="icons-fa">
                                                    <i class="fa-solid fa-envelope"></i>
                                                    <a href="#">Направить обращение</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="management-cluster__item custom">
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/5.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Романченко Александр Александрович</b>
                                                <br>
                                                <p><b>Заместитель председателя Общественного совета</b> <br>Ассоциация «Инженерные изыскания в строительстве» - Общероссийское отраслевое объединение работодателей</p>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <div class="icons-fa">
                                                    <i class="fa-solid fa-envelope"></i>
                                                    <a href="#">Направить обращение</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="management-cluster__item custom">
                                        
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/4.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Фаррахов Евгений Гатович</b>
                                                <br>
                                                <p><b>Председатель Общественного совета</b> <br> Общественная организация «Российское геологическое общество»</p>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <div class="icons-fa">
                                                    <i class="fa-solid fa-envelope"></i>
                                                    <a href="#">Направить обращение</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="management-cluster__item custom">
                                        <div class="management-cluster__content">
                                            <div class="management-cluster__content-img">
                                                <img src="./assets/img/structure/5.jpg" alt="">
                                            </div>
                                            <div class="management-cluster__content-text">
                                                <b>Романченко Александр Александрович</b>
                                                <br>
                                                <p><b>Заместитель председателя Общественного совета</b> <br>Ассоциация «Инженерные изыскания в строительстве» - Общероссийское отраслевое объединение работодателей</p>
                                            </div>
                                            <div class="management-cluster__content-link">
                                                <div class="icons-fa">
                                                    <i class="fa-solid fa-envelope"></i>
                                                    <a href="#">Направить обращение</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="icons-fa">
                                    <i class="fa-regular fa-envelope"></i>
                                    <a href="#">Написать обращение в Общественный совет</a>
                                </div>

                                <hr>

                                <div class="news-list">
                                    <h4><a href="#"><img src="./assets/img/icons/icon-crest.png" alt="Документы"> Документы</a></h4>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>План работы Общественного совета при Роснедрах на 2022 год</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Поздравление с Новым годом от Президента Российской Федерации В.В. Путина</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Кодекс этики члена Общественного совета при Роснедрах</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Поздравление с Новым годом от Президента Российской Федерации В.В. Путина</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Кодекс этики члена Общественного совета при Роснедрах</p>
                                            </a>
                                        </div>
                                    </div>

                                    <hr>

                                    <h4><a href="#"><img src="./assets/img/icons/icon-crest.png" alt="Документы"> Заседания общественного совета</a></h4>

                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>План работы Общественного совета при Роснедрах на 2022 год</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Поздравление с Новым годом от Президента Российской Федерации В.В. Путина</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Кодекс этики члена Общественного совета при Роснедрах</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Поздравление с Новым годом от Президента Российской Федерации В.В. Путина</p>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <a href="#" class="news-list__item">
                                                <span class="date">04 апреля 2022</span>
                                                <p>Кодекс этики члена Общественного совета при Роснедрах</p>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="site-bottom">
            {% include "include/partners.html" %}
            {% include "include/footer.html" %}
        </div>
        

    </div>
    
    {% include "include/script.html" %}
</body>
</html>