{% 
    set title_page = "Ages" 
%}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% 
        include 'components/head.html'
    %}
</head>
<body>

    <div class="site">
        {%
            include 'components/TopLine/index.html'
        %}
        
        <section class="section-ages">
            <div class="title__inform">
                <a href="#">назад</a>
                <h3 data-span="Некоторые работы основных творческих периодов">периоды</h3>
                <span>
                    Некоторые работы <br>основных творческих <br>периодов
                </span>
            </div>

            <div class="ages-list">
                <div class="ages-list__item">
                    <div class="ages-list__item--title">
                        <span>1989/2002</span>
                    </div>
                    <div class="ages-list__item--content">
                        <div class="ages-line">
                            <div class="ages-line-group">
                                <div class="ages-table">
                                    <div class="ages-table-tr">
                                        <a data-fslightbox="gallery1" href="assets/img/ages/1.jpg" class="ages-table-td">
                                            <img  src="assets/img/ages/1.jpg" alt="">
                                        </a>
                                        <a data-fslightbox="gallery1" href="assets/img/ages/2.jpg" class="ages-table-td">
                                            <img src="assets/img/ages/2.jpg" alt="">
                                        </a>
                                        <a class="ages-table-td"></a>
                                    </div>
                                    <div class="ages-table-tr">
                                        <a class="ages-table-td"></a>
                                        <a data-fslightbox="gallery1" href="assets/img/ages/3.jpg" class="ages-table-td">
                                            <img src="assets/img/ages/3.jpg" alt="">
                                        </a>
                                        <a data-fslightbox="gallery1" data-caption="<h3>01.93 <br>холст масло <br>73х60 <br>1993 г</h3>" href="assets/img/ages/4-4.jpg" class="ages-table-td">
                                            <img src="assets/img/ages/4.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ages-line-group">
                                <div class="ages-table">
                                    <div class="ages-table-tr">
                                        <a data-fslightbox="gallery1" href="assets/img/ages/5.jpg" class="ages-table-td">
                                            <img src="assets/img/ages/5.jpg" alt="">
                                        </a>
                                        <a data-fslightbox="gallery1" href="assets/img/ages/6.jpg" class="ages-table-td">
                                            <img src="assets/img/ages/6.jpg" alt="">
                                        </a>
                                        <a data-fslightbox="gallery1" href="assets/img/ages/7.jpg" class="ages-table-td">
                                            <img src="assets/img/ages/7.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ages-line-group">
                                <div class="ages-table">
                                    <div class="ages-table-tr">
                                        <a data-fslightbox="gallery1" href="assets/img/ages/8.jpg" class="ages-table-td">
                                            <img src="assets/img/ages/8.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        {% 
            include "components/footer.html"
        %}

        
    </div>
    
    {% 
        include 'components/script.html'
    %}
</body>
</html>