{% 
    set title_page = "Biography" 
%}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% 
        include 'components/head.html'
    %}
</head>
<body>

    <div class="site">
        {%
            include 'components/TopLine/index.html'
        %}
        
        <section class="section-biography">
            <div class="section-biography__preview">
                <div class="section-biography__left">
                    <a href="#">назад</a> <br>
                    <a href="mailto:artiter@gmail.com" class="email">artiter@gmail.com</a>
                </div>
                <div class="section-biography__right">
                    <img src="assets/img/biograph2.jpg" alt="">
                </div>
                <div class="section-biography__content">
                    <h1>Терехов Игорь</h1>
                    <span>Родился в 1954 г.    в Екатеринбурге.</span>
                    <div class="legend">
                        <div class="legend-tr">
                            <div class="legend-td">
                                До
                            </div>
                            <div class="legend-td">
                                1971 г.
                            </div>
                            <div class="legend-td">
                                жил в Уфе, башкортостан
                            </div>
                        </div>
                        <div class="legend-tr">
                            <div class="legend-td">
                                с
                            </div>
                            <div class="legend-td">
                                1972 г.
                            </div>
                            <div class="legend-td">
                                живет в г. Жуковском, Московской области
                            </div>
                        </div>
                        <div class="legend-tr">
                            <div class="legend-td">
                                в
                            </div>
                            <div class="legend-td">
                                1977 г.
                            </div>
                            <div class="legend-td">
                                окончил Московский Физико-технический институт по специальности инженер-физик. Живописью занимается с 1973 г.
                            </div>
                        </div>
                        <div class="legend-tr">
                            <div class="legend-td">
                                в
                            </div>
                            <div class="legend-td">
                                1991 г.
                            </div>
                            <div class="legend-td">
                                жил и работал в швейцарии (женева, лозанна)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="biography-advantage">
                <div>
                    <h3>Участие в выставках</h3>
                    <div class="advantege-table">
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                1989
                            </div>
                            <div class="advantege-td">
                                Осенняя выставка комитета художников <br>— графиков (Малая Грузинская 28)
                            </div>
                        </div>
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                1992
                            </div>
                            <div class="advantege-td">
                                Выставка объединения «Пиковая Дама» в Государственной Третьяковской галерее
                            </div>
                        </div>
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                2002
                            </div>
                            <div class="advantege-td">
                                «Абстракция в России. 20 век», Государственный Русский музей, Санкт-Петербург
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="biography-advantage">
                <div>
                    <h3>Персональные выставки</h3>
                    <div class="advantege-table">
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                1995
                            </div>
                            <div class="advantege-td">
                                выставка в Доме Композитора
                            </div>
                        </div>
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                1995
                            </div>
                            <div class="advantege-td">
                                «Пути. Абстракция на пороге нового века». Выставка в галерее «Нагорная» г.Москва
                            </div>
                        </div>
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                1997
                            </div>
                            <div class="advantege-td">
                                «Контр-авангард» - выставка в Государственном институте искусствознания
                            </div>
                        </div>
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                2005
                            </div>
                            <div class="advantege-td">
                                «Чистейшая абстракция 05». Галерея «Pop/off/art».
                            </div>
                        </div>
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                2005
                            </div>
                            <div class="advantege-td">
                                «Actus purus». выставка в галерее «А3»
                            </div>
                        </div>
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                2006
                            </div>
                            <div class="advantege-td">
                                «Alabama song». Двойной портрет. Владимир Николаев - музыка. Игорь Терехов – живопись. Культурный центр «ДОМ», г. Москва
                            </div>
                        </div>
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                2007
                            </div>
                            <div class="advantege-td">
                                выставка в посольстве Республики Сингапур, г.Москва
                            </div>
                        </div>
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                2012
                            </div>
                            <div class="advantege-td">
                                выставка в Красноярском музейном центре
                            </div>
                        </div>
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                2014
                            </div>
                            <div class="advantege-td">
                                «Αλήθεια». выставка, галерея Товарищества живописцев МСХ
                            </div>
                        </div>
                        <div class="advantege-tr">
                            <div class="advantege-td">
                                2018
                            </div>
                            <div class="advantege-td">
                                «Устойчивое неравновесье». выставка в выставочном павильоне «Арт-парк», г.Москва
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="located">
                <h4>Работы находятся в коллекциях Государственного Русского Музея г.Санкт-Петербург, частных собраниях России, Германии, Швейцарии, Франции, Канады, Сингапура, Японии.</h4>
            </div>
            <div class="contacts">
                <div class="contacts-content">
                    <div class="contacts-table">
                        <div class="contacts-tr">
                            <div class="contacts-td">
                                <span>техника</span>
                            </div>
                            <div class="contacts-td">
                                холст, масло
                            </div>
                        </div>
                        <div class="contacts-tr">
                            <div class="contacts-td">
                                <span>Форматы</span>
                            </div>
                            <div class="contacts-td">
                                от 60х50 до 200х160
                            </div>
                        </div>
                    </div>
                    <div class="contacts-title">
                        <h3>контакты</h3>
                        <span>m</span>
                        <a href="mailto:artiter@gmail.com">artiter@gmail.com</a>
                    </div>
                    <div class="contacts-table before">
                        <div class="contacts-tr">
                            <div class="contacts-td">
                                Фото
                            </div>
                            <div class="contacts-td">
                                Виктор Фроликов
                            </div>
                        </div>
                        <div class="contacts-tr">
                            <div class="contacts-td">
                            </div>
                            <div class="contacts-td">
                                Вадим Феоктистов
                            </div>
                        </div>
                        <div class="contacts-tr">
                            <div class="contacts-td">
                                дизайн
                            </div>
                            <div class="contacts-td">
                                алексей яковлев
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% 
            include "components/footer.html"
        %}

        
    </div>
    
    {% 
        include 'components/script.html'
    %}
</body>
</html>