{% 
    set title_page = "Guide" 
%}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% 
        include 'components/head.html'
    %}
</head>
<body>

    <div class="site">
        {%
            include 'components/TopLine/index.html'
        %}
        
        <section data-gsap-history class="section__history-preview">
            <div class="history-preview">
                <div data-gsap-history-1 class="history-preview__item">
                    <a target="_blank" href="../read/index.html"><span>Index/page</span></a>
                </div>
                <div data-gsap-history-2 class="history-preview__item">
                    <a target="_blank" href="../read/ages.html"><span>Ages/page</span></a>
                </div>
                <div data-gsap-history-3 class="history-preview__item">
                    <a target="_blank" href="../read/text.html"><span>Text/page</span></a>
                </div>
                <div data-gsap-history-4 class="history-preview__item">
                    <a target="_blank" href="../read/biography.html"><span>Biography/page</span></a>
                </div>
            </div>
        </section>
        <br><br><br><br><br><br><br><br><br><br>

        {% 
            include "components/footer.html"
        %}

        
    </div>
    
    {% 
        include 'components/script.html'
    %}
</body>
</html>