{% 
    set title_page = "Index" 
%}
{% 
    set footerColor = "footer--dark"
%}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% 
        include 'components/head.html'
    %}
</head>
<body>

    <div class="site">
        {%
            include 'components/TopLine/index.html'
        %}
        
        <header data-gsap-header class="header">
            <h1>Igor Terekhov</h1>
            <p>живопись</p>
            <!-- <div class="description">
                <span>москва. россия</span>
                <p>Работы находятся в собрании Государственного Русского музея в Санкт-Петербурге, частных коллекциях России, Европы, Канады, Сингапура, Японии.</p>
            </div> -->
            <div class="arrow-down">↓</div>
            <div data-gsap-img>
                <div data-gsap-header-img class="header-img">
                    
                    <img src="assets/img/header.jpg" alt="">
                </div>
            </div>
        </header>

        <section id="tesis" data-gsap-tesis class="section-tesis">
            <h2 data-gsap-tesis-1 class="title__section">
                <span>тезис</span>
                <b class="text-right">Плоскость холста</b> <br> <b class="text-left">предупреждает — здесь вы встретитесь с заведомо иным.</b>
            </h2>
            <div data-gsap-tesis-2 class="block block__line-rigth">
                <div class="block-content">
                    <p>Возможности этого пространства расширились, в сравнении с «абстрактной живописью». Мы имеем дело с открытой формой и она конденсируется из квантованного пространства. Гераклитов огонь, вспыхивающий и меркнущий, голос света.</p>
                    <p>Замаскированный под «живопись», объект обретает  бытие. Вместо живописи действия – процесс становления, подъёма.</p>
                </div>
            </div>
            <div data-gsap-tesis-3 class="block block-flex">
                <div data-gsap-tesis-img class="block-column block-column__left " >
                    <img data-gsap src="assets/img/tesis.jpg" alt="">
                </div>
                <div class="block-column block-column__rigth block__line-top line-xs-none">
                    <div class="block-content font-size-12">
                        <p>
                            Воздух <br>
                            180х170 см   2008 г. <br>
                            холст, масло
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="unclear" data-gsap-unclear class="section-unclear">
            <div class="section-unclear-1">
                <div class="section-unclear--left">
                    <h2 data-gsap-unclear-1><span>Αλήθεια</span></h2>
                    <span data-gsap-unclear-25 class="name">
                        М. Хайдеггер «Гераклит», <br>перевод A. II. Шурбелева.
                    </span>
                </div>
                <div class="section-unclear--right">
                    <h3 data-gsap-unclear-2>
                        <span>ΆΝΑΧΩΡΉΣΑΣ Δ' ΕΙΣ ΤΟ ΙΕΡΌΝ ΤΗΣ 'ΑΡΤΈΜΙΔΟΣ ΜΕΤΆ ΤΩΝ ΠΑΊΔΩΝ</span>
                        <span>ΉΣΤΡΑΓΆΛΙΖΕ ΠΕΡΙΣΤΆΝΤΩΝ Δ' ΑΥΤΌΝ ΤΩΝ ΈΦΕΣΊΩΝ, Ί, Ω ΚΆΚΙΣΤΟΙ,</span>
                        <span>ΘΑΥΜΆΖΕΤΕ; ΕΊΠΕΝ 'Ή ΟΥ ΚΡΕΪ́ΤΤΟΝ ΤΟΎΤΟ ΠΟΙΕΪ́Ν Ή ΜΕΘ' ΥΜΏΝ</span>
                        <span>πολιτεύεσθαι;</span>
                    </h3>
                    <span class="name name-1">
                        <span data-gsap-unclear-3>М. Хайдеггер «Гераклит», <br>перевод A. II. Шурбелева.</span>
                    </span>
                    <div data-gsap-unclear-4 class="block-content">
                        <span class="name name-2">
                            М. Хайдеггер «Гераклит», <br>перевод A. II. Шурбелева.
                        </span>
                        <p>«Он же вернулся в святилище Артемиды, чтобы поиграть с детьми в кости; вокруг него собрались эфесяне, и он сказал им: «Чему дивитесь, негодяи?</p>
                        <p>Не лучше ли делать это, чем вместе с вами хлопотать о πόλις?»</p>
                    </div>
                    <div class="w-100"></div>
                    <div data-gsap-unclear-5>
                        <img src="assets/img/unclear-1.jpg"  alt="">
                    </div>
                    <div class="w-100"></div>
                    <span data-gsap-unclear-6 class="name name-3">
                        01.13 <br>
                        200х138 см   2013 г. <br>
                        холст, масло
                    </span>
                </div>
            </div>
            <div class="section-unclear-2">
                <div class="section-unclear-flex">
                    <div class="section-unclear-column section-unclear--left">
                        <div class="decor">
                            <img src="assets/img/unclear-2-1.jpg" alt="">
                        </div>
                        <div data-gsap-unclear-7 class="around">
                            <div>
                                <img src="assets/img/unclear-2.jpg" alt="">
                            </div>
                            <span class="name">
                                10.08 <br>
                                180х170 см   2008 г. <br>
                                холст, масло
                            </span>
                        </div>
                    </div>
                    <div class="section-unclear-column section-unclear--right">
                        <div data-gsap-unclear-8 class="decor">
                            <img src="assets/img/unclear-2-1.jpg" alt="">
                        </div>
                        <div data-gsap-unclear-9 class="around">
                            <h2>Ли Бо</h2>
                            <div class="block-content">
                                <p>Желтая Река идет в Восточную Бездну, Белое солнце опускается в западное море. Уходящий поток и струящийся свет Летят, мчатся, никого не ждут.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-unclear-2">
                <div class="section-unclear-flex">
                    <div class="section-unclear-column section-unclear--left">
                    </div>
                    <div data-gsap-unclear-10 class="section-unclear-column section-unclear--right">
                        <div >
                            <img src="assets/img/unclear-2-2.jpg" alt="">
                        </div>
                        <div class="w-100"></div>
                        <span class="name">
                            01.93 <br>
                            73х60 см   1993 г. <br>
                            холст, масло
                        </span>
                    </div>
                </div>
            </div>
            <div class="section-unclear-3">
                <div class="wrapper">
                    <h2 data-gsap-unclear-11><span>Смысл живописной</span> <span>деятельности и её</span> <span>содержание</span> <span>неразделимы и это её</span> <span>уникальное свойство</span> </h2>
                    <div data-gsap-unclear-12 class="section-unclear-flex">
                        <div class="section-unclear-column">
                            <span>Мерло–Понти </span>
                        </div>
                        <div class="section-unclear-column">
                            <div class="block-content">
                                <p>Поэтому, вероятно, художники с такой неохотой рассказывают о том, чем они занимаются. Перед ними есть пример создания текстов, призванных объяснить то или иное, и непрестанно возникающий при этом парадокс разрыва смысла и содержания в сферах вербального. Собственно, в живопись до сих пор идут люди стремящиеся преодолеть двойственность</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image--center">
                    <div class="image">
                        <div >
                            <img data-gsap-unclear-13 src="assets/img/unclear-3.jpg" alt="">
                        </div>
                        <span data-gsap-unclear-14 class="name">
                            08.08 <br>
                            110х120 см   2008 г. <br>
                            холст, масло
                        </span>
                    </div>
                </div>

                <div class="section-unclear-3-image">
                    <div class="image image-1 mr-200">
                        <div >
                            <img data-gsap-unclear-15 src="assets/img/unclear-3-1.jpg" alt="">
                        </div>
                        <span data-gsap-unclear-16 class="name name--rigth">
                            Ворон <br>
                            60х50 см   1993 г. <br>
                            холст, масло
                        </span>
                    </div>
                    <div class="image image-2">
                        <div data-gsap-unclear-17-parallax>
                            <img data-gsap-unclear-17 src="assets/img/unclear-3-2.jpg" alt="">
                        </div>
                        <span data-gsap-unclear-18 class="name">
                            10.04 <br>
                            90х110 см   2004 г. <br>
                            холст, масло
                        </span>
                    </div>
                </div>
                
            </div>
            <div class="section-unclear-4">
                <div class="wrapper">
                    <h2 data-gsap-unclear-19><span>Мартин</span> <span>Бубер</span></h2>
                    <div data-gsap-unclear-20 class="section-unclear-flex">
                        <div class="section-unclear-column">
                            <div class="block-content">
                                <p>Чистый жест, который не похищает мир для себя, но выражает себя для мира – какое совершенное определение для последней фазы современного искусства.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image--right image-1">
                    <div class="image">
                        <div >
                            <img data-gsap-unclear-21 src="assets/img/unclear-4.jpg" alt="">
                        </div>
                        <span data-gsap-unclear-22 class="name">
                            05.04 <br>
                            91х100 см   2004 г. <br>
                            холст, масло
                        </span>
                    </div>
                </div>
                <div class="image--left">
                    <div class="image image-2">
                        <div >
                            <img data-gsap-unclear-23 src="assets/img/unclear-4-1.jpg" alt="">
                        </div>
                        <span data-gsap-unclear-24 class="name">
                            06.08 <br>
                            60х80 см   2008 г. <br>
                            холст, масло
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <section data-gsap-exhibition class="section-exhibition">
            <div class="exhibition-title visible-xs">
                <h2>Экспозиция</h2>
                <div class="exhibition-title-wrapper">
                    <span>тезис</span>
                    <p>Живопись, утратив монополию на изобразительность, развила  способность создавать тотальные объекты с уникальными свойствами. Пространство холста может расширяться быстрее Вселенной. Задача не просто найти  сингулярность в видимом, а создать её.</p>
                </div>
            </div>
            
            <div class="exhibition-carousel">
                <div class="swiper-container">
                    <div
                        class="parallax-bg"
                        data-swiper-parallax="-100%"
                    ></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div data-swiper-parallax="60%" data-swiper-parallax-opacity=".1" class="exhibition-title">
                                <h2>Экспозиция</h2>
                                <div class="exhibition-title-wrapper">
                                    <span>тезис</span>
                                    <p>Живопись, утратив монополию на изобразительность, развила  способность создавать тотальные объекты с уникальными свойствами. Пространство холста может расширяться быстрее Вселенной. Задача не просто найти  сингулярность в видимом, а создать её.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div  class="exhibition-item">
                                <img src="assets/img/exhibition/1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div  class="exhibition-item">
                                <img src="assets/img/exhibition/2.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div  class="exhibition-item">
                                <img src="assets/img/exhibition/3.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="exhibition-item">
                                <img src="assets/img/exhibition/1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div> 
        </section>

        <section data-gsap-history class="section__history-preview">
            <div class="history-preview">
                <div data-gsap-history-1 class="history-preview__item">
                    <a  href="#"><span>1989/2002</span></a>
                    <img src="assets/img/2018.jpg" alt="">
                </div>
                <div data-gsap-history-2 class="history-preview__item">
                    <a  href="#"><span>2003/2007</span></a>
                    <img src="assets/img/2018.jpg" alt="">
                </div>
                <div data-gsap-history-3 class="history-preview__item">
                    <a  href="#"><span>2008/2010</span></a>
                    <img src="assets/img/2018.jpg" alt="">
                </div>
                <div data-gsap-history-4 class="history-preview__item">
                    <a href="#"><span>2010/2021</span></a>
                    <img src="assets/img/2018.jpg" alt="">
                </div>
            </div>
        </section>

        <section class="section__biography">
            <p>Живопись, утратив монополию на изобразительность, развила способность создавать тотальные объекты с уникальными свойствами. Пространство холста может расширяться быстрее Вселенной. Задача не просто найти  сингулярность в видимом, а создать её.</p>
            <div>
                <img src="assets/img/biograph1.jpg" alt="">
            </div>
            <h2>биография</h2>
        </section>
        {% 
            include "components/footer.html"
        %}

        
    </div>
    
    {% 
        include 'components/script.html'
    %}
</body>
</html>