{% 
    set title_page = "Text" 
%}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% 
        include 'components/head.html'
    %}
</head>
<body>

    <div class="site">
        {%
            include 'components/TopLine/index.html'
        %}

        <header class="header-img-static" style="background-image: url(assets/img/header2.jpg);">
        </header>
        
        <section class="section">
            <div class="title__inform">
                <a href="#">назад</a>
                <h3>тексты</h3>
            </div>
            <div class="section__container">
                <div class="section__left">
                    <ul class="filter-list">
                        <li><a class="active" href="#">все</a></li>
                        <li><a href="#">критика</a></li>
                        <li><a href="#">текст художника</a></li>
                    </ul>
                </div>
                <div class="section__right">
                    <div class="block-text">
                        <div class="block-text--name">
                            <div class="wrapper">
                                <span>Критика</span>
                                <div>
                                    <h4>Анна Чудецкая</h4>
                                    <p>Кандидат искусствоведения, доцент</p>
                                </div>
                            </div>
                        </div>
                        <div class="block-text--content">
                            <p>
                                «Игорь Терехов – один из немногих художников нашей поры, кто последовательно и искренне посвятил себя абстрактной живописи. Причём живописи традиционной по технике - масло на холсте, без каких-либо технологических нововведений. Поле эксперимента - в самой сути высказывания. На его холстах происходят глобальные процессы: силы света и тьмы сталкиваются, клубятся, порождают цветные структуры, которые затем распадаются, чтобы возродиться в себе подобных. Соблазнительно было бы углядеть взаимодействие живописи с физикой и математикой – науками, которыми занимался художник в своей «прошлой» жизни – однако Терехов против наукообразия в искусстве. Он убеждён, что искусство гораздо шире и точнее…      
                            </p>
                            <p>
                                …Движение в абстракцию началось для Игоря Терехова в 1975 году – сперва он увлёкся геометрической абстракцией, потом - экспрессионисткой. Близкими для себя Терехов называет трёх художников старшего поколения – Игоря Вулоха, Марлена Шпиндлера, Алексея Каменского. Все они - участники легендарной выставки «Другое искусство». И, пожалуй, место Игоря Терехова в художественной географии где-то поблизости, между «метафизикой» и романтической абстракцией. Но, принадлежа уже поколению «восьмидесятых», Терехов ясно ощутил, что сегодняшняя реальность, растиражированная средствами массовой информации, исчезла как собственно реальность, превратившись в хаос. Быть может, поэтому Терехов отказался от «разглядывания», перестал искать впечатления и образы в окружающей действительности. Он осознал невозможность с помощью некоего описания, некоего текста насытить хаос реальным смыслом, и тогда возникло предположение, что пробиться к реальности можно с помощью интуиции и внутренней дисциплины. Его путь стал «описанием пространств».нежели наука, может описать происходящее в реальности…
                            </p>
                        </div>
                    </div>
                    <div class="block-text">
                        <div class="block-text--name">
                            <div class="wrapper">
                                <span>Критика</span>
                                <div>
                                    <h4>Игорь Ножов</h4>
                                    <p>Арт - критик</p>
                                </div>
                            </div>
                        </div>
                        <div class="block-text--content">
                            <p>
                                Картины Игоря Терехова - многомерное пространство с замкнутой структурой. Утверждение: живопись позволяет самому моделировать и описывать пространство, лишённое времени, и определяет его многомерность игрой света. Каждый смотрящий извлекает из картины свою формулу. Взрыв. Вселенная. В его картинах – Хаос или «мир в первую минуту после взрыва».Слишком красиво, чтобы быть правдой…  Но из этого Хаоса, из беспорядочно расставленных геометрически неправильных фигур зрителю позволено построить свой упорядоченный и логичный мир. 
                            </p>
                            <p>
                                Неплохая идея: человеку  приписать божественные обязанности. Канон ограничивает художника, но доставляет ему и зрителю удовольствие от открытия, наслаждение свободой мышления.
                            </p>
                        </div>
                    </div>
                    <div class="block-text">
                        <div class="block-text--name">
                            <div class="wrapper">
                                <span>Критика</span>
                                <div>
                                    <h4>Михаил Красилин</h4>
                                    <p>Искусствовед</p>
                                </div>
                            </div>
                        </div>
                        <div class="block-text--content">
                            <p>
                                Наверное, можно утверждать, что Терехов принадлежит к кругу редких чистых беспредметников, для которого импульсы окружающего мира скорее проявляются в названиях картин, нежели в самом изображении. «Все важнее становится рефлексия не над природой или мифологическими структурами, присущими данному временному видению, а над тем, как они видятся, каким образом возникают в сознании» - писал некогда сам художник. </p>
                                <p>Используя довольно скупую мрачноватую палитру, оживляемую резкими вспышками световых откровений, художник ведет нас в некие медитативные глубины виртуальной космогонии. С опаской, вглядываясь в них (есть ли шанс на возвращение?), невольно вспоминаешь слова молитвы «Из глубины воззвав к Тебе, Господи». </p>
                                <p>Присущее художнику эсхатологическое мышление, реализованное в его полотнах, заставляет нас прозревать трагические исходы бытия. Философическое обоснование искусства Игоря Терехова, (оставляя в стороне тонкости восточных интересов автора), зиждется, в большей степени, на изначальных общемировых ценностях, которые мы обретаем в произведениях древних мыслителей. </p>
                                <p>Мне кажется, что художник, своею живописью размышляя об истоках человеческого сознания, ищет стабильные опоры, возвышающие внутренний мир человеческой личности, тем самым как бы преодолевая трагизм будничного бытия. Здесь словно нащупывается генетическая связь с мыслительными процессами далекого прошлого. И как не вспомнить в этой связи слова анонимного автора I века нашей эры, который в своем трактате «О возвышенном» высказал близкий нашему художнику тезис: «Человеческая душа по своей природе способна чутко откликаться на возвышенное. Под его воздействием она наполняется гордым величием, словно сама природа породила все только что воспринятое». </p>
                                <p>Терехов утверждает право искусства живописи на решение общечеловеческих проблем. Он своими работами пытается преодолеть трагический распад личности своей эпохи, стремясь найти то очищающее начало, которое можно было бы соотнести с древнегреческим катарсисом. Все картины художника - суть страницы одной образной книги, в которой прочитывается напряженный внутренний мир их создателя. Он своим провидческим творчеством вновь убедительно подтверждает право столетнего существования беспредметного искусства, некогда вызванного к жизни первыми работами мастеров начала ХХ столетия.</p>
                        </div>
                    </div>
                    <div class="block-text">
                        <div class="block-text--name">
                            <div class="wrapper">
                                <span>Критика</span>
                                <div>
                                    <h4>Сергей Попов</h4>
                                    <p>Искусствовед, <br>галерист </p>
                                </div>
                            </div>
                        </div>
                        <div class="block-text--content">
                                <p>Заданная Василием Кандинским в трактате "О духовном в искусстве" программа не была реализована, а линия духовной абстракции прервалась, за исключением нескольких художников парижской школы, выходцев из России (Поляков, Ланской и др.).</p>
                                <p>С полным правом в число подобных одиночек можно отнести и современного абстракциониста Игоря Терехова. Плоды его более чем двадцатилетнего совершенствования в этом искусстве заставляют считать его фигурой уникальной... </p>
                                <p>Правомерным является и разговор о почти столетнем пути духовной абстракции "от Кандинского до Терехова". Если формула духовной жизни отца абстракции - "готика", имела два направления: "вперёд" и "вверх", то живопись Терехова ассоциируется с искони   "православной"   направленностью - вглубь, и, как правило, внутрь себя.</p>
                                <p>...Разговор о качестве и смысле его живописи требует от зрителя серьёзной работы, и душевных, и интеллектуальных сил. "Проникнуть" в картины Терехова трудно с первого раза, и в одночасье. Даже глядеть на его произведения - это и отдых, и работа. Отдых - потому что все они строго выдержаны по композиции, всегда нетривиальной, насыщенной, и пленительно красивы по цветовой гамме. Они действительно гармоничны, хотя редко это слово применяется в современном искусстве. </p>
                                <p>Очень важно принять его работы и сердцем, и умом, ибо только так писал их художник. Примирение, снятие противоречий в часто несводимых вместе понятиях - огромное достоинство его живописи.</p>
                                <p>Конечно, такая глубина, значительность и своеобразие живописи не могли возникнуть сами собой. Здесь необходим иной критерий, соответствующий высшим из сущих потребностей искусства. Канон - вот что является внутренней основой его творчества.</p>
                        </div>
                    </div>
                    <div class="block-text">
                        <div class="block-text--name">
                            <div class="wrapper">
                                <span>Текс художника</span>
                                <div>
                                    <h4>игорь терехов</h4>
                                    <p>Искусствовед, <br>галерист </p>
                                </div>
                            </div>
                        </div>
                        <div class="block-text--content">
                            <p>
                                De capo al fine. <br>
                                «Устойчивое неравновесье».
                            </p>
                            <br><br>
                            <p>
                                1. <br>
                                Живопись излучает свет, и анализ его природы заставил меня предпринять ряд экспериментов. Реальную основу для разъяснения происхождения этого феномена я нашёл в учении византийского богослова Григория Паламы. Излучение, энергии, исходящие от живописного объекта, не имеют отношения к технике или стилистике. Это – нечто, происходящее с душой художника. Преображение личности, во взаимодействии с возникающим пространством. С этого пункта началось моё движение к традиционным религиозным основам, к 1989 г. закончился период моего ученичества, и возникли первые самостоятельные темы.
                                Наиболее развитой эстетикой, с которой я был знаком к тому времени, была средневековая китайская теория поэзии, живописи, каллиграфии, представленная в переводах академика В. Алексеева, посвящённая состоянию художника в его творческом движении. Но она основывалась на фундаменте классической китайской философии, знакомства с переводами которой недостаточно для её понимания и серьёзной интерпретации. С другой стороны, самой убедительной художественной реальностью для меня была русская и византийская икона. Но я не мог становиться иконописцем, а не художником только на этом основании.  
                                Когда говорят о русской культуре, то, прежде всего, вспоминают литературу и музыку 19-го века, авангардную живопись начала 20-го века. Все эти явления относительно новые, возникшие под мощным влиянием западноевропейских образцов. Несомненна непреходящая ценность этого периода. Но культурная традиция России основана на ритмах более протяжённых -  картина существенно меняется, если обратиться к временам её возникновения. Окажется, что единственным видом искусства, непрерывно присутствовавшим, развивающимся и всегда порождающим произведения мирового уровня, была живопись. До 17-го века изобразительное искусство существовало в виде иконы, но в те времена икона являясь, прежде всего, частью духовно- богослужебного комплекса выполняла и множество иных функций от повествовательно-летописных до богословских. Она была всем. В том числе она, говоря современным языком, была и авангардной живописью. Будущее русского изобразительного искусства было определено в творчестве «отцов-основателей» русской иконы.  Определяющей личностью в «русской» составляющей моей живописи является Феофан Грек, художник невероятной мощи, никогда не редактирующий того, что он пережил и увидел, и  всегда остававшийся персоной, личностью. Мерить перспективы современного русского искусства исключительно по эталонам авангарда начала века или «шестидесятникам» означало бы сужать его горизонты. 
                                Что касается культурных ритмов, нужно помнить, что Россия была и границей, и перекрёстком между Востоком и Западом, Севером и Югом. Русская икона непрерывно испытывала самые разнообразные влияния: от персидской миниатюры до современной ей итальянской живописи. И эта способность использовать опыт других культур всегда присутствует в русском изобразительном искусстве, это одно из лучших её свойств.
                            </p>
                            <br><br>
                            <p>
                                2. <br>
                                Внешние признаки беспредметности или абстрактности мало что говорят о содержании живописи. У Кандинского есть утопические построения антропософского содержания, но есть и мощные прорывы к реальной, не редактированной умственными построениями картине. Появление нефигуративного искусства неизбежно в развитых культурах. Бесконечные презентации и репрезентации объектов рано или поздно вырождаются в повторы.
                                Возникновение объектов в новой живописи возможно. Например, у Клее они проявляются как исчезающие фантомы на границе бесплотной реальности, которую он тонко реконструировал. Я хотел бы сохранить право на введение объекта в пространство холста. В моей ранней живописи были знаки и символы. Это были ноль – символы, прием, введённый в ранних фильмах Бунюэля, создававшие возможность для любых трактовок. От использования этого приёма я перешёл к трактовке картины как среды, позволяющей реконструировать реальность самому зрителю, т.е. моя задача - не добиться конечного результата-образа, а найти условия, при которых возможно возвращение к реальности. 
                                Проблема компромисса между законченностью и выразительностью, так терзавшая Сезанна, в этой трактовке исчезает. Грубо говоря, моя коммуникативная задача – заставить зрителя думать самостоятельно, поставить его в условия встречи с загадкой, честной, не придуманной загадкой. Я собираю горючий материал, а окажется ли в руках зрителя спичка - дело везения. 
                                Постановка вопроса внешне напоминает аристотелевскую теорию катарсиса, но только внешне. Миметическое искусство эффективно функционировало вплоть до позднего средневековья по той причине, что человек тогда существовал в  сакральном или  сакрализованном пространстве. Выход из освящённого космоса античности и средневековья отменил эстетику, описанную Аристотелем. На смену Бытию Моисея и Гераклита пришло бытие Спинозы – Гегеля.
                                И задачи художника нового и новейшего времени существенно изменились. О платоновской золотой цепи между Небом и Землёй говорить уже не приходится. Связь с сакральным была утрачена или сознательно разорвана.  Попытки создать духовно реалистическое искусство выглядят как романтические причуды. Тем не менее, искусство Нового времени существует не менее значимо, нежели памятники сакрального искусства.  Возникшая социальная реальность с установкой на независимость человека от мира Божьего, с бытием, основанным на потреблении созданных общественным сознанием суррогатов, поставило перед художниками новые задачи. Эту ситуацию хорошо описали французские мыслители второй половины ХХ-го века: Рансьер, Лиотар, Мерло-Понти. 
                                Для меня оно выглядит так: поле деятельности искусства лежит между восприятием, отредактированным объектной, вещественной деятельностью социума, и сознанием, подвергающем редакции это восприятие. Эта область (Рансьер называет её эстетическое бессознательное), этот разрыв в ткани цивилизации, сияющая бездна, которую невозможно закрыть культурными или социальными механизмами, и оставлена художнику. Человек, стремящийся ощутить реальность, поневоле должен быть художником. Ортодоксальному христианину приходится быть художником. Разрыв бетонных стен нашего «прекрасного нового мира» требует огромного количества энергии.
                                Моя живопись имеет опору и в конкретной, «актуальной» среде. От конструкции мерцающих, излучающих свет фрагментов реальности я перешёл к полномасштабным описаниям, конденсации состояний тотального пространства. Сейчас мои работы – динамичный «пейзаж» гигантского пространства между Атлантикой и Тихим океаном. Колебания этой немыслимой человеческой, культурной, исторической, сакральной, физической платформы и дают энергетическое основание моей нынешней живописи. «Поэзия – вибрация смысла» так писал Георгий Оболдуев, русский поэт первой половины прошлого века. Живопись имеет дело не только со смыслами, но и с чувственными ощущениями.  Какого уровня тонкости и масштаба эти ощущения дело художника. Невозможно зафиксировать «картину мира», но можно прочувствовать её вибрацию, это устойчивое неравновесие.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

        {% 
            include "components/footer.html"
        %}

        
    </div>
    
    {% 
        include 'components/script.html'
    %}
</body>
</html>