@import "./fonts";
@import "./vars";
@import "./button";
@import "./awesome";
@import "./picker";

@import "../../../node_modules/normalize.css/normalize.css";
@import "../../../node_modules/lightpick/css/lightpick.css";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "../../../node_modules/swiper/swiper.scss";



*,
*::after,
*::before{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

b, strong{
    font-weight: bold;
}

@media print{
    @page {
        size: landscape
    }
}

body{
    font-family: $font-family;
    font-size: $font-size;
    line-height: 1.4;
    color: $text;
    min-width: 320px;
    overflow-x: hidden;
    input,
    textarea,
    button{
        outline: none;
        &:focus{
            outline: none;
        }
    }
}

.overflow--hidden {
    overflow: hidden;
}


.site{
    overflow: hidden;
    &-top{
        @include centerPadding
    }
    &-bottom {
        @include centerPadding
    }
    
    
}


.header {
    background-image: url('../img/bg_header.jpg');
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 20px;
    background-size: 769px 513px;
    background-position: 58.91% 14.8673%;
    @media (min-width: 2500px) {
        background-size: cover;
    }
    @media (min-width: 1670px) {
        background-size: 2505.4271px 1672.6559px;
        background-position: 36.58% 26.9%;
    }
    @media (min-width: 1054px) {
        background-size: 1670.2847px 1115.1039px;
        background-position: 36.47% 26.4%;
    }
    @media (min-width: 767px) {
        background-size: 1054.3675px 703.9094px;
        background-position: 36.56% 23.43%;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        position: relative;
        .logo {
            img {
                max-width: 415px;
                @media (max-width: 1800px) {
                    max-width: 260px;
                }
            }
            margin-bottom: 70px;
            @media (max-width: 767px) {
                margin-bottom: 90px;
            }
        }
    }
    &-control {
        display: flex;
        align-items: flex-end;
        height: 100%;
        @media (max-width: 992px) {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        &__item {
            & + .header-control__item {
                margin-left: 25px;
            }
            @media (max-width: 767px) {
                .button--burger{
                    &::before {
                        background-color: rgba(217,217,217,.65);
                    }
                    span {
                        background-color: $accent;
                    }
                }
            }
        }
    }
}

.footer {
    padding-top: 65px;
    padding-bottom: 90px;
    background-color: $accent;
    color: #ddd;
    @media print {
        display: none;
    }
    @media (max-width: 1200px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &-logo {
        width: 580px;
        margin-bottom: 65px;
        @media (max-width: 1800px) {
            max-width: 300px;
            img {
                max-width: 260px;
            }
        }
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
        img {
            max-width: 255px;
            width: 100%;
            
        }
    }
    .row--custom {
        [class^="col"] {
            padding-left: 30px;
            padding-right: 30px;
            @media (max-width: 1800px) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        
    }
    &-nav {
        height: 100%;
        h4 {
            margin: 0;
            padding: 0;
            color: #ddd;
            font-size: 16px;
            line-height: 1;
            font-weight: 600;
            margin-bottom: 50px;
            text-transform: uppercase;
        }
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            position: relative;
            height: 100%;
            li{
                z-index: 2;
                & + li{
                    //margin-top: 15px;
                }
                a{
                    color: #ddd;
                    text-decoration: none;
                    font-size: 16px;
                    line-height: 1.2;
                    display: flex;
                    align-items: center;
                    padding-bottom: 7px;
                    padding-top: 7px;
                    i {
                        margin-left: 5px;
                        font-style: normal;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                .sub-nav__child {
                    position: absolute;
                    left: 100%;
                    top: 0;
                    visibility: hidden;
                    width: calc(100% + 60px);
                    background-image: url('../img/bg_menu.jpg');
                    background-size: cover;
                    background-position: center;
                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,.6);
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                &:hover {
                    z-index: 30;
                    & > a{
                        background-color: #6a6e75;
                    }
                    .sub-nav__child {
                        visibility: visible;
                        margin-top: -131px;
                        height: calc(100% + 155px);
                        padding-top: 65px;
                        padding-left: 25px;
                        padding-right: 25px;
                        border-left: 1px solid #f8f8f8;
                        border-right: 1px solid #f8f8f8;
                        z-index: 10;
                        
                        h4 {
                            color: #ddd;
                            font-size: 16px;
                            line-height: 1;
                            font-weight: 600;
                            margin-bottom: 50px;
                            text-transform: uppercase;
                            z-index: 3;
                            position: relative;
                        }
                        a{
                            &:hover {
                                background-color: transparent;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    &-appeal {
        margin-bottom: 130px;
        @media (max-width: 1800px) {
            margin-bottom: 90px;   
        }
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
        img {
            max-width: 100%;
        }
    }
    &-address {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 32px;
        color: #ddd;
        margin-bottom: 130px;
        @media (max-width: 1800px) {
            margin-bottom: 90px;   
        }
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
        a{
            color: #ddd;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &-content {
        @media (max-width: 1200px) and (min-width: 767px) {
            display: flex;
            flex-wrap: wrap;
            .footer-logo {
                order: 1;
                width: 50%;
                max-width: 100%;
                margin-bottom: 25px;
            }
            .footer-appeal{
                order: 3;
                width: 50%;
                margin-top: -75px;
                
                img {
                    max-width: 340px;
                }
            }
            .footer-address {
                order: 2;
                width: 50%;
                padding-top: 75px;
                margin-bottom: 50px;
                text-transform: uppercase;
            }
            .footer-social {
                order: 4;
                width: 50%;
            }
        }
    }
}

.social {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    li {
        padding-left: 15px;
        padding-right: 15px;
        a{
            display: flex;
            height: 37px;
            align-items: center;
            justify-content: center;
            transition: all .25s ease;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.burger-open {
    [data-burger] {
        span {
            position: absolute;
            margin-top: 0 !important;
            &:nth-child(1) {
                transform: rotate(45deg) ;
            }
            &:nth-child(2) {
                transform: translateX(100%);
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
    .nav__section {
        @media (max-width: 1100px) {
            visibility: visible;
            z-index: 10;
            .nav-top {
                & > ul {
                    flex-direction: column;
                    li {
                        a {
                            min-height: auto !important;
                            padding-left: 0;
                            i {
                                display: none;
                            }
                            .open-child {
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-right: 2px solid #BDBEC0;
                                border-bottom: 2px solid #BDBEC0;
                                transform: rotate(-45deg);
                                transition: all .25s ease;
                            }
                            
                        }
                        .is-open {
                            .sub-nav__child{
                                height: auto !important;
                                visibility: visible !important;
                                opacity: 1 !important;
                            }
                            .open-child {
                                transform: rotate(45deg) translateY(-5px);
                            }
                        }
                        .sub-nav {
                            li{
                                &:hover {
                                    a{
                                        background-color: transparent !important;
                                    }
                                }
                            }
                            a{
                                font-weight: 400 !important;
                            }
                        }
                        .sub-nav__child {
                            position: initial;
                            left: initial;
                            top: initial;
                            margin-top: 0 !important;
                            visibility: hidden !important;
                            opacity: 0 !important;    
                            height: 0 !important;
                            overflow: hidden;
                            background-color: #5c6067;
                            border: none !important;
                            width: calc(100% + 40px);
                            margin-left: -20px;
                            padding-left: 20px;
                            padding-right: 20px;
                            transform: translateX(0) scale(1) !important;
                            transition: none !important;
                            &::before,
                            &::after {
                                display: none !important;
                            }
                            h4 {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .nav-top {
        & > ul {
            li {
                z-index: 1;
                & > a {
                    background-color: transparent !important;
                    text-transform: uppercase;
                }
                &:hover {
                    z-index: 5;
                }
                .sub-nav{
                    visibility: visible;
                    transform: translateY(0) scale(1);
                    opacity: 1;
                    position: relative;
                    left: initial;
                    top: initial;
                    max-width: 100%;
                    height: calc(100% - 74px);
                    padding-bottom: 15px;
                    li {
                        position: initial;
                        &:hover {
                            & > a {
                                background-color: #6a6e75 !important;
                            }
                        }
                        a{
                            max-width: 100%;
                        }
                        .sub-nav__child{
                            margin-top: -74px;
                            height: calc(100% + 74px);
                            border-left: 1px solid #ddd;
                            border-right: 1px solid #ddd;
                            overflow: hidden;
                            transition: none;
                            &::before {
                                content: "";
                                position: fixed;
                                left: 50%;
                                transform: translateX(-42%);
                                top: 0;
                                width: 100vw;
                                height: 100%;
                                background-image: url('../img/bg_menu.jpg');
                                background-repeat: no-repeat;
                                background-position: bottom center;
                                background-size: cover;
                                z-index: 1;
                                background-color: $accent;
                            }
                            &::after {
                                content: "";
                                position: fixed;
                                left: 50%;
                                transform: translateX(-42%);
                                top: 0;
                                width: 100vw;
                                height: 100%;
                                background-color: $accent;
                                opacity: 0.8;
                                z-index: 2;
                            }
                            & > * {
                                z-index: 3;
                                position: relative;
                            }
                            h4 {
                                display: flex;
                                margin-bottom: 20px;
                                background-color: transparent;
                            }
                            a{
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav-top {
    .sub-nav {
        min-width: 100%;
    }
}

.nav__section {
    background-color: $accent;
    position: relative;
    z-index: 3;
    .button {
        display: none;
    }
    @media (max-width: 1100px) {
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 100px;
        .button {
            display: flex;
            position: fixed;
            right: 10px;
            top: 10px;
            z-index: 10;
            transition: none;
            &::before {
                background-color: rgba(217,217,217,.65);
            }
            span {
                background-color: $accent;
                position: absolute;
                margin-top: 0;
                &:nth-child(1) {
                    transform: rotate(45deg) ;
                }
                &:nth-child(2) {
                    transform: translateX(100%);
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.nav-top {
    & > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        & > li {
            & > a{
                font-weight: 600;
            }
        }
        li {
            //flex-grow: 1;
            flex: 1;
            position: relative;
            a{
                display: flex;
                min-height: 74px;
                align-items: center;
                color: #ddd;
                font-size: 16px;
                line-height: 22px;
                text-decoration: none;
                padding: 15px;
                i {
                    font-size: 14px;
                    margin-left: 7px;
                    font-style: normal;
                }
                &:hover {
                    //text-decoration: underline;
                }
            }
            &:hover {
                & > a {
                    background-color: #4f545b;
                    i {
                        font-weight: 600;
                    }
                }
                .sub-nav{
                    visibility: visible;
                    transform: translateY(0) scale(1);
                    opacity: 1;
                }
            }
            .sub-nav {
                background-color: rgba(60,65,73,.9);
                position: absolute;
                left: 0;
                top: 100%;
                visibility: hidden;
                transition: all .25s ease;
                opacity: 0;
                transform: translateY(10px) scale(.9);
                padding: 15px 0;
                padding-bottom: 0;
                @media (max-width: 1100px) {
                    transition: none !important;
                }
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    li {
                        position: relative;
                        &:hover {
                            .sub-nav__child{
                                visibility: visible;
                                transform: translateX(0) scale(1); 
                                opacity: 1;
                            }
                            
                        }
                        a{
                            color: #ddd;
                            font-size: 16px;
                            min-height: auto;
                            padding: 7px 15px;
                            &:hover {
                                background-color: #6a6e75;
                                // /font-weight: 400;
                            }
                        }
                        .sub-nav__child {
                            position: absolute;
                            left: 100%;
                            top: 0;
                            width: 100%;
                            transform: translateX(-10px) scale(.9);
                            visibility: hidden;
                            opacity: 0;
                            transition: all .25s ease;
                            h4 {
                                font-size: 16px;
                                min-height: 74px;
                                color: #ddd;
                                font-size: 16px;
                                line-height: 22px;
                                padding: 15px;
                                margin: 0;
                                display: none;
                                text-transform: uppercase;
                                align-items: center;
                                background-color: $accent;
                            }
                            ul {
                                li {
                                    a{
                                        background-color: rgba(106,110,117,1);
                                        &:hover {
                                            background-color: #5a5e64;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.countes__section {
    background: linear-gradient(180deg,#fff 84px,rgba(209,209,209,.45) 0);;
    padding-bottom: 18px;
    padding-top: 0px;
    @media (max-width: 992px) {
        padding: 15px 0;
        background: linear-gradient(180deg,#fff 68px,rgba(209,209,209,.45) 0);
        .countes-item {
            .num {
                font-size: 45px;
                line-height: 54px;
                margin-bottom: 15px;
            }
            .text {
                font-size: 12px;
                line-height: 14px;
            }
            
        }    
    }
    @media (max-width: 576px) {
        padding: 0;
        padding-top: 10px;
        background: none;
        .row {
            flex-wrap: wrap;
            .col {
                width: 100%;
                flex-basis: 100%;
                &:last-child {
                    .countes-item {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .countes-item {
            margin-bottom: 10px;
            max-width: 100%;
            .num {
                position: relative;
                z-index: 2;
            }
            .text {
                position: relative;
                padding: 10px 0;
                margin-top: -15px;
                width: calc(100% + 40px);
                margin-left: -20px;
                padding-left: 20px;
                padding-right: 20px;
                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: rgba(209,209,209,.45);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            
        }   
    }
    .countes-item {
        max-width: 430px;
        .num {
            font-size: 70px;
            line-height: 82px;
            color: #63676D;
            font-weight: 500;
            margin-bottom: 15px;
            word-break: break-word;
        }
        .text {
            font-size: 16px;
            line-height: 19px;
        }
        
    }
}

.board-main{
    &__section {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        margin-bottom: 50px;
        @media (max-width: 576px) {
            margin-bottom: 30px;
            &::after,
            &::before {
                display: none;
            }
        }
        &::before {
            content: '';
            display: block;
            padding-top: 31%;
            @media (max-width: 992px) {
                padding-top: 34%;
            }
        }
        &::after {
            content: '';
            width: 80%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
            @media (max-width: 992px) {
                width: 100%;
            }
        }
    }
    &__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
        @media (max-width: 992px) {
            background-position: left center;
        }
        a{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        @media (max-width: 576px) {
            position: relative;
            margin-bottom: 20px;
            &::before {
                content: '';
                display: block;
                padding-top: 63%;
            }
        }
    }
    &__content {
        width: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        padding-right: 50px;
        @media (max-width: 1610px) {
            a {
                font-size: 40px;
                line-height: 42px;
            }
        }
        @media (max-width: 1200px) {
            a {
                font-size: 25px;
                line-height: 32px;
                padding: 25px 0;
            }
        }
        @media (max-width: 992px) {
            padding-right: 20px;
            a {
                padding: 15px 0;
            }
        }
        @media (max-width: 767px) {
            padding-left: 8px;
            padding-right: 8px;
            a{
                font-size: 20px;
                line-height: 1;
            }
        }
        @media (max-width: 576px) {
            position: relative;
            transform: none;
            width: 100%;
            top: 0;
            span,
            h5 {
                color: #8a8d92;
                font-size: 16px;
                line-height: 1;
            }
            a {
                padding-top: 15px 0;
                font-size: 16px;
                line-height: 1;
                color: $accent;
            }
        }
        span,
        h5 {
            margin: 0;
            display: block;
            font-size: 16px;
            line-height: 32px;
            text-transform: uppercase;
            font-weight: 400;
            color: #DDDDDD;
        }
        span {
            text-transform: none;
        }
        a{
            font-size: 54px;
            line-height: 58px;
            color: #fff;
            text-decoration: none;
            padding: 40px 0;
            display: block;
            font-weight: 600;
        }
    }
}

.reports__section {
    overflow: hidden;
    margin-bottom: 60px;
    @media (max-width: 992px) {
        margin-bottom: 0;
        [class^="col"] {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}
.reports-item {
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @media (max-width: 992px) {
        iframe {
            height: calc(50vw - 20px);
        }
        a {
            &::before {
                padding-top: 50%;
            }
        }
    }
    @media (max-width: 992px) {
        
    }
    @media (max-width: 767px) {
        padding-left: 8px;
        padding-right: 8px;
        h3 {
            font-size: 16px;
            line-height: 24px;
        }
        iframe {
            height: calc(60vw - 20px);
        }
        a{
            padding: 20px;
            color: #3C4149;
            text-decoration: none;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            width: calc(100% + 32px);
            margin-left: -16px;
            &::before {
                display: none;
            }
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(255,255,255,.5);
                z-index: 1;
            }
            img {
                max-width: 170px;
                position: relative;
                left: initial;
                top: initial;
                margin-bottom: 60px;
                z-index: 2;
            }
            span {
                display: block;
                z-index: 2;
            }
        }
    }
    h3{
        margin-top: 0;
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    p{
        margin-top: 0;
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    a {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-size: cover;
        background-position: center;
        &::before {
            content: '';
            padding-top: 55%;
            display: block;
        }
        img {
            max-width: 290px;
            display: block;
            position: absolute;
            left: 25px;
            top: 35px;
        }
        span {
            display: none;
        }
    }
}

.btn-all {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #575756;
    text-decoration: none;
    background-color: #ebebeb;
    line-height: 1;
    padding: 5px 0;
    @media print {
        display: none;
    }
    @media (max-width: 576px) {
        padding-left: 20px !important;
    }
    &:hover {
        color: #575756;
        img {
            transform: rotate(45deg)
        }
    }
    img {
        width: 20px;
        height: 20px;
        margin-right: 7px;
        transition: all .25s ease;
    }
    &::after,
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        background-color: #ebebeb;
    }
    &::after {
        left: initial;
        right: -100%;
    }
}

.preview-news__section {
    margin-bottom: 60px;
    @media (max-width: 992px) {
        margin-bottom: 20px;
    }
    .row {
        [class^='col'] {
            @media (max-width: 992px) {
                &:nth-last-child(1) ,
                &:nth-last-child(2) {
                    display: none;
                }
            }
        }
    }
}

.news-item {
    margin-bottom: 30px;
    &__image {
        margin-bottom: 30px;
        overflow: hidden;
        @media (max-width: 767px) {
            margin-bottom: 15px;
            margin-left: -20px;
            width: calc(100% + 40px);
        }
        a{
            background-size: cover;
            background-position: center;
            display: block;
            transition: all .25s ease;
            transform-origin: 50% 50%;
            &::before {
                content: '';
                padding-top: 58%;
                display: block;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__content {
        @media (max-width: 767px) {
            a{
                font-size: 16px;
                line-height: 1;
                font-weight: 600;
            }
            .tag {
                color: #8a8d92;
            }
            .date {
                color: #8a8d92;
            }
        }
        .tag {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 1;
        }
        a{
            font-size: 22px;
            line-height: 30px;
            text-decoration: none;
            color: $accent;
            margin-bottom: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow-y: hidden;
            &:hover {
                text-decoration: underline;
            }
        }
        .date{
            font-size: 16px;
            line-height: 1;
        }
    }
}
.group-links__section{
    margin-bottom: 30px;
    @media (max-width: 767px) {
        margin-bottom: 0;
    }
    .row {
        [class^="col"] {
            @media (max-width: 1100px) {
                flex-basis: 33.33333%;
            }
            @media (max-width: 767px) {
                flex-basis: 50%;
            }
        }
    }
}
.group-links__item {
    border-right: 1px solid $accent;
    margin-bottom: 25px;
    @media (max-width: 1100px) {
        a {
            font-size: 20px;
            line-height: 1.2;
        }
    }
    @media (max-width: 767px) {
        border-right: none;
        a{
            font-size: 16px;
            max-width: 140px;
        }
    }
    a{
        font-size: 22px;
        line-height: 30px;
        color: $accent;
        text-decoration: none;
        max-width: 190px;
        display: inline-block;
        &:hover {
            text-decoration: underline;
        }
    }
}

.article-main__section {
    &::after {
        display: none !important;
    }
    .btn-all {
        transform: translateY(30px);
    }
    .board-main__content {
        a{
            span {
                font-size: 25px;
                line-height: 32px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow-y: hidden;
                margin-top: 10px;
                @media (max-width: 1300px) {
                    font-size: 20px;
                    line-height: 24px;
                }
                @media (max-width: 992px) {
                    display: none;
                }
            }
        }
    }
}

.partners__section {
    padding-top: 30px;
}

.partners {
    &__item {
        height: 81px;
        background-repeat: no-repeat;
        background-position: left center;
        margin-bottom: 30px;
        @media (max-width: 1200px) {
            background-size: contain;
        }
        &.--big {
            height: 135px !important;
        }
        @media (max-width: 576px) {
            margin-bottom: 15px;
        }
    }
    &__top {
        padding-bottom: 10px;
    }
    &__bottom {
        background-color: #ebebeb;
        padding-top: 30px;
        position: relative;
        .partners__item {
            height: 63px;
        }
        @media (max-width: 576px) {
            background-color: transparent;
            &::before {
                content: '';
                width: 90%;
                height: 2px;
                background-color: $accent;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
            }
        }
    }
}

.breadcrumbs{
    &__section {
        padding: 30px 0;
        @media (max-width: 992px) {
            padding-bottom: 15px;
        }
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            margin-bottom: 10px;
            & + li {
                &::before {
                    content: '·';
                    margin: 0 7px;
                    font-size: 16px;
                    color: $accent;
                }
            }
            &:last-child {
                a{
                    pointer-events: none;
                }
            }
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 1;
                color: $accent;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.news-item__inline {
    margin-bottom: 45px;
    & + .news-item__inline {
        @media (max-width: 767px) {
            position: relative;
            &::before {
                content: '';
                width: 100%;
                height: 2px;
                background-color: $accent;
                position: absolute;
                left: 0;
                top: -24px;
            }
        }
        
    }
    .date {
        font-size: 16px;
        line-height: 1;
        color: #828282;
        margin-bottom: 20px;
    }
    a{
        color: $accent;
        font-size: 25px;
        line-height: 30px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.pagination {
    padding-top: 20px;
    padding-bottom: 50px;
    @media print {
        display: none;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
            justify-content: center;
        }
        li {
            & + li {
                margin-left: 60px;
                @media (max-width: 992px) {
                    margin-left: 40px;
                }
            }
            a{
                &.active {
                    path {
                        fill: #828282;
                    }
                }
                &.num {
                    font-size: 25px;
                    text-decoration: none;
                    color: $accent;
                    line-height: 1;
                    font-weight: 500;
                }
                &.link__icon {
                    text-decoration: none;
                    display: flex;
                    path {
                        stroke: #828282;
                        fill: transparent;
                    }
                    &:hover {
                        path {
                            fill: #828282;
                        }
                    }
                    &.first {
                        transform: scaleX(-1);
                    }
                    &.prev {
                        transform: scaleX(-1);
                    }
                    &.next {

                    }
                    &.last {

                    }
                }
            }
        }
    }
}

.news__other {
    .news-item__inline  {
        &.no-border {
            &::before {
                display: none;
            }
        }
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #828282;
            position: absolute;
            left: 0;
            bottom: -25px;
        }
        .date {

        }
        a{
            font-size: 16px;
            line-height: 24px;
            color: #828282;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow-y: hidden;
        }
    }
}

.controll {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    @media print {
        display: none;
    } 
    @media (max-width: 700px) {
        flex-direction: column;
        .date {
            order: 2;
            margin-bottom: 0;
        }
    }
    .date {
        color: #828282;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 15px;
        @media (max-width: 767px) {
            margin-top: 40px;
        }
    }
}
.button-group {
    display: flex;
    flex-wrap: wrap;
    &__item {
        & + .button-group__item {
            margin-left: 15px;
        }
    }
}

.textgraph {
    margin-bottom: 60px;
    @media print {
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 992px) {
        h1{
            font-size: 25px;
            line-height: 30px;
        }
        p{
            margin-bottom: 20px;
        }
    }
    h1{
        margin-top: 0;
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 40px;
        color: $accent;
    }
    h2,
    h3,
    h4,
    h5,
    h5,
    h6 {
        color: $accent;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
        color: $accent;
        margin-top: 0;
        margin-bottom: 25px;
    }
    ul,
    ol {
        li{
            font-size: 16px;
            line-height: 24px;
            color: $accent;
            margin-bottom: 7px;
            &::marker {
                color: #b72a1f;
            }
        }
    }

    img{
        max-width: 100%;
        margin-bottom: 20px;
    }
    a{
        color: #000;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
    hr {
        border-color: #C8C8C8;
        opacity: 1;
    }
    figure {
        max-width: 600px;
        width: 100%;
        display: block;  
        margin-bottom: 20px;
        img {
            margin-bottom: 0;
            width: 100%;
        }
        figcaption {
            font-size: 14px;
            padding: 10px;
            border: 1px solid #c8c8c8;
            font-size: 14px;
            line-height: 1.2;
        }
    }
}

.modal--custom {
    .modal-header {
        justify-content: flex-end;
        border-bottom: none;
        .btn-close {
            margin-left: 10px !important;
            width: 34px;
            height: 34px;
            background-color: #d8d8d8;
            background-image: none;
            padding: 0;
            border-radius: 50%;
            position: relative;
            opacity: 1;
            &::before,
            &::after {
                content: '';
                width: 13px;
                height: 3px;
                background-color: $accent;
                position: absolute;
                left: 50%;
                top: 50%;
                
            }
            &::before {
                transform: translate(-50%,-50%) rotate(45deg);
            }
            &::after {
                transform: translate(-50%,-50%) rotate(-45deg);
            }   
        }
    }
    .modal-content {
        border-radius: 0;
    }
    .modal-body {
        //overflow-y: hidden;
    }
    .modal-scroll {
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background-color: darkgrey;
        }
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
    }
    .textgraph{
        h1{
            font-size: 40px;
            line-height: 48px;
            font-weight: 600;
            @media (max-width: 992px) {
                font-size: 25px;
                line-height: 30px;
            }
        }
        .date {
            color: #828282;
            font-size: 16px;
            line-height: 1;
            margin-bottom: 15px;
        }
    }
}

.footer-copyrait {
    display: flex;
    align-items: center;
     a{
        text-decoration: none; 
        margin-right: 10px;
        display: block;
        img {
            margin-bottom: 0;
        }
     }
    span {
        color: #909090;
        font-size: 12px;
    }
}

.page__title{
    font-size: 25px;
    line-height: 34px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 35px;
}

.fieldset{
    margin-bottom: 20px;
    legend {
        padding-left: 20px;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 10px;
        color: $accent;
    }
    input {
        border-radius: 80px;
        border: none;
        background-color: #e7e7e7;
        padding-left: 20px;
        min-height: 48px;
        font-size: 16px;
        width: 100%;
    }
    textarea {
        width: 100%;
        resize: none;
        min-height: 200px;
        border: none;
        outline: none;
        padding-left: 20px;
        padding-top: 15px;
    }
    &__search {
        display: flex;
        margin-bottom: 30px;
        
        .input {
            flex-grow: 1;
            position: relative;
            &::before{
                content: '';
                width: 21px;
                height: 21px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('../img/loopa.svg');
                background-size: 21px;
                background-position: center;
            }
            input {
                width: 100%;
            }
            & + button {
                margin-left: 20px;
            }
        }
    }
    &__radio {
        label {
            display: flex;
            input {
                display: none;
                &:checked + .cust-input {
                    &::before {
                        transform: translate(-50%,-50%) scale(1);
                    }
                }
            }
            .cust-input  {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #f3f3f3;
                margin-right: 10px;
                position: relative;
                &::before {
                    content: '';
                    width: 17px;
                    height: 17px;
                    background-color: #828282;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%) scale(0);
                    border-radius: 50%;
                    transition: all .25s ease;
                }
            }
            .cust-label {
                width: calc(100% - 40px);
                font-size: 16px;
                line-height: 1;
                margin-top: 6px;
            }
        }
    }
    &__check {
        label {
            display: flex;
            input {
                display: none;
                &:checked + .cust-input {
                    &::before {
                        transform: translate(-50%,-50%) scale(1);
                    }
                }
            }
            .cust-input  {
                width: 30px;
                height: 30px;
                border-radius: 5px;
                background-color: #f3f3f3;
                margin-right: 10px;
                position: relative;
                &::before {
                    content: '';
                    width: 17px;
                    height: 17px;
                    background-color: #828282;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%) scale(0);
                    border-radius: 5px;
                    transition: all .25s ease;
                }
            }
            .cust-label {
                width: calc(100% - 40px);
                font-size: 16px;
                line-height: 1;
                margin-top: 6px;
            }
        }
    }
    &__datepicker {
        legend {
            font-size: 16px;
            line-height: 1;
            padding-left: 30px;
        }
        .input {
            position: relative;
            &::before {
                content: '';
                width: 32px;
                height: 32px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('../img/icons/calendare.svg');
                background-size: cover;
                background-position: center;
                pointer-events: none;
            }
        }
        
    }
    &__file {
        input {
            opacity: 0;
            position: relative;
            z-index: 2;
        }
        .file {
            position: relative;
            .file-mask {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                .fa {
                    margin-right: 10px;
                }
                span {
                    font-size: 14px;
                    color: #828282;
                }
            }
        }
    }
}

.advanced-search {
    margin-top: 30px;
    @media (max-width: 576px) {
        background-color: #e7e7e7;
        margin-top: 10px;
        padding-top: 10px;
        margin-left: -20px;
        width: calc(100% + 40px);
        padding-left: 20px;
        padding-right: 20px;
        .row--first {
            &::before {
                display: none;
            }
        }
        h3 {
            color: #828282;
        }
        .fieldset__check label .cust-input{
            background-color: #fff;
        }
        .fieldset input{
            background-color: #fff;
        }
    }
    h3 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1;
        color: $accent;
    }
    .row--first{
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 20px;
        @media (max-width: 576px) {
            overflow-y: auto;
            height: 300px;
        }
        &::before{
            content: '';
            width: calc(100% - 20px);
            height: 1px;
            background-color: $accent;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }
}

.page__finder {
    .fieldset__search {
        @media (max-width: 576px) {
            position: relative;
            .input {
                &::before {
                    display: none;
                }
            }
            .button__submit {
                font-size: 0;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                padding: 0;
                background-image: url('../img/loopa.svg');
                background-size: 21px;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    .result {
        margin-top: 60px;
        & > span {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 40px;
            display: block;
        }
        .result-el {
            margin-bottom: 60px;
        }
        &-item {
            padding: 25px 0;
            border-bottom: 1px solid $accent;
            &:first-child {
                border-top: 1px solid $accent;
            }
            a{
                display: block;
                color: $accent;
                text-decoration: none;
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                margin-bottom: 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
            &__legend {
                display: flex;
                @media (max-width: 767px) {
                    flex-direction: column;
                }
                div {
                    font-size: 16px;
                    line-height: 24px;
                    & + div {
                        margin-left: 40px;
                        @media (max-width: 767px) {
                            margin-left: 0;
                            margin-top: 10px;
                        }
                    }
                }
                .format {
                    text-transform: uppercase;
                    padding: 5px;
                    background-color: $accent;
                    color: #fff;
                    font-weight: 600;
                    line-height: 1;
                    font-size: 14px;
                }
            }
        }
    }
}

.search__form {
    position: relative;
    display: flex;
    align-items: center;
    &.open {
        input {
            width: 400px;
            background-color: rgba(218,218,218,1);
            padding-left: 20px;
            z-index: 2;
            @media (max-width: 576px ) {
                width: 264px;
            }
        }
        button {
            z-index: 3;
        }
    }
    @media (max-width: 1800px) {
        input {
            width: 48px;
            height: 48px;
        }
        button {
            width: 48px;
            height: 48px;
            background-size: 21px;
        }
    }
    input{
        height: 48px;
        width: 48px;
        border-radius: 100px;
        border: none;
        background-color: transparent;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .25s ease;
        padding: 0;
    }
    button {
        width: 48px;
        height: 48px;
        background-color: rgba(218,218,218,.65);
        border-radius: 50%;
        border: none;
        padding: 0;
        outline: none;
        background-image: url('../img/loopa.svg');
        background-size: 21px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
    }
}

.wrap-table {
    margin-bottom: 20px;
    overflow-x: auto;
    &.table-column-auto {
        td {
            width: auto !important;
        }
    }
    table {
        width: 100%;
        th {
            color: $accent;
            font-weight: normal;
            padding-bottom: 25px;
            padding-right: 25px;
            border-bottom: 1px solid #E7E7E7;
            @media (max-width: 992px) {
                padding-right: 10px;
            }
            @media (max-width: 576px) {
                display: none;
            }
            .button-sort {
                display: flex;
                align-items: center;
                background-color: transparent;
                border: none;
                padding: 0;
                outline: none;
                white-space: nowrap;
                &::after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-right: 2px solid $accent;
                    border-bottom: 2px solid $accent;
                    transition: all .25s ease;
                    margin-left: 10px;
                }
                &--up {
                    &::after {
                        transform: rotate(225deg) translateY(-5px);
                    }
                }
                &--down {
                    &::after {
                        transform: rotate(45deg);
                    }
                }
            }
        }
        td{
            vertical-align: text-top;
            padding: 25px 0;
            padding-right: 25px;
            border-bottom: 1px solid #E7E7E7;
            @media (max-width: 992px) {
                padding-right: 10px;
            }
            @media (max-width: 576px) {
                border-bottom: none;
                padding: 0;
            }
            .open-data__item {
                p {
                    margin-bottom: 30px;
                }
            }
            a,
            p {
                padding: 0;
                margin: 0;
                font-size: 16px;
                line-height: 1.2;
                color: #000;
            }
            a{
                text-decoration: none;
                display: block;
                .format {
                    display: inline-block;
                    text-decoration: none;
                    margin-right: 10px;
                }
                & + a {
                    margin-top: 15px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        tr {
            @media (max-width: 576px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
            }
            td {
                &:nth-child(1) {
                    width: 10%;
                    @media (max-width: 992px) {
                        width: auto;
                    }
                    @media (max-width: 576px) {
                        width: 30px;
                        padding-top: 10px;
                        color: #828282;
                        a,p {
                            color: #828282;
                        }
                    }
                }
                &:nth-child(2) {
                    width: 45%;
                    @media (max-width: 992px) {
                        width: auto;
                    }
                    @media (max-width: 576px) {
                        width: calc(100% - 30px);
                        padding-top: 10px;
                        padding-bottom: 10px;
                        color: #828282;
                        a,p {
                            color: #828282;
                        }
                    }
                }
                &:nth-child(3) {
                    width: 45%;
                    @media (max-width: 992px) {
                        width: auto;
                    }
                    @media (max-width: 576px) {
                        width: calc(100% - 30px);
                        position: relative;
                        padding-bottom: 10px;
                        &::before {
                            content: '';
                            width: calc(100% + 30px);
                            height: 1px;
                            background-color: #828282;
                            position: absolute;
                            left: -30px;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.format {
    text-transform: uppercase;
    padding: 5px;
    background-color: $accent;
    color: #fff;
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    &--light {
        background-color: #dadada;
    }
}

.appeal__section {
    background-color: #ebebeb;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    @media print {
        display: none;
    }
    h3 {
        margin-top: 0;
        font-size: 25px;
        line-height: 1.2;
        color: $accent;
        margin-bottom: 20px;
        font-weight: 600;
    }
    h4 {
        margin-top: 0;
        font-size: 25px;
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: 20px;
        @media (max-width: 992px) {
            font-size: 16px;
        }
    }
    .fieldset {
        input {
            background-color: #f8f8f8;
            
        }
    }
    .button__submit {
        background-color: #f8f8f8;
        &:disabled {
            background-color: rgba(60, 65, 73, 0.2);
            cursor: default;
            color: #909090;
        }
    }
    .form-bottom {
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
        @media (max-width: 576px) {
            &__item {
                width: 50%;
                .button__submit{
                    width: auto;
                }
                .code-image{
                    min-width: auto;
                    width: 100%;
                }
            }
        }
        &__item {
            margin-bottom: 20px;
            & + .form-bottom__item {
                padding-left: 30px;
            }
            .fieldset{
                max-width: 280px;
                margin-bottom: 0;
            }
            .code-image {
                min-width: 170px;
                background-color: $accent;
                height: 50px;
            }
            .required {
                font-size: 14px;
                line-height: 1.2;
                max-width: 130px;
            }
            .button__submit{
                width: 280px;
                text-align: center;
            }
        }
    }
}

.line {
    margin: 30px 0;
    background-color: #606060;
    width: 100%;
    height: 1px;
}
.ml-auto {
    margin-left: auto;
}

.open-data__item {
    max-width: 430px;
    p {
        margin-bottom: 30px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        li {
            margin-bottom: 15px;
            display: flex;
            span {
                width: 50%;
                color: #575756;
            }
        }
    }
    .icons {
        display: flex;
        align-items: center;
        &__item {
            display: flex;
            align-items: center;
            & + .icons__item {
                margin-left: 30px;
                @media (max-width: 576px) {
                    margin-left: 15px;
                }
            }
            img {
                margin-right: 5px;
            }
            .format {
                margin-right: 5px;
                background-color: #828282;
            }
            span:not(.format) {
                color: #828282;
                font-size: 16px;
                line-height: 1;
                @media (max-width: 576px) {
                    font-size: 14px;
                }
            }
        }
    }
}

.page__open-data {
    .column-text {
        columns: 2;
        gap: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: $accent;
        @media (max-width: 576px) {
            columns: 1;
        }
        p{
            font-size: 16px;
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 20px;
        }
        h4 {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 16px;
        }
        a {
            color: $accent;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.open-data__table {
    table {
        tr {
            td {
                @media (max-width: 576px) {
                    &:nth-last-child(1),
                    &:nth-last-child(2),
                    &:nth-last-child(3) {
                        display: none;
                    }

                    &:nth-child(1){
                        width: 30px !important;
                    }
                    &:nth-child(2){
                        width: calc(100% - 30px) !important;
                        position: relative;
                        &::before {
                            content: '';
                            width: calc(100% + 30px);
                            height: 1px;
                            background-color: #575756;
                            position: absolute;
                            left: -30px;
                            bottom: 0;
                        }
                    }
                    .icons{
                        width: calc(100% + 30px);
                        margin-left: -30px;
                    }
                } 
            }
        }
    }
}

.gallery-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    color: $accent;
    text-decoration: none;
    font-size: 25px;
    line-height: 1.2;
    @media (max-width: 992px) {
        margin-bottom: 30px;
    }
    &:hover {
        text-decoration: underline;
        color: $accent;
        .gallery-item__img {
            span {
                transform: scale(1.1);
            }
        }
    }
    &__img {
        margin-bottom: 10px;
        overflow: hidden;
        span {
            display: block;
            background-size: cover;
            background-position: center;
            transition: all .25s ease;
            &::before {
                content: '';
                padding-top: 65%;
                display: block;
            }
        }
    }
}

.float {
    &-right {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
        @media print {
            float: none;
            display: inline-block;
            width: auto;
        }
    }
    &-left {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        @media print {
            float: none;
            display: inline-block;
            width: auto;
        }
    }
}

.hierarch__nav {
    padding-left: 20px;
    & > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        & > li {
            position: relative;
            &.active {
                & > a {
                    position: relative;
                    &::before {
                        content: '';
                        width: 3px;
                        height: 100%;
                        position: absolute;
                        left: -20px;
                        top: 0;
                        background-color: $accent;
                    }
                }
                &:hover {
                    &::before {
                        display: none;
                    }
                }
                
                span {
                    display: none;
                }
                .hierarch__nav-child {
                    position: relative;
                    display: block;
                    left: initial;
                    top: initial;
                    box-shadow: none;
                }
            }
            &:hover {
                &::before {
                    content: '';
                    width: 3px;
                    height: 90%;
                    position: absolute;
                    left: -20px;
                    top: 0;
                    background-color: $accent;
                }
                .hierarch__nav-child {
                    display: block;
                }
            }
            & > a {
                padding: 10px 0;
                display: block;
                font-size: 13px;
                color: $accent;
                text-decoration: none;
                padding-right: 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
            span {
                position: absolute;
                right: 8px;
                top: 50%;
                width: 10px;
                height: 10px;
                border-right: 2px solid $accent;
                border-bottom: 2px solid $accent;
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }
    &-child {
        position: absolute;
        left: 100%;
        top: 0;
        background-color: #fff;
        box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 30%);
        padding: 10px;
        min-width: 200px;
        display: none;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                & + li {
                    margin-top: 10px;
                }
                a{
                    display: block;
                    font-size: 12px;
                    color: $accent;
                    text-decoration: none;
                    position: relative;
                    padding-left: 20px;
                    &::before {
                        content: '-';
                        position: absolute;
                        left: 5px;
                        top: -4px;
                        font-size: 16px;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.management-item {
    margin-bottom: 40px;
    img {
        margin-bottom: 20px;
    }
    h4{
        font-size: 18px;
        font-weight: bold;
        margin-top: 0;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    p {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 14px;
    }
    a{
        font-size: 14px;
    }
}

.breadcrumbs__section {
    @media print {
        display: none;
    } 
}

.management-cluster {
    &__item {
        border-bottom: 1px solid #c8c8c8;
        margin-bottom: 20px;
        padding-bottom: 20px;
        @media print {
            //break-before: always;
            break-after: always;
        }
        &.custom {
            .management-cluster__content {
                flex-wrap: nowrap;
                @media (max-width: 992px) {
                    flex-wrap: wrap;
                }
            }
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 576px) {
            flex-direction: column;
            &-text{
                padding-left: 0 !important;
                padding-right: 0;
                margin: 20px 0;
            }
        }
        &-img {
            & + .management-cluster__content-text {
                padding-left: 30px;
            }
            img {
                max-width: 100%;
                display: block;
                margin-bottom: 0;
            }
        }
        &-text {
            flex-grow: 2;
            font-size: 16px;
            line-height: 1.2;
            padding-right: 30px;
            b {
                display: block;
                margin-bottom: 5px;
            }
            a{
                text-decoration: none !important;
                &:hover {
                    text-decoration: underline !important;
                }
            }
            p {
                br {
                    content: "";
                    display: block;
                    font-size: 200%;
                }
            }
        }
        &-link {
            .icons-fa{
                max-width: 260px;
            }
            a {
                white-space: nowrap;
            }
        }
    }
}

.staff-item {
    border-left: 1px solid #c8c8c8;
    padding-left: 20px;
    margin-bottom: 30px;
    h4{
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: bold;
    }
    p {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    a{
        text-decoration: none !important;
        font-size: 14px;
        &:hover {
            text-decoration: underline !important;
        }
    }
}

.info {
    position: relative;
    text-decoration: none !important;
    color: $accent;
    font-size: 16px;
    padding-left: 25px;
    &:hover {
        text-decoration: underline !important;
    }
    &::before {
        content: 'i';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #c8c8c8;
        position: absolute;
        left: 0;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
        transform: translateY(-50%);
    }
}

.carousel__wrapper {
    position: relative;
    @media print {
        display: none;
    }
    .swiper {
        padding-bottom: 40px;
    }
    .carousel__item {
        a{
            display: block;
            position: relative;
            overflow: hidden;
            &::before {
                content: '';
                padding-top: 80%;
                display: block;
            }
        }
        span {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }
    [class^="swiper-button"] {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        left: 50%;
        top: 100%;
        margin-top: -40px;
        &::before {
            content: '';
            width: 10px;
            height: 10px;
            border-left: 2px solid $accent;
            border-bottom: 2px solid $accent;
            position: absolute;
            left: 50%;
            top: 50%;
            
        }
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
        &.swiper-button-prev {
            margin-left: -40px;
            &::before {
                transform: translate(-50%,-50%) rotate(45deg);
            }
        }
        &.swiper-button-next {
            &::before {
                transform: translate(-50%,-50%) rotate(225deg);
            }
        }
        &.swiper-button-disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}

.icons-fa {
    display: flex;
    margin-bottom: 5px;
    i {
        margin-right: 7px;
        margin-top: 6px;
    }
}

.news-list {
    h4 {
        color: #828282;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #828282;
            &:hover {
                text-decoration: underline;
            }
            img {
                margin-right: 10px;
            }
        }
    }
    &__item {
            display: block;
            text-decoration: none !important;
            margin-bottom: 15px;
            border-bottom: 1px solid transparent;
            padding-bottom: 15px;
            &:hover {
                border-bottom-color: $accent;
                .date {
                    color: $accent;
                }
            }
            .date {
                margin-bottom: 20px;
                font-size: 16px;
                color: #828282;
                display: block;
            }
            p{
                margin: 0;
                font-size: 16px;
                color: #828282;
            }
    }
}

.page__finder.appeal__section {
    margin-left: -12px;
    margin-right: -12px;
    width: calc(100% + 24px);
    margin-bottom: 50px;
    p {
        &.desc {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
        }
    }

    ul {
        margin: 0px; 
        padding: 0px; 
        list-style-type: none;
        li {
            margin: 10px 0px;
            padding: 0px 0px 0px 30px; 
            position: relative;
            &:before {
                width: 20px; 
                height: 2px; 
                position: absolute; 
                left: 0px; 
                top: 11px; 
                background: #909090; 
                content: ""; 
            }
            
        }
    }
    a{
        color: $text;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.wrap-select {
    position: relative;
    &:after {
        content: "▼";
        padding: 0 8px;
        font-size: 12px;
        position: absolute;
        right: 8px;
        top: 15px;
        z-index: 1;
        text-align: center;
        pointer-events: none;
        box-sizing: border-box;
    }
    select {
        border-radius: 80px;
        border: none;
        background-color: #fff;
        padding-left: 20px;
        min-height: 48px;
        font-size: 16px;
        width: 100%;
        padding-right: 25px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.site {
    &.eye_version {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        *::before,
        *::after,
        * {
            background-image: none !important;
        }
        img {
            display: none !important;
        }
    }
}


.bvi-body {
    .partners__section a.partners__item.d-block{
        display: none !important;
    }
}
[data-bvi-images="false"]  {
    .partners__section a.partners__item.d-block{
        display: none !important;
    }
    #js-show-iframe-wrapper {
        .bf-42__logo-wrap {
            img {
                display: block !important;
            }
            .bvi-img-off.bf-42__logo {
                display: none !important;
            }
        }
    }
}